[2022-01-04 17:17] abravalheri commented on #562
Oops, sorry for creating a release before we had the chance to consider this issue 😅

I did a quick search and apparently `is_git_repo` is only called in 2 places

`actions.verify_project_dir`
https://github.com/pyscaffold/pyscaffold/blob/0dbaf83f35bbd9546dc5174f01f89b33338bebed/src/pyscaffold/actions.py#L303

and  `actions.init_git`
https://github.com/pyscaffold/pyscaffold/blob/0dbaf83f35bbd9546d

[2022-01-04 19:08] ksteptoe commented on #556
@FlorianWilhelm @abravalheri  Thank you both I will get on V4.1.2
Glad to be able to contribute in some way and perhaps more in the future I am interested in creating extensions. Anyway for now thanks to you both.

[2022-01-04 19:19] FlorianWilhelm commented on #562
No problem, I already thought that this could go in the next release.

If you also like alternative 2 I would take a look and prep a PR. It will not only be `is_git_repo` but also other functions like it. Basically all functions that execute shell commands.

[2022-01-04 20:34] abravalheri commented on #562
Thank you @FlorianWilhelm

[2022-01-06 07:45] ksteptoe commented on #556
@abravalheri I was going back through this thread and noticed that there was an unanswered question from you , namely:

from you @ksteptoe, I am really curious to understand how a & character ended up as part of the git command in your machine... First I thought it was an alias, but after your answers to my previous question, I have not idea 😅

I too am curious, this morning when installing  4.2.2

[2022-01-07 11:38] abravalheri commented on #536
Just an update on this topic: `setuptools-scm` has accepted the PR, now we just need to wait until they release a new version :)

[2022-01-10 07:55] FlorianWilhelm opened #563 "setuptools-scm seems to break unit tests"
Our [unittests break ](https://cirrus-ci.com/task/4762004492648448) in `test_sdist_install_dirty` and `test_sdist_install_with_1_0_tag_dirty`. Strangely those tests fail only under `test (OS X)` and `coverage (Linux - 3.6)`.

This is the stacktrace.
[code]
The stacktrace shows that somehow the new automatic generated version string is the date like `d20220109`. This is quite strange as we use `no-

[2022-01-10 09:41] abravalheri commented on #563
Hi @FlorianWilhelm, thank you for bringing this up.

So what is happening is that the dates as wrong by one day off?

[2022-01-10 09:50] FlorianWilhelm commented on #563
Ah right, the dirty tag suffix is `.d2022...`. So the question is what is in the `local` variable at that point? Maybe it's missing the dirty tag at all? That the day is wrong day off should be fine as it ran in the morning and maybe this was still yesterday in the US.

[2022-01-10 11:39] FlorianWilhelm commented on #563
@abravalheri, suddenly it works again 😕 . Let's close this.

[2022-01-10 11:39] #563 closed

[2022-01-10 17:20] abravalheri commented on #563
The value for local in the broken test was `ge9df8ac.d20220110`, so the dirty tag seems to be present.
[At some point](https://github.com/pyscaffold/pyscaffold/commit/06637aa34bc9dac2d1168aab6c2d484d36bc072d) I introduced a little trick to avoid failing on one of those *off-by-one* errors but [that hack](https://github.com/pyscaffold/pyscaffold/blob/abcbdbbbbf6932489fa7146db06c3558889155fe/tests/t

[2022-01-11 16:19] FlorianWilhelm opened #565 "Initializing pre-commit environment fails due to no longer supported unauthenticated protocol"
## Description of your problem

pre-commit fails when initializing with:
[code]

This is already reported in an [issue of pyscaffoldext-dsproject](https://github.com/pyscaffold/pyscaffoldext-dsproject/issues/47).

[2022-01-11 16:59] #565 closed

[2022-01-12 10:56] abravalheri opened #567 "Increase awareness about workflow with `setuptools-scm` and `include_package_data=True`"
## Describe your use-case
_Originally described by @nickarini in pyscaffold/pyscaffoldext-custom-extension#49_

The way `setuptools-scm` works might contradict some users expectations: when they add a new file, they want to see it immediately included in the distribution.

This is a practical (and fair) limitation of the way `setuptools`/`setuptools-scm` works: you need to `git add` the file first

[2022-01-12 11:45] abravalheri commented on #556
That is a tricky one... since it is appearing in conda as well that might be related to the way you console interpreter is set up. I can just speculate on the following:

Any chance the programs might be confused thinking you are running on linux and trying to run bash commands instead of the native windows ones?

[2022-01-12 19:26] ksteptoe commented on #556
@abravalheri  @FlorianWilhelm

referencing @abravalheri ...

I have finally got the root of the issue.....and the origin of the "&"

a stackoverflow search took me to it....
https://stackoverflow.com/questions/59480657/cmd-exe-throws-error-was-unexpected-at-this-time

Using the advice there,  and using the recommended script to list any defined autorun commands, the results were as follows:
[code]

[2022-01-12 19:31] abravalheri commented on #556
Thank you very much for reporting your findings here!

I was really curious to understand what was going on 😅!

[2022-01-12 21:38] FlorianWilhelm commented on #556
Wow, that was a difficult one! Cool that you got it figured out, I didn't think it's possible :-)

[2022-01-12 22:11] #567 closed

[2022-01-13 15:13] FlorianWilhelm opened #570 "Conda packages get no longer updated"
## Description of your problem

There are no new packages on conda-forge for versions `4.1.2` and `4.1.3`. We should fix this.

The problem seems to be that we don't publish source distributions anymore to pypi. For instance, looking under
[version 4.1.1 files](https://pypi.org/project/PyScaffold/4.1.1/#files) there is a `tar.gz` but not under [version 4.1.2 files](https://pypi.org/project/PyScaff

[2022-01-13 16:15] abravalheri commented on #570
That is the link: https://github.com/pyscaffold/pyscaffold/pull/535#discussion_r739685295

[2022-01-13 16:32] abravalheri commented on #570
I am also inclined to remove the following phrases from the docs:

[code]

I believe that the problems with `sdist` x `wheel` in setuptools at this point is considered solved, right? (Reference: https://github.com/abravalheri/experiment-setuptools-package-data#results-for-setuptools5920)

[2022-01-13 17:11] FlorianWilhelm commented on #570
Cool that this is solved! Thanks. Then let's have it back in the docs.

[2022-01-13 17:22] #570 closed

[2022-01-17 23:10] stephenlutes opened #575 "Default git branch name"
In the past few years, there has been a move to set default branch names in git as 'main' instead of 'master'. We are at a point where if you create a repository with README in GitHub, they name the default branch 'main'. While switching to that naming scheme may not be advised for default, there is the possibility of including a tag that would allow for setting the default branch name after the i

[2022-01-18 08:54] abravalheri commented on #575
Hi @stephenlutes thank you very much for bringing this up!

I think it would be a nice addition to PyScaffold and I would be more than happy to review a PR.

If you want to give it a go, and are new to PyScaffold development, I would recommend having a look at our [developer guide](https://pyscaffold.org/en/stable/dev-guide.html) and [extension docs](https://pyscaffold.org/en/stable/extensions.htm

[2022-01-18 08:55] abravalheri commented on #575
Maybe `--default-git-branch` conveys the meaning better (but that would definitely require a short form too).

@FlorianWilhelm any thoughts?

[2022-01-18 10:38] FlorianWilhelm commented on #575
Hi @stephenlutes, thanks for your input. I am not sure this is really a common use-case and having a flag for it in `putup` seems a bit like an overkill. To solve this issue, we could for instance mention in the docs that by setting
[code]
you can easily set the default branch of a project scaffold set up with PyScaffold. If you forgot it, you can change it afterwards easily with `git branch -m <n

[2022-01-18 11:05] abravalheri commented on #575
Always wise @FlorianWilhelm

[2022-01-18 16:52] stephenlutes commented on #575
This does work for me personally. I will go ahead and close the issue. However, I do believe there are still use cases for having a flag for this. For instance, someone who may name their personal default branches one thing, but need to use a different branch name for a community project or work. While not necessary right now, I think it is something to keep in mind down the road.

[2022-01-18 20:50] FlorianWilhelm commented on #575
@stephenlutes, cool, then let's leave this open as a reminder to add this to the docs and maybe even a FAQ answer. I can do this if I find some time.

[2022-01-19 13:04] FlorianWilhelm commented on #575
It's fixed in PR #577.

[2022-01-19 13:04] #575 closed

[2022-01-31 13:04] abravalheri opened #581 "Note to our future selves: it seems that the community is moving past `appdirs` and that a more maintained fork has appeard: `platformdirs`."
It seems that the community is moving past `appdirs` and that a more maintained fork has appeared: `platformdirs`.

Ref:
- https://github.com/ActiveState/appdirs/issues/79
- https://github.com/ActiveState/appdirs/issues/170

So for the next version we might consider replacing the dependency (which should be API compatible).

_Originally posted by @abravalheri in https://github.com/pyscaffold/pysca

[2022-02-01 08:47] FlorianWilhelm commented on #562
Resolved in the PR above.

[2022-02-01 08:47] #562 closed

[2022-02-07 19:19] abravalheri opened #585 "Broken links in the documentation"
According to the [CI](https://cirrus-ci.com/task/4735827958824960), the following links are broken:

- https://docs.pytest.org/en/stable/usage.html#dropping-to-pdb-python-debugger-at-the-start-of-a-test ([this link](https://docs.pytest.org/en/stable/how-to/failures.html#using-python-library-pdb-with-pytest) seems to be a suitable replacement)

[2022-02-07 20:50] #585 closed

[2022-02-08 07:32] FlorianWilhelm commented on #585
Thanks @abravalheri!

[2022-02-09 21:10] FlorianWilhelm opened #589 "Add Github Actions CI/CD"
## Describe your use-case
Github Actions seems to become more and more adapted for CI/CD, it thus could be nice to have besides `--gitlab` and `--cirrus` also a `--github` flag.

[2022-02-10 02:39] julie777 commented on #581
I have actually been doing quite a bit of research into XDG directories and on the python solutions to make it easy for applications and tools to find and use the correct directories.

In addition to platformdirs and appdirs there is also [pyxdg](https://freedesktop.org/wiki/Software/pyxdg/). There are probably more packages out there that do the same thing. So far I know that virtualenv uses plat

[2022-02-10 19:53] abravalheri commented on #581
Hi @julie777, thank you very much for the insights!

Regarding your opinion on (1), I agree with that, if the `XDG_*` vars are defined it is reasonable to suppose the users want to place files in an specific place... Have you considered raising this issue in `platformdirs`? I think before we implement it in PyScaffold, that should be targeted "upstream".

Regarding (2), specifically speaking in te

[2022-02-10 20:09] abravalheri opened #593 "Idea: make use of coveralls ability to merge coverage data of multiple builds"
## Describe your use-case
Currently we only measure coverage for a single specific Python version and OS combination. This means that a lot of parts of the code have a `# pragma: no cover` directive...

I recently noticed that coveralls is able to merge coverage info: https://docs.coveralls.io/parallel-build-webhook

Maybe we could leverage that in the future.

## Describe the solution you would l

[2022-02-10 20:11] abravalheri commented on #589
Relevant link/example: https://github.com/jaraco/skeleton/blob/main/.github/workflows/main.yml

[2022-02-10 22:52] julie777 opened #594 "checking for git repo produces confusing messages"
## Description of your problem

putup  -vv myprojects

**Please provide the full traceback using the `--very-verbose` flag.**

         run      git.exe rev-parse --git-dir
        info      last command failed with "fatal: not a git repository (or any of the parent directories): .git"

**Please provide any additional information below.**

In this instance the output of the command is not importan

[2022-02-11 09:29] abravalheri commented on #594
Hi @julie777, thank you very much for investigating that.

That is a tricky one... I think we want to know exactly what is happening when the flag `--very-verbose` is on. That helps debugging.

For example a few months ago @FlorianWilhelm managed to fix a very scary bug that was happening because `git` was failing to run. Having the message being printed is useful for when the user is going to rep

[2022-02-13 18:27] julie777 commented on #594
I understand now.
I'm still learning about the code base. Please be patient with me and continue to point me in the right direction.

One of the things that confused me was that in the code I saw `with logger.indent()` but I didn't really see the indent in the output.  Having the first column be right justified hides the nested structure of the second column.

I really like the use of the logging

[2022-02-13 18:30] julie777 opened #600 "putup is running redundant git commands"
## Description of your problem

**Please provide a minimal, self-contained, and reproducible example.**
Just run with --very-verbose.

**Please provide the full traceback using the `--very-verbose` flag.**
[code]

**Please provide any additional information below.**

## Versions and main components

* PyScaffold Version: 4.1.4
* Python Version: 3.10.2
* Operating system: Window 10/git bash
* How d

[2022-02-13 20:04] julie777 opened #602 "Please enable the github wiki for the project"
## Describe your use-case
A good place for development documentation, planning releases, even user tips would be a wiki.

## Describe the solution you would like to see for your use-case
Please enable the wiki for the pyscaffold project.

[2022-02-13 22:51] julie777 opened #605 "PreCommit should fix mixed-line-endings automatically / Add .gitattribute"
### Discussed in https://github.com/pyscaffold/pyscaffold/discussions/337

<div type='discussions-op-text'>

<sup>Originally posted by **CarliJoy** December 14, 2020</sup>
## Description of your problem

Copy stuff from somewhere to PyCharm from a source with different line ending.

This will prevent me from committing at all.
Users with not so much experience (not everybody who writes python pack

[2022-02-13 22:52] julie777 commented on #605
I would like to implement the solution I proposed in  the discussion

Implementing The Requirement

A good way to ensure the requirement is met, and to make sure it doesn't depend on precommit or local developer settings it to add the following two files to the project.

    With this config-based approach, you can ensure that your line endings remain consistent in your codebase regardless of what

[2022-02-13 23:35] julie777 commented on #605
Currently the only file in the repo with non LF endings is docs/gfx/logo.svg which has CRLF endings.
Given that all the other .svg files have LF line endings I don't imagine that changing logo.svg to LF endings will cause any problems.

[2022-02-14 00:20] julie777 opened #607 "Improve docs to help users make sure they install `pre-commit`"
## Description of your problem

I checked in files with blank lines at the end. When I pushed they were changed to remove the blank line. This left me in the state that my github pyscaffold repo was ahead of my local repo.

All commit hooks should be part of the repo and be able to run locally before pushing code.

**Please provide any additional information below.**

## Versions and main componen

[2022-02-14 00:26] julie777 commented on #607
I could use a pointer to information about the .pre-commit-config.yaml. It isn't something I am familiar with.

[2022-02-14 00:45] julie777 commented on #607
I just found out that I missed a step setting my environment so pre-commit is installed.
Now that I have installed it I am trying to understand why it produces an error when I try to run it

[2022-02-14 01:37] julie777 commented on #607
You can close this. After tracking down a bug in pre-commit and hacking it to work for me, everything is fine.

[2022-02-14 15:51] julie777 commented on #607
I think that I will submit a doc change later to help make it easier for future developers.

[2022-02-14 16:12] julie777 commented on #287
I am not at all opposed to supporting alternate tools. I don't think using an extension for that is a problem.
We should allow extension writers to request the extension be added to the pyscaffold collection of repositories and be distributed as part of pyscaffold[all].

I do think we are missing part of the picture with tox and nox though. Currently we install them and expect users to use them fo

[2022-02-14 16:30] abravalheri commented on #287
Hi @julie777,

I think that first we could allow extension writers to list their extensions in PyScaffold docs. That naturally could lead PyScaffold developers to inviting them to add it to `all` or event to the github organization. For that a simple documentation PR sounds appropriate. What do you think? (Maybe documenting this practice can be enough?)

Can you elaborate more on that? I don't und

[2022-02-14 17:08] julie777 opened #609 "Colorizing doesn't work on Windows with git-bash"
## Description of your problem

**Please provide a minimal, self-contained, and reproducible example.**
[code]

**Please provide the full traceback using the `--very-verbose` flag.**
Output has no color.

**Please provide any additional information below.**
istty check is failing, probably because of the know bug in pip
we are also checking for curses and colorama
I understand the check for curses

[2022-02-14 17:10] julie777 commented on #609
I just verified that istty is succeeding and I still have no color

[2022-02-14 17:14] abravalheri commented on #609
Hi @julie777, I think the best way of fixing this is to add a conditional dependency on colorama for Windows.

At least that is what this line indicates:

https://github.com/pyscaffold/pyscaffold/blob/c4469f05fb72c50c227e639fd4efa2ba7cfda2bc/src/pyscaffold/termui.py#L80

Can you check what is the value of this variable, and also what is the effect of installing `colorama` in the same virtualenv yo

[2022-02-14 17:17] abravalheri commented on #447
Yeap. I think it is important that adding `py.typed` is done via an explicit flag (as well as any forms of enforcing static checks). However in #493 Florian suggested to add the type hints by default to the skeleton files as a form of simplifying things, which sounded very reasonable to me.

What do you think?

[2022-02-14 22:13] julie777 commented on #447
I agree, add the best practices by default. Just don't break if the user decides to not use some of them.

[2022-02-14 22:16] julie777 commented on #609
I will certainly investigate more.

(One of the reasons that I am working in the git-bash on Windows environment, instead of just developing on Linux which would make everything easy, is to see how many edge cases that I can find and fix.)

[2022-02-14 22:27] julie777 commented on #594
Years ago when I was using bazaar for SCM I used a python library to access it. It worked quite well.

I know that there are at least two git libraries for python. I will take a look at them and let you know.

I don't have any real objection to running sub-processes when necessary. As you suggest libraries can be nicer in many ways.

I did notice that shell.py default to running subprocesses with

[2022-02-14 22:31] julie777 commented on #600
I haven't had time to really look into it.

My impression from what I remember in the code is that we don't have a well defined initialization phase, so some parts of pysk just check preconditions before they run something, which doesn't matter for most things, but for external commands runs them multiple times.  (I hope the abbreviation is okay. I get tired of typing it out.)

[2022-02-14 22:44] julie777 commented on #602
Discussions are a transitory thing. They are very useful and valid at the time. The problem is they are less useful when you want to see what was decided a year later.

Website is not dynamic. You can't change it right now. You can't add a comment about something. You can't add a note. You can't reword something that is hard to understand.

The easy of change reduces the impedance to documenting t

[2022-02-14 22:53] julie777 commented on #287
@abravalheri

This is probably more of a discussion than part of this issue, but I will try to add a brief comment.

Is PyScaffold a tool to create a project and use tox to do everything else?
Or, is PyScaffold a scaffold for using whatever tools are best of breed for each part of the lifecycle?

I also want to see the new developer be able to write their code and pretty much just "push a button"

[2022-02-14 22:58] julie777 commented on #607
I really need to go back and carefully read all the documentation.
While getting started and getting to know the project I was jumping around so much that I probably missed some important information.

Is there a reason that `pre-commit` is separated out from the dependency installation `pip install -U pip setuptools -e .`?

Honestly, I just missed that step. I ran `pip install...` and expected ev

[2022-02-14 23:49] abravalheri commented on #594
At some point I studied running the command just from a list of string without `shell=True`. The code for that should be somewhere in the git history or in the closed PRs... it should not be very difficult to make it though.

I think the main reason here is to maximise compatibility. Git might be tricky to run. The programa in $EDITOR as well...

[2022-02-15 00:02] abravalheri commented on #287
Thanks @julie777 for providing more info.

I am afraid I am still failing to see how that vision is incompatible with tox (or nox) 😅

I think all the arguments you gave are even more reasons to use tox.

Tox is not really a test running... It is this quirky task runner tool unique to the Python system that is able to run general commands.

It is not really comparable to `make`, `ninja` or `just` b

[2022-02-15 00:05] julie777 commented on #594
After doing some looking for a python git package, I only found one, GitPython.
I also remembered why the bazaar python package was so nice - because bazaar was written in Python and had an api.

As for GitPython I will look at it more closely to see if it provides anything that helps us. Since git isn't written in Python it is a wrapper using subprocess just like we already are doing. It might pr

[2022-02-15 00:05] abravalheri commented on #287
To clarify: tox is not the best tool for every single stage of the dev environment.  But it will allow you to run each individual best tool for each individual task, according to your choosing.

[2022-02-15 00:46] julie777 commented on #287
I am new to tox, so I really don't know that much about it yet. Thanks.

[2022-02-15 01:09] abravalheri commented on #287
It kind of does. Not for the project itself, but for each "task" you want to run with tox (in the tox lingo "tasks" are confusingly called "testenv" for historical reasons).

For example let's say you have a `docs` "task" that you want to run, and this task needs sphinx, sphinx-favicon and sphinx-jsonchema.
You can list this packages (with version specs) in the `deps =` field of your `tox.ini` fil

[2022-02-15 10:19] FlorianWilhelm commented on #602
Hm..., good points @julie777. So you would rather see the Wiki as an internal tool for maintainers to document and layout design decisions in one compact place?

From a user's perspective, we should make sure that our docs are really well and users find what they are looking for effortless. @abravalheri has done an awesome job over the last years to improve our RTD Sphinx docs and for instance our

[2022-02-15 12:55] FlorianWilhelm commented on #600
Good point! That looks like a bug I guess, no reason to call it two times.

[2022-02-15 15:46] julie777 commented on #602
As a part of some other research, this morning I carefully read the single [contributing page](https://pyscaffold.org/en/v4.1.3_a/contributing.html).

This is not to be taken as criticism

1. It is very pretty.
1. It shows how much power sphinx has for formatting and layout.
1. It covers multiple topics and would be more focused as multiple pages with cross-linking.
1. I found several errors that

[2022-02-15 15:56] julie777 commented on #287
I don't want to keep hijacking this issue. I have taken it too far off topic. Let's continue in #601

[2022-02-15 18:08] abravalheri commented on #605
Hi @julie777, please find bellow my attempt to summary of the presented arguments in favour of the change is (from what I could collect from the comments and links):

1. People have trouble with git's `autocrlf=True` configuration as it leaves the local repository in a different state than the remote. Using `.gitattributes` seem to offer a different (better) experience than `autocrlf=True`
2. `.gi

[2022-02-15 19:16] julie777 commented on #602
After muchwirting and thinking this morning, I realized that my first response to your question should have been

which would have given me the information I needed to properly provide more information. So I am asking it now.

@abravalheri  @FlorianWilhelm
Have you ever used a wiki?

[2022-02-15 19:47] abravalheri commented on #602
Yes I did 😆, and I am also aware about the limitations of the Guthub wiki and the capabilities of using GitHub GUI also to suggest changes for documents that are not on a wiki.

(Yes I admit the current docs no longer have a "edit on github" button like the old ones had after the change on the template, but maybe that can be addressed?)

[2022-02-16 08:21] abravalheri commented on #589
Please @GowthamChowdary that would be amazing!

Hopefully  https://pyscaffold.org/en/stable/dev-guide.html can help you in the journey.

[2022-02-16 18:14] FlorianWilhelm commented on #607
I think it's separated out from `pip install -U pip setuptools -e .` to make clear that two steps are needed for the `pre-commit` setup. Also for each step, a small explanation is given on why we do it.

Can this issue be closed, or what change to the docs should be done?

[2022-02-16 19:27] FlorianWilhelm commented on #602
Good question @julie777, I have used even Redmine in the old days and countless other Wikis I have even forgotten the names of. Currently, I am forced to use Confluence at work, which at least doesn't completely suck, to be blunt. On the other hand, I must say that I just love Markdown as it is so simple and gets the job done. I also like that the docs are really closely tight the source code. If

[2022-02-16 21:35] julie777 commented on #609
So it turns out there are a couple problems.

1. pip22 has a bug and when it installs packages with executables they don't get stdout and stderr connected correctly. Reverting back to pip21 fixed that problem. This caused some programs to run, and fail, with no output except the return code. I first had to debug the problem with pre-commit, then later with other tools installed into my venv.

2. B

[2022-02-16 22:13] julie777 commented on #605
@abravalheri  good comments!

I thought the article I linked made a good case for .gitattributes vs pre-commit. I will add that although we are putting it in precommit in our .yaml file for projects that are created with putup, for a plain git user .gitattribute requires less understanding and you don't need to know about hooks.

Regarding A, the combination of .gitattribute and .editorconfig do m

[2022-02-19 16:55] FlorianWilhelm commented on #609
@julie777 does this mean that most people under Windows will have no color? Do you see color if you are using other Python tools? Might also be that we need to change things. Or is it only a problem in git-bash, and this does something strange?

[2022-02-19 17:02] FlorianWilhelm commented on #602
The biggest plus of a wiki is that you can edit easily. But as @abravalheri mentioned this is also possible by just clicking the Markdown file's edit button in the Github API (if it is only for something small like a typo). For bigger doc changes I quite like that our current process uses PR, so we can all look at the changes and then it gets merged like code changes. Again the big plus that docs

[2022-02-19 20:20] #581 closed

[2022-02-20 05:43] julie777 commented on #581
I have submitted an issue to platformdirs. I am also going to talk to freedesktop.org about clarifying some of the missing or ambiguous parts of the XDG spec.

[2022-02-20 06:30] julie777 commented on #602
Well, I did take a look at the edit the doc button. I will admit it is easier than a full code change pull request, unless I missed something someone that wants to make a change still has to clone the repo and submit the pull request. It just make it easy to open the file to edit in an editor.

I don't think that compares with just clicking edit, changing a couple characters and clicking save.

I

[2022-02-20 07:24] FlorianWilhelm commented on #602
Let's discuss the wiki topic next Sunday then when we meet. We could give the wiki a try although I am still quite skeptical. Since @abravalheri wrote the current pages for developers in Markdown (and I really like them), I think foremost you need to convince him of the wiki.

Yes, we host our docs on RTD (which is for free for OSS) and I pay for the domain pyscaffold.org (1.40 € per month) which

[2022-02-20 10:26] abravalheri commented on #602
I think I have accidentally added my thoughts to the discussion in https://github.com/pyscaffold/pyscaffold/discussions/604#discussioncomment-2213728 😅.

Let's talk about that next weekend!

---

Just a small note:

Currently the dev docs are written in `rst` for the PyScaffold repository, although there is a port in `pyscaffoldext-markdown`. However I think the debate `mardown x rst` is not relev

[2022-02-20 16:08] julie777 commented on #609
The problem I have been describing happens with running git-bash on window which creates a terminal using mintty. That is the way I have been running it because installation puts an entry into the start menu to run it. And, the other reason I have been using it is that git-bash and mintty work well with all my terminal (xterm) settings and customization.

**I will will run a complete set of tests

[2022-02-20 18:20] julie777 commented on #594
@abravalheri

Yes it does. I have tried all the possible options, but for a simple `putup <project>` both `-v` and `-vv` seem to produce exactly the same output.

[2022-02-20 18:48] julie777 opened #616 "provide a pyscaffold command to inform users that the command they want is putup"
## Describe your use-case
When a python developer is browsing PyPI and sees and interesting tool, they often don't even read all of the pypi page, or they may have seen the tool mentioned in some discussion somewhere.
Often the user will just pip install and then type "toolname --help" to check it out. Currently they will get command not found when trying to run pyscaffold.

## Describe the soluti

[2022-02-20 18:57] abravalheri commented on #616
I think we can 2 things here:

1. Add a `pyscaffold` command that effectively runs `putup`
   - Rationale: this allows people to run `pipx run pyscaffold myproj` (currently they have to run `pipx run --spec pyscaffold putup myproj`).
2. Add the necessary bits to make `python -m putup` or `python -m pyscaffold` run the same as `putup`
   - Rationale: this allows people to run PyScaffold even if `.l

[2022-02-20 19:34] julie777 commented on #609
(Aside: I did try git-bash in Windows terminal originally, but I am so used to having every instance open in a new window that I let the tabbed interface put me. This was before any of the color talks.)

The results of my testing are in and I threw away the big table I created as a test matrix because, with one exception, everything is based on the terminal program.

# Conclusion
Users on Windows

[2022-02-20 19:56] FlorianWilhelm commented on #616
To play the devil's advocate here 😉 Where there ever people confused about it? It's really only a few lines when reading the quickstart section. Could people be confused between putup and the pyscaffold command then? Would we call it pyscaffold or putup in the docs?

[2022-02-21 02:44] julie777 commented on #616
I don't think pyscaffold should be an alias for putup.

I was just suggesting we put forth a minimal effort to keep lazy users from being confused. (My suggestion was based on another thread.) I didn't have any plans to put it in the documentation. To me it was similar to typing `more` not adding a file name. It gives you a little nudge in the right direction.

Maybe we should just table this if t

[2022-02-21 09:05] FlorianWilhelm commented on #616
I like @julie777 idea of having a `pyscaffold` command that says basically: `To use PyScaffold, please use the 'putup' command and read the docs ....`

[2022-02-22 08:59] abravalheri commented on #594
I think that last time we had a bug, we made all the log messages more verbose because it was hard to find out what was going on.

Maybe we can hide some of the lines that can be confusing and just display them on `--very-verbose`.

[2022-02-22 09:21] abravalheri commented on #607
Ok, I think I will close this issue for now, because there are some instructions in place already. But if anyone wants to improve the docs, please feel free to file a PR!

[2022-02-22 09:21] #607 closed

[2022-02-22 09:31] abravalheri commented on #609
Thank you very much @julie777 for the very thorough investigation!

I think we have 2 action points here:

- _**How to improve the current version of PyScaffold?**_
  We can add `colorama` as a [conditional `install_requires`](https://www.python.org/dev/peps/pep-0508/#versions) for Windows.
  (Adding dependencies is possible since v4.0, in v3.0 we had to be completely standalone for bootstrapping

[2022-02-23 17:07] julie777 commented on #609
@abravalheri
I am still wondering why cygwin works and git-bash doesn't when they are both using the same version of mintty. I am going to investigate further.

I will also install colorama and see if that works.

I don't understand why we would make colorama optional? Or do you mean conditional based on platform or env?

[2022-02-23 17:20] abravalheri commented on #609
☝️  this one! `colorama` is only used in Windows.

[2022-03-06 20:06] abravalheri opened #620 "Add MyST/Markdown by default"
Going forward (maybe v5?), it seems that having Markdown active by default would be the most beneficial for the user base.

We can have a `--rst` flag to keep generating reST files.

(The configuration for MyST+Sphinx should be always in place, thought; since it does not affect the `--rst` user).

[2022-03-08 19:26] abravalheri opened #623 "Improvements for Cirrus CI"
After having worked on both the GitHub Actions and GitLab CI plugins, I think we also need to improve Cirrus CI 😅

It is a bit behind... The following would be "nice to have" improvements:
- [ ] Upload to coveralls for all tasks using different tags (this relies on Coveralls' "parallel" builds, there is an example on how to do that on the GitlabCI PR https://github.com/pyscaffold/pyscaffold/pull/6

[2022-03-11 10:52] FlorianWilhelm commented on #589
Thanks, @abravalheri for adding this great feature!

[2022-03-14 13:01] #623 closed

[2022-03-25 18:11] zirpu opened #631 "config option long-description missing?"
## Description of your problem

When using 'putup -i proj' it fails looking for a 'long-description' key in the config.

**Please provide the full traceback using the `--very-verbose` flag.**
[code]

**Please provide any additional information below.**

## Versions and main components

* PyScaffold Version: 4.2.1
* Python Version: 3.8.10
* Operating system: linux
* How did you install PyScaffold:

[2022-03-25 18:15] abravalheri commented on #631
Hi @zirpu thank you very much for reporting this. I will have a look as soon as I can.

Meanwhile can you try to update PyScaffold and all its dependencies (I see you use the markdown one) to the latest version, just to see if the issue persists?

[2022-03-25 18:26] zirpu commented on #631
Thanks.  That was it.  I had initially had it installed via pipx but w/o the [all] spec.  Works now.

[2022-03-25 18:26] #631 closed

[2022-03-29 20:29] sgbaird opened #633 "Possibility for integrating with automated conda build and deployments as well"
Very nice repo! I'll be promoting this tool to some of the researchers in my group.

See https://github.com/marcelotrevisani/souschef/issues/32 for a breakdown of the methods I've been using with `conda`. Figured it was worth mentioning.

I have this methodology implemented for a few different repositories, and it's worked pretty nicely.
- https://github.com/sparks-baird/mat_discover/blob/main/.gi

[2022-03-30 15:54] abravalheri commented on #633
Hi @sgbaird thank you very much for proposing this discussion.

I currently know just the basics about packaging with conda.
[According to a previous discussion](https://github.com/pyscaffold/pyscaffold/issues/135#issuecomment-791888812), it seemed that:

- The main focus of the open-source Python community is to use channels like `conda-forge` to publish packages.
   - To be sincere nowadays `con

[2022-05-18 22:04] mfhepp commented on #633
IMO, many people are nowadays using the `conda` package manager for all kinds of Python projects, not just for Data Science projects or work related to the Anaconda environment. `conda` has some advantages over `pip`, in my biased opinion (e.g. it is not limited to Python packages, so you can avoid a mixture of `pip`, `brew`, etc. with potentially hard-to-debug conflicts). While you can use `pip`

[2022-05-18 23:20] mfhepp commented on #633
Hi @abravalheri: Thanks for taking this up so swiftly! I have not yet packaged any work for `conda-forge` myself, so hopefully someone who has been doing this regularly will chime in.

But as far as I understand from the YAML files linked by  @sgbaird, one would basically have to run `grayskull` and then build and upload the feedstock to `conda-forge` or a personal `conda` channel using `conda`, l

[2022-05-19 08:02] sgbaird commented on #633
@abravalheri thanks for the patience with me rejoining the discussion. @mfhepp great summary of both the needs and the basic workflow involved with my suggestion.

Uploading to a personal channel via `conda-forge` was an oversight of mine. I ran into some difficulty with using [`conda-smithy`](https://github.com/conda-forge/conda-smithy), thinking I had to use something like that to get it up on `

[2022-05-19 09:10] abravalheri commented on #633
Hi @sgbaird, thank you very much for the clarifications.
I have some doubts about your `run_grayskull.py` script. I hope you don't mind me asking them bellow 😅.

1. Is the script only running the `grayskull` CLI and adding `flit` as a dependency? So if a project does not use `flit`, would it be the case that running `grayskull` is enough?

2. Another question is, since the build step is defined as

[2022-05-19 14:41] sgbaird commented on #633
In that case, running grayskull via CLI should be enough. `chem_wasserstein` didn't have anything that needed to be changed, but there were others that did. For example, `mat_discover` [required adding](https://github.com/sparks-baird/mat_discover/blob/main/run_grayskull.py) `pytorch` and `cudatoolkit` as dependencies and renaming `kaleido` to `python-kaleido` since the package names differ betwee

[2022-05-20 17:08] sgbaird commented on #633
Figured these were worth xref-ing: https://github.com/pyscaffold/pyscaffold/discussions/422 and https://pyscaffold.org/en/stable/dependencies.html#creating-a-conda-package

[2022-05-24 03:58] sgbaird opened #639 "Support "0.1.0" instead of only "v0.1.0" (not preprending `v` causes issues with GitHub actions and PyPI publishing)"
From what I understand, having the v prepended is [historical and optional](https://stackoverflow.com/a/28605963/13697228) for semantic versioning 2.0. It's a simple fix to support both in GitHub actions:
[code]

But I'm not really sure what I would need to change for the PyPI package uploading. It seems to be mainly an issue of getting `pip install -e .` to recognize the tag.

[code]

Thinking I

[2022-05-24 04:13] sgbaird commented on #639
xref: https://github.com/pyscaffold/pyscaffold/issues/267

[2022-05-24 11:23] abravalheri commented on #639
Thank you very much @sgbaird.
I don't have a very strong preference either to be sincere...

What do you think about the following change?
[code]

This should avoid some accidental matches, right?

(I am considering that we want to support things like `2013.10`, `v1.3rc1`, `0.42b1`, etc...)

[2022-05-26 12:51] #639 closed

[2022-05-26 19:50] sgbaird commented on #633
@abravalheri I got around to trying out packaging on `conda-forge` with PyScaffold by adapting some of my other workflows. One of the main differences between my other workflows and PyScaffold is that I hardcode `__version__` in `mymodule/__init__.py` (flit workflow) rather than base it on a `git tag`. I'm wondering whether you think I should try to grab the version from the git tag or remove the

[2022-05-26 20:14] sgbaird commented on #633
For now, I can workaround by ignoring `meta.yaml` and using `version = os.popen("git describe --abbrev=0 --tags").read().replace("\n", "")` slightly modified from https://pyscaffold.org/en/v4.0.1/contributing.html#troubleshooting

[2022-05-27 08:06] abravalheri commented on #633
Hi @sgbaird, regarding the `pre-commit` error, you can also ignore that specific file (since  it is not exaclty a YAML file, but rather a Jinja template...) by adding a [`exclude` pattern](https://pre-commit.com/#pre-commit-configyaml---hooks) in your `.pre-commit-config.yaml`:

[code]

In terms of `version`, `setuptools-scm` will try to generate unique tags for each state of your repo (that is wh

[2022-05-27 13:56] sgbaird commented on #633
@abravalheri thanks for the clarifications and suggestions! These are very helpful.

[2022-06-02 01:22] sgbaird opened #642 "`skeleton.py` not added even though `--no-skeleton` wasn't specified"
## Description of your problem

**Please provide a minimal, self-contained, and reproducible example.**
[code]
[code]

**Please provide the full traceback using the `--very-verbose` flag.**
[code]

**Please provide any additional information below.**

Workaround was to copy https://github.com/pyscaffold/pyscaffold/blob/master/src/pyscaffold/templates/skeleton.template into my repo. Wasn't sure if

[2022-06-06 13:17] FlorianWilhelm commented on #642
Hi @sgbaird, thanks for posting this issue. Actually it's an intended behaviour as `--dsproject` activates `--no-skeleton` by default. The idea was that in case of a data science project the `skeleton.py` file might not be that useful but I agree that it is a bit counterintuitive. Which part of this file did you need and what is your use-case?

[2022-06-16 02:47] sgbaird commented on #642
@FlorianWilhelm apologies for the delay. I've been renaming `skeleton.py` to `core.py` and using it in full (i.e. adding the main forward-facing class, adapting the CLI). I've also noticed the generation of `train_model.py` which I suppose I could use in place of `skeleton.py` and simply move it into `src/my_package` so that it's available after installation by a user of `my_package` via `pip` or

[2022-06-17 20:38] ofosos opened #648 "Error when migrating to pyscaffold"
## Description of your problem

I get an error, when trying to migrate to pyscaffold. It looks like pyscaffold tries to look up some library directory that is empty, instead of looking into the distributed source directory (where the default.cfg resides?).

**Please provide a minimal, self-contained, and reproducible example.**
[code]

**Please provide the full traceback using the `--very-verbose`

[2022-06-17 20:43] abravalheri commented on #648
Thank you very much for reporting this issue @ofosos.
It would seem that I might have forgotten to create the directory before writing the file...

Sorry for the disruption 😅. I will provide a patch soon.

Meanwhile if you want to keep playing with PyScaffold, I have the impression that if you create the `/Users/mark/Library/Preferences/pyscaffold/` repository, things may work...

[2022-06-17 21:15] ofosos opened #649 "Tests don't run after migrating to pyscaffold"
## Description of your problem

After migrating to pyscaffold, I get some errors trying to run tox.

**Please provide a minimal, self-contained, and reproducible example.**

Checkout https://codeberg.org/ofosos/rotoscope version f80378ef7dbec85dd86b4427ca9e2eee5af60779

[code]

**Please provide the full traceback using the `--very-verbose` flag.**
[code]

**Please provide any additional informatio

[2022-06-17 21:28] abravalheri commented on #649
Hi @ofosos, sorry for the inconvenience. Unfortunately this is something we cannot fix in Pyscaffold itself. However we can (and should) document a practice that would eliminate this error in our guides.

The gist of what is happening is the following:

PyScaffold automatically configures `setuptools-scm` in the generated project. This means that the version will be derived from the closes git tag

[2022-06-17 21:51] #648 closed

[2022-06-17 21:58] abravalheri commented on #649
On second thought, I might need a bit more time to investigate if this is not a problem with setuptools-scm.

[2022-06-18 00:25] abravalheri commented on #648
The new version 4.2.3 should be out with a fix for this problem :)

[2022-06-18 04:56] ofosos commented on #649
In particular, I need to pass 'find:' instead of 'findnamespace:' to the setup.cfg. And there's also 'term-missing' in cov-report. Both are kind of weird, but the latter just looks like a bug.

[2022-06-18 05:41] ofosos commented on #649
Creating a tag 'v0.4' and running tox with the findnamespace: option results in the same output. Not working for me.

[2022-06-18 05:44] ofosos commented on #649
Strike that. If I delete my tag 'draft1' and change the source back to 'find_namespace:' it works for me.

[2022-06-18 05:45] abravalheri commented on #649
It seems like a limitation in `setuptools-scm`. I verified that `setuptools-scm` will always get the first tag and stop looking. So if you have `draft1` and `v0.4` in the same commit, it will still fail.
`draft1` needs to be behind `v0.4`.

I will try to investigate a bit more about this limitation and propose an issue in the `setuptools-scm` track.

[2022-06-18 05:58] abravalheri commented on #649
While I verify with the `seutptools-scm`, I started to work in better instructions in the docs: https://github.com/pyscaffold/pyscaffold/pull/651.

You can see the rendered version of the docs here: https://pyscaffold--651.org.readthedocs.build/en/651/migration.html.

[2022-06-18 06:11] abravalheri commented on #649
A similar problem a non-version tag seems to have been reported in `setuptools-scm`: https://github.com/pypa/setuptools_scm/issues/449 and https://github.com/pypa/setuptools_scm/issues/235.

The second issue here (multiple tags in the same commit), also seems to be a well-known problem in `setuptools-scm`: https://github.com/pypa/setuptools_scm/issues/521.

[2022-06-18 06:43] abravalheri commented on #649
Actually this seems to be a problem only for certain formats of tags:

The following test will pass:

[code]

But if I change the tag to "notaversion3", it will fail:
[code]

[2022-06-18 12:58] ofosos commented on #649
What about the 'term-missing' in cov-report?

[2022-06-18 13:48] abravalheri commented on #649
Hi @ofosos, I tried your repository at the commit `1b6337f`, and I was not able to spot anything out of the ordinary:

![image](https://user-images.githubusercontent.com/320755/174440179-90d0be7e-79e7-4e03-9ce9-c62d07fc3e2e.png).

For completeness, this is what the report looks like in my machine:

![image](https://user-images.githubusercontent.com/320755/174440229-5869ab85-109e-41f6-8a35-03d38253

[2022-06-18 14:48] ofosos commented on #649
If you look at this commit you will see what I corrected there to get it running:
https://codeberg.org/ofosos/rotoscope/commit/041f747f4cbfd0a5f4ae732f9fa490611878595f

[2022-06-19 07:23] FlorianWilhelm commented on #642
Thanks @sgbaird for explaining your use-case. I should really rethink the automatic `--no-skeleton` flag in `--dsproject` as you showed me that an example for cli interfaces could be helpful also for Data Science projects.

So far in data science projects I saw mostly that people work in their git checkout within the directory structure of the repo. The use the notebooks, reference data in `data/*

[2022-06-19 08:31] abravalheri commented on #649
Hi @ofosos, I still don't see anything out of ordinary when the coverage configuration uses the `term-missing` report setting.

I tried the following:

[code]

And the output seems to be completely fine:

![image](https://user-images.githubusercontent.com/320755/174472217-1bf9d6d6-7cf2-4b4b-8619-1820d48855af.png)

The difference is that with the `html` configuration, coverage will create an html r

[2022-06-19 14:04] ofosos commented on #649
Oh, Thanks @abravalheri , I'm sorry I wasted your time here. I'll have a look at the docs and see if I can help out there.

[2022-07-26 12:09] mfhepp commented on #633
Note that #422 describes the basic procedure and is referenced from the documentation.

It would be good to add this issue #633 also to the documentation.

[2022-09-27 16:49] mfhepp commented on #633
FYI: I personally think that the syncing of PyPi and Conda packages will become a much lesser issue in the future, because of a fundamental shift in the ecosystems for Data Science:

In the past, having Conda packages available was mainly motivated by the need **to keep your local system/machine clean**, because PIP and Conda do not work well in parallel; overtime, you will clutter your local envi

[2022-10-26 22:06] austinmw opened #677 "[Feature Request] Scaffold component for VS Code container development integration"
Apologies if this already exists or was discussed somewhere else, but I couldn't find.

## Describe your use-case

It'd be really great if there was a scaffold component for VS Code container development integration similar to:
https://github.com/avsolatorio/pyscaffoldext-dsproject-vscode

## Describe the solution you would like to see for your use-case

Automatically creating a `.devcontainer` di

[2022-11-25 11:48] abravalheri opened #679 "Allow `venv_install` to be specified in config file."
Follow up on https://github.com/pyscaffold/pyscaffold/discussions/678

[2022-11-28 10:20] #679 closed