[2014-04-29 13:34] sebastianneubauer opened #1 "Add configurable test and coverage xml and/or html output"
It makes sense that automatically xml output of test results and coverage. It is easy to add this in setup.py: and in the end it should look like this:

[code]

....

[code]

[2014-04-29 15:09] sebastianneubauer opened #2 "Add a plugin/template system"
Most likely when you really need pyscaffold is, when you need to create many packages. Most likely they will be very similar, eg. a flask app, a Django app, a sk-learn app...
It would be great to be able to use already created (e.g hosted on github) or create custom made plugins/templates.
What could be done:
- prebuild directory structure
- prebuild code parts, configurable
- dependencies
- prebu

[2014-04-29 20:15] #2 closed, assigned to nobody

[2014-05-02 15:22] #1 closed, assigned to FlorianWilhelm

[2014-05-13 07:54] soenke-niekamp-by opened #3 "Return code of doctest"
Currently `python setup.py doctest`always exits with return code 0. For use with a continuous integration server it would be useful if the return code was nonzero in case of failing tests. Maybe it could also generate a junit xml report.

[2014-05-15 20:05] #3 closed, assigned to nobody

[2014-07-23 22:09] tanuva opened #5 "DistributionNotFound error when running putup"
Not sure if this is your main support channel, but I couldn't find anything else. After seeing (the video of) your talk on EuroPython I tried pyscaffold on OSX 10.9 and this is what comes out:

[code]

Trying to install six, this comes out:

[code]

Do you have a hint what I could do to clear this up?

[2014-07-24 19:22] #5 closed, assigned to nobody

[2014-07-26 13:46] scherrey opened #6 "Conflict with django-admin.py startproject"
Florian - this is a really impressive project kick off tool. Watched your talk at Europython. I instantly abandoned the scripts I've slowly evolved over the years as soon as I tried it.

However, it seems that I can't easily put a django project and scaffold project at the same location. My preference is to create the django project then run scaffold on top of it.

For example:
django-admin startp

[2014-07-27 21:32] FlorianWilhelm opened #7 "Travis support"
Add a default .travis.yml which runs the unittests. Mention this in the docs.

[2014-07-29 19:13] #6 closed, assigned to nobody

[2014-07-29 19:13] FlorianWilhelm opened #8 "Django support"
Check if Django support should be include it

[2014-08-22 20:38] hemmerling opened #9 "On Windows, the installation aborts even though as requested, "pbs" was installed before"
On Windows, the setup installation aborts with "File "c:\temp\easy_install-jy_ycl\sh-1.09\sh.py", line 34, in <module>
ImportError: sh 1.09 is currently only supported on linux and osx. please install pbs 0.110 (http://pypi.python.org/pypi/pbs] for windows support.

It does not help to install pbs first,
the script breaks anyhow and so the installation fails :-(

It would be nice, if the script ch

[2014-08-22 22:04] #8 closed, assigned to nobody

[2014-08-22 22:05] #7 closed, assigned to nobody

[2014-09-05 21:01] #9 closed, assigned to FlorianWilhelm

[2014-09-07 17:50] FlorianWilhelm opened #10 "Changelog"
Add a changelog file, also in the template

[2014-09-07 17:50] FlorianWilhelm opened #11 "Installation"
Small section in the Sphinx documentation about the installation with pip.

[2014-09-09 07:37] #11 closed, assigned to nobody

[2014-09-09 07:37] #10 closed, assigned to FlorianWilhelm

[2014-09-09 07:38] FlorianWilhelm opened #12 "Update to versioneer 0.11"

[2014-09-20 16:13] hermanocabral opened #13 "Add pre-commit hooks to the project template"
Howdy,

What do you think about having http://pre-commit.com/ being part of the poject template? In pretty much all of my python project I have hooks setup to run pylint/pep8/your_favorite_tool_here before commits and I since this tool already creates a git repository, why not set some hooks while we're at it?

[2014-09-20 16:28] hermanocabral opened #14 "Add license file to project template AND to pyscaffold"
Howdy,

How about having license information in the project templates? Just a blank stub file as the default, of course, but IMHO it's an important piece that every project needs to have. Sites like http://choosealicense.com take the pain away from chosing a license, we could even have a flag where users could pass the licence they want, like `--with-license MIT` and pyscaffold would grab the lice

[2014-09-22 12:59] #14 closed, assigned to nobody

[2014-09-29 19:57] #12 closed, assigned to nobody

[2014-10-09 08:52] #13 closed, assigned to nobody

[2014-10-21 07:01] FlorianWilhelm opened #17 "Rework the --update mechanism"
Updating without the force parameter seems to behave strange sometimes. Especially files that do not exist will not be created in that case. Make sure nothing is overwritten but create the files if they don't exist.

[2014-10-21 07:21] FlorianWilhelm opened #18 "Improve flake8 pre-commit hook"
Exclude scaffold files like versioneer.py, setup.py and {project}/_version.py with:

[code]

[2014-10-21 11:26] FlorianWilhelm opened #19 "Usage of setup.cfg"
Try to move all configuration options from setup.py to setup.cfg for a clearer distinction between configuration and logic.

[2014-10-21 11:28] FlorianWilhelm opened #20 "Check usage of Tox for PyScaffold itself"
See if Tox is useful to unit test PyScaffold. Maybe add more comments to the current Tox.ini configuration file to better explain it.

[2014-10-22 09:51] #17 closed, assigned to nobody

[2014-10-22 09:54] #18 closed, assigned to nobody

[2014-10-23 18:51] HolgerPeters opened #21 "test_Command unit test fails on Mac OS X"
On a macbook, the `test_Command` test fails. I suppose that this is a gnu-tools bsd-tools issue (upon exchanging echo with gecho - the gnu-tool echo the test succeeds).

<pre>
=================================== FAILURES ====================================
_________________________________ test_Command __________________________________

    def test_Command():
        echo = shell.Command('echo'

[2014-10-23 18:52] HolgerPeters opened #22 "test_chdir fails"
test_chdir fails on Mac OS X (Yosemite) with the following stacktrace

<pre>
__________________________________ test_chdir ___________________________________

    def test_chdir():
        curr_dir = os.getcwd()
        try:
            temp_dir = tempfile.mkdtemp()
            with utils.chdir(temp_dir):
                new_dir = os.getcwd()

E           assert '/private/var...T/tmp79qx1gjm' ==

[2014-10-23 21:49] #22 closed, assigned to nobody

[2014-10-27 16:24] #20 closed, assigned to nobody

[2014-10-28 17:28] FlorianWilhelm opened #24 "Check if git is configured"
Newer versions of git seem to deny commits when the user.name and user.mail are not set. This should be checked by PyScaffold before trying to do something.

[2014-10-28 17:55] FlorianWilhelm opened #25 "Proper Windows support"
Currently PyScaffold does not really seem to work under Windows properly. Some of the unittests fail and most importantly the `test_version` test meaning that the whole versioneer setup does not work.

[2014-10-28 18:58] #24 closed, assigned to nobody

[2014-11-14 10:48] #25 closed, assigned to nobody

[2014-11-17 13:34] #21 closed, assigned to FlorianWilhelm

[2014-11-20 17:04] cpaulik opened #26 "Support for numpydoc?"
Would it be possible, or better, is it in the scope of this project to add a --with-numpydoc flag to the putup command?

That is one of the only things I always have to add manually.

Thanks.

[2014-11-23 14:35] #26 closed, assigned to nobody

[2014-11-24 16:26] FlorianWilhelm opened #29 "Add more system tests"
Many options like `--with-tox` are currently not tested in `system_test.sh`.

[2014-11-25 10:34] #29 closed, assigned to nobody

[2014-12-16 08:00] FlorianWilhelm opened #31 "Add namespace package support"
For more information:
http://stackoverflow.com/questions/1675734/how-do-i-create-a-namespace-package-in-python

Decide whether to use

[code]

or

[code]

from `setuptools`.

[2014-12-29 13:12] #19 closed, assigned to FlorianWilhelm

[2014-12-30 08:15] #31 closed, assigned to FlorianWilhelm

[2015-01-02 15:37] FlorianWilhelm opened #33 "Check necessity of Manifest.in"
With https://docs.python.org/2/distutils/sourcedist.html#manifest and https://docs.python.org/2/distutils/setupscript.html#installing-additional-files it should be possible to completely avoid a custom `MANIFEST.in`. Check that and implement if positive.

[2015-01-02 16:33] FlorianWilhelm opened #34 "Use version 0.0 instead of unknown"
If there is no commit, versioneer will report `unknown` which let's setuptools go crazy. Also check if versioneer is till in active development or if should be replaced.

[2015-01-08 12:41] #34 closed

[2015-01-08 12:43] FlorianWilhelm opened #35 "Check if Versioneer could be included in setup.py"
Versioneer seems to be in a state of no active development and if it is it will be extended to other VCS which will increase the codebase. Check if the code can be merged directly into PyScaffold, this would also allow the codebase to be cleaned up for PEP8 conformity etc.

[2015-01-08 12:51] FlorianWilhelm opened #36 "Allow package_data to be specified in setup.cfg"
It should be possible to define additional data (non-python files) in `setup.cfg`. distutils supports this with `data_files` and `package_data`. It seems setuptools especially features `package_data` so this should be used maybe in a seperate [package_data] section in `setup.cfg`. Here is the introduction:
https://pythonhosted.org/setuptools/setuptools.html#including-data-files

[2015-02-06 07:39] fruch commented on #36
+1
I was trying to package this with stdeb, and it failed on exactly that (looking for the README.rst)

[2015-02-11 07:53] FlorianWilhelm commented on #36
@fruch Thanks for your input. Could you explain a little bit more what you did and how? README.rst should be already included by MANIFEST.in but I have never used stdeb so far.

[2015-02-11 10:56] fruch commented on #36
You are correct it was my mistake not updating the manifest. Sorry.
On Feb 11, 2015 9:53 AM, "Florian Wilhelm" <notifications@github.com> wrote:

[2015-02-23 16:02] #35 closed

[2015-02-24 10:09] FlorianWilhelm commented on #33
By using `data_files` it is possible to drop `MANIFEST.in`. Since the need to specify files for a source-distribution in `MANIFEST.in` but not for a binary-distribution is confusing we just avoid it.

[2015-02-24 10:09] #33 closed

[2015-02-24 16:13] #36 closed

[2015-02-24 20:00] sebastianneubauer commented on #33
What does it mean now? Do you mean it's possible to drop Manifest.in? I don't think so, at least I never got it working without...

[2015-02-24 20:12] FlorianWilhelm commented on #33
@sebastianneubauer It means that MANIFEST.in is not really necessary. As the link https://docs.python.org/2/distutils/setupscript.html#installing-additional-files shows, starting from Python 2.7, you can provide additional files with the `data_files` parameter. This is much more concise since then also bdist and bdist_wheel will make use of these additional information. I dropped MANIFEST.in in so

[2015-02-25 19:03] fruch opened #37 "install fail on windows with python 2.7.2"
I'm in a virtualenv with python2.7.2
Windows7, under bash (i.e. GitBash)

You are using pip version 6.0.6, however version 6.0.8 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.
Collecting git+https://github.com/blue-yonder/pyscaffold.git
  Cloning https://github.com/blue-yonder/pyscaffold.git to c:\users\ifruchte\app
data\local\temp\pip-mllxg7-build
    Tra

[2015-02-26 09:11] FlorianWilhelm commented on #37
Thanks for your feedback. I just tried it with Windows **8**, so not 7 because I don't have access to it. With Windows 8 I created a Virtual Environment, activated it and run `pip install pyscaffold`, followed by `putup my_project` and it worked. I have Python 2.7.8 installed though.
Could you update to Python 2.7.8 just to rule out that your version has an issue?

[2015-02-26 10:39] FlorianWilhelm commented on #37
@fruch I might have found the problem and uploaded a new development version. Could you try this:

and report back if it solved your issue? Thanks.

[2015-02-26 16:57] fruch commented on #37
Will do
On Feb 26, 2015 12:39 PM, "Florian Wilhelm" <notifications@github.com>
wrote:

[2015-02-26 20:03] fruch commented on #37
yeah this version work correctly

[2015-02-27 06:43] FlorianWilhelm commented on #37
Thanks for reporting back

[2015-02-27 06:43] #37 closed

[2015-03-18 16:10] FlorianWilhelm opened #38 "Consider usage of setuptools-git"
Using setuptools-git would allow to use the `include_package_data` keyword argument for `setup`. The downside would be an additional dependency as well as the need to add the `exclude_package_data` keyword.

[2015-03-19 08:18] HolgerPeters commented on #38
Not quite sure if this really improves upon the current situation.

[2015-03-19 10:33] FlorianWilhelm commented on #38
@HolgerPeters I am also skeptical but a lot of users seem to use `setuptools-git` judging from the number of downloads on pypi. It is also possible to support it without introducing a hard additional requirement. With the help of `setuptools.dist.Distribution` and its method `fetch_build_eggs`, it is possible to do that on the fly if someone wants to use the feature. What do you think?

[2015-03-19 10:38] FlorianWilhelm opened #39 "Support for Plugins"
See how plugins for additional templates could be implemented in PyScaffold. One idea would be to use https://github.com/audreyr/cookiecutter in order to define additional files and folders. Maybe providing a `--cookiecutter TEMPLATE` command-line option is the way to go. Any thoughts on that?

[2015-03-19 12:46] HolgerPeters commented on #38
Can you find an up to date git repository for this? pypi links to https://github.com/wichert/setuptools-git and that redirects to https://github.com/msabramo/setuptools-git it seems. Has not seem much work lately.

[2015-03-19 14:02] FlorianWilhelm commented on #38
@HolgerPeters I just found a huge issue with `setuptools-git` when working with source distributions and `pip` which is a quite common combination. While the sdist distribution is packaged correctly when `include_package_data` is true and `setuptools-git` is installed, the package data is not correctly unpacked and put into the virtual environment. It fails because `pip` unpacks the sdist tarball,

[2015-03-19 14:02] #38 closed

[2015-03-25 12:29] #39 closed

[2015-03-25 14:09] kopf opened #42 "Use python git bindings instead of parsing git subprocess output"
Creating an issue here, as I think it should probably be discussed, and I didn't want to derail the discussion on #40 (sorry @xhochy !)

@FlorianWilhelm - in https://github.com/blue-yonder/pyscaffold/pull/40#issuecomment-86002562 you say that you're against the idea of using python bindings such as `pygit2` as it would "lead to further restrictions on the user". Can you explain what you mean by "f

[2015-03-25 15:05] FlorianWilhelm commented on #42
Point taken and from a developer's perspective I totally agree. Why do we reinvent the wheel if there are libraries like libgit2 and pygit2? But it comes with a price tag. We would have additional dependencies that are quite uncommon. The library pygit2 is of version 0.22.0 and has about 4700 monthly downloads on pypi which is not much. The Ubuntu package of libgit2 (https://launchpad.net/ubuntu/+

[2015-03-25 15:25] sebastianneubauer commented on #42
I have a tendency to agree with @FlorianWilhelm . I also do not like hacks or works-on-my-machine solutions. But even worse are avoidable dependencies. We should think of circuit breakers, so that the worst thing that could happen is, that the git repository is not initiated correctly but all the rest is working.
To the dependency-hell:
I would love to see more packages in the unix style of thinki

[2015-03-30 12:24] FlorianWilhelm opened #43 "Consider usage of setuptools-scm"
This tools seems to do a lot of what versioneer does and could possible drastically reduce the code in setup.py.

[2015-03-30 12:25] FlorianWilhelm opened #44 "Checkout usage of nose as testrunner"

[2015-03-30 19:22] HolgerPeters commented on #44
Is there an added benefit that nose provides? In my perception, pytest is the more modern and more feature rich test suite. I submitted a pull request to matplotlib trying to introduce a `python setup.py test` command, based on their nosetests setup, and they are going through all kinds of trouble with pretty standard test stuff (like a hand written `KnownFailure` plugin for expected failures).

[2015-03-30 20:36] HolgerPeters opened #45 "Manifest.in needed which includes requirements.txt and README.rst"
When using a pyscaffold based project, I realized that requirements.txt and README.rst were not included with the source distribution (which caused tox to fail).

[2015-03-31 15:29] #45 closed

[2015-04-06 17:46] StephanErb commented on #44
The ultimate motive is to get rid of the custom test runners in pyscaffold. I proposed nose, but there are probably other ways to achieve this (e.g., https://pypi.python.org/pypi/pytest-runner).

[2015-04-06 18:32] kopf commented on #42
OK, this has been open for about 2 weeks now, and there doesn't seem to be too much discussion. This was really more of a "Denkanstoß" than anything else - I wanted, primarily, to find out why pyscaffold was doing things this way as opposed to the other way.

As both @sebastianneubauer and @FlorianWilhelm are opposed to the idea, I'll close this issue, and propose we should re-open it and discuss

[2015-04-06 18:32] #42 closed

[2015-04-10 11:14] cpaulik opened #46 "Add changes.rst to template?"
Is there any reason why no changelog is provided by the putup command?

[2015-04-13 07:39] FlorianWilhelm commented on #46
Thanks for your input. No there is no reason for it and in the current development version a changelog file is included. I hope to release soon.

[2015-04-13 07:39] #46 closed

[2015-04-13 07:41] FlorianWilhelm commented on #44
@StephanErb that sounds like a good solution. So no nosetest but pytest-runner instead, I'll create an issue.

[2015-04-13 07:55] FlorianWilhelm opened #47 "Use pytest-runner to get rid of py.test"
We should use https://pypi.python.org/pypi/pytest-runner to get rid of the `cmd_test` class in `setup.py`. If possible we should depend only on pytest-runner when py.test is invoked like explained in the subsection  *Conditional Requirement*.

[2015-04-13 07:56] FlorianWilhelm commented on #44
I created the issue #47.

[2015-04-13 07:56] #44 closed

[2015-04-16 07:29] FlorianWilhelm opened #48 "Allow Cython files to be included"
Right now PyScaffold does not directly allow to create packages which use Cython files. This functionality of setuptools is not yet exposed in a user-friendly way. We should start collecting ideas how we could resolve this.

[2015-04-16 12:27] FlorianWilhelm opened #49 "Recursive include of data_files"
Using `MANIFEST.in` has the advantage of the recursive-include command. Using wildcards in `data_files` does not work recursively. Can we somehow fix this?

[2015-04-16 13:56] xhochy commented on #49
We could pass the `data_files` through the [glob](https://docs.python.org/2/library/glob.html) module to resolve the wildcards.

[2015-04-20 09:09] FlorianWilhelm commented on #49
The module [glob](https://docs.python.org/2/library/glob.html) cannot really be used in this case since it does not work recursively. For instance `tests/*.csv` would only include `tests/data.csv` but not `tests/special_tests/large_data.csv`. For this to work we would need a combination of `os.walk` and `fnmatch` like described [here](http://stackoverflow.com/questions/2186525/use-a-glob-to-find-f

[2015-04-20 09:21] FlorianWilhelm commented on #49
`MANIFEST.in` allows recursive inclusion with:
`recursive-include DIRECTORY PATTERN1 PATTERN2`
Maybe we mimic this syntax like this in `setup.cfg`:

This would mean that all rst and txt files from the root of the project are included as well as all py and csv files in the tests folder and its subfolders.

I am not 100% sure about this syntax though since it seems a bit confusing. I don't want to u

[2015-04-20 09:30] FlorianWilhelm commented on #49
Another approach would be that we differentiate between greedy and non-greedy wildcards like `*` vs `*?`. By default we assume greedy and even match recursively since this seems to be what most users expect and want actually. For non-greedy behavior `*?` could be used like in the [Python regular expressions](https://docs.python.org/2/library/re.html).

Anyone wants to share his/her thoughts on tha

[2015-04-20 09:30] xhochy commented on #49
As an alternative, we could use the more shell-like approach (the one that also git uses) and use `**` for recursive includes.

[2015-04-20 09:31] FlorianWilhelm commented on #49
@xhochy Seems like we had about the same idea :-) Do you think recursive includes or non-recursive includes should be default?

[2015-04-20 10:56] xhochy commented on #49
@FlorianWilhelm for conistency, I would handle it exactly like git/bash/zsh do.

* `*.py`: all files ending in `.py` in the current directory
* `**/*.py`: all files ending in `.py` in all subfolders (recursively) of the current directory

[2015-04-20 14:58] FlorianWilhelm commented on #49
@xhochy I like your suggestion. How would we do the implementation? It is somewhat similiar to regular expressions in the sense that `*` is `*?` in `re` and `**` is `*` in `re`. Could we maybe use the functionality of the `re` module somehow? I'd like to avoid having even more code in `setup.py`.

[2015-04-21 06:12] FlorianWilhelm commented on #49
@xhochy I'll try doing a replacement of `*` into `*?` followed by a replacement of `*?*?` into `*`. After that I should be able to just use a regular expression. `os.walk` can be used to get a recursive list of each file in a repository which can be then matched with the regular expressions. At that point one should be aware of links causing cycles.

[2015-04-25 18:18] HolgerPeters commented on #48
The implementation of Cython building is kind of complicated. As I recall, Cython extensions are based on the C extensions of setuptools which in turn are distutils extensions.  https://docs.python.org/2/extending/building.html I.e. to compile a cython file right now, you create an `Extension` object in your `setup.py`, specifiying path of the source file, and other parameters needed for the Compi

[2015-04-27 14:10] FlorianWilhelm commented on #48
Rather than going into into the direction of complete automation, I would like to expose the parameters of `Extension` objects in a structured way inside `setup.cfg`. I am just not sure what the best way is since I am lacking the experience with Cython. @HolgerPeters Could you imagine a declarative way of defining the extensions for your projects inside `setup.cfg`?

[2015-04-27 15:57] #49 closed

[2015-04-29 11:09] #47 closed

[2015-05-04 15:55] StephanErb opened #51 "Better default README.rst"
Many users of pyscaffold tend to keep the default README.rst.  Unfortuantely, this readme is tailored for the user of pyscaffold but not for any user of the project, who only wants to find out what the project does and how it can be run/tested.

The readme should therefore be shorter and more to the point without any long explanations. It could also contain an elevator pitch of the project.

[2015-05-05 07:14] MatthiasBach commented on #51
Yes, I think something along the lines of "This project has been set up using pyscaffold. For details and usage information on pyscaffold see https://github.com/blue-yonder/pyscaffold." would be good. The remaining content of the README.rst should then be added to pyscaffold's README.md. Alternatively it could be stored in a HOWTO.md.

[2015-05-05 11:13] #51 closed

[2015-05-05 11:14] FlorianWilhelm commented on #51
Thanks for reporting. I used a variant of the wording of @MatthiasBach.

[2015-05-05 13:11] ManuelBahr commented on #43
Hey we would attempt to fix this during our blue yonder hackathon. Is it ok, or have you started already?

[2015-05-05 13:11] xhochy commented on #43
Nothing really started yet, so feel free to fix it.

[2015-05-11 11:53] HolgerPeters opened #52 "Avoid `__init__.py` in tests directory"
The pytest docs (https://pytest.org/latest/goodpractises.html) advice to not put an `__init__.py` file into the tests directory:

[2015-05-13 07:54] FlorianWilhelm commented on #52
@HolgerPeters Good point, thanks, are you up for a PR?

[2015-05-13 08:15] HolgerPeters commented on #52
yes I am, probably not this week though.

[2015-05-13 11:57] HolgerPeters commented on #52
I suggest replacing `__init__.py` by a `conftest.py` (https://pytest.org/latest/plugins.html) if the directory `tests` would be empty, it would not persist in git - and adding a conftest.py seems better than checking in a `.dummy.txt`

[2015-05-13 14:16] FlorianWilhelm commented on #52
Yes, sounds like a good plan.

[2015-05-18 14:07] FlorianWilhelm commented on #52
@HolgerPeters Your PR was merged and a dummy ``conftest.py`` file is created with a bit of information about it.

[2015-05-18 14:07] #52 closed

[2015-05-18 14:09] FlorianWilhelm commented on #43
@PhilipHauber You also worked at this, right? Got a branch of your changes somewhere that I could look into?

[2015-05-19 22:09] FlorianWilhelm commented on #43
After some hacking and help from Ronny Pfannschmidt, the creator of [setuptools_scm](https://pypi.python.org/pypi/setuptools_scm/), I think all reminiscents of Versioneer are now replaced.

[2015-05-19 22:09] #43 closed

[2015-05-21 14:25] xhochy opened #54 "Migration from docs/changes.rst to CHANGES.rst on --update does not copy the content"
Updating my project to the latest git revision of PyScaffold will delete `docs/changes.rst` and create a new `CHANGES.rst` with dummy contents. In an update it would be better to just copy the contents to the new place.

[2015-05-21 14:27] xhochy opened #55 "Update should not add a skeleton.py"
On the inital setup of a project a skeleton file is very helpful to already have the python structure but while I perform a PyScaffold update on my project I already have code. So there is no need for a new skeleton anymore.

[2015-05-21 14:40] xhochy opened #56 "Add a version requirement for setuptools"
Installing PyScaffold warns about an outdated version of setuptools. Instead it should just depend on a newer version.

[code]

[2015-05-22 08:42] FlorianWilhelm commented on #54
The files `docs/changes.rst` and `CHANGES.rst` were both introduced in version 2.1. I assume you had your own `docs/changes.rst` before that and during the update it was replaced by the new content. With the help of some git magic it should be no problem to move the content from your old `docs/changes.rst` file into `CHANGES.rst`:

[2015-05-22 08:42] #54 closed

[2015-05-22 08:55] FlorianWilhelm commented on #56
From commit 1ef0a904e180dcccc70890347c0d704fc5e19768 onwards, Pyscaffold as well as projects created with it will require at least `setuptools>=9.0`.

[2015-05-22 08:55] #56 closed

[2015-05-28 17:36] #55 closed

[2015-06-03 13:22] FlorianWilhelm opened #57 "Use dictionaries instead of namespace objects"
Currently all settings are handled as namespace objects. It would be more convenient to use dictionaries instead. Dictionaries are more general and only ``argparse`` seems to use these namespace objects.

[2015-06-03 13:24] FlorianWilhelm opened #58 "Provide a proper API for PyScaffold"
Currently it is hard to use PyScaffold from another script, more or less one needs to provide all arguments as list of strings to the ``main`` function in ``runner``. It would be nice to have functions that help to generate a settings object and a function that runs PyScaffold based on that settings. This means a major rewrite of runner.py.

[2015-06-10 07:23] FlorianWilhelm opened #59 "Check out if PBR could be used in setup.py"
Right now reading ``setup.cfg`` is implemented in ``setup.py`` since setuptools does not provide this functionality. The library [pbr](http://docs.openstack.org/developer/pbr/) seems to add this functionality and is based on setuptools. We should check it out and see if our own code can be removed in favor of pbr.

[2015-06-29 09:11] #57 closed

[2015-07-01 10:53] FlorianWilhelm commented on #59
Yes, it's possible.

[2015-07-01 10:53] #59 closed

[2015-07-01 10:53] #58 closed

[2015-07-02 11:05] FlorianWilhelm opened #60 "Increase unittest coverage"
* System test for cookiecutter
* Better coverage in test_integration
* Check namespace functionality again

[2015-07-16 08:32] MatthiasBach opened #62 "Provide proper defaults for `devpi upload`"
PyScaffold should provide proper defaults for the [`devpi upload`](http://doc.devpi.net/latest/userman/devpi_commands.html#upload) as the usage of [https://pypi.python.org/pypi/setuptools_scm](https://pypi.python.org/pypi/setuptools_scm) comes with some peculiarities in combination with `devpi upload`. E.g. devpi by default exports from the SCM to avoid packaging files not under version control.

[2015-07-16 12:02] StephanErb commented on #62
Slight correction: `with-docs` is not supported. Only `formats` and `no-vcs` are applicable.

See: https://bitbucket.org/hpk42/devpi/src/2baae00d35df81608edc5705215ad72986436fab/client/devpi/upload.py?at=default#cl-32 and the following lines

[2015-07-20 08:43] xhochy opened #63 "Does not install setuptools>9.0 automatically"
Using 2.3rc10, the generated setup.py does not install setuptools>9.0 but rather uses 2.0.2 and then crashes with the following trace (reproduced using pip 1.5.6 and 7.1.0).

[code]

Output of `pip list`:
[code]

[2015-07-28 10:01] FlorianWilhelm commented on #63
After some long discussions on IRC and web searches, I come to the conclusion that it is just not possible due to some limitations of setuptools and pip. So the best way is to remove setuptools from the requirements and let it fail late with a nice error message. [Ronny Pfannschmidt](https://github.com/RonnyPfannschmidt), maintainer of setuptools_scm and contributor to setuptools, found no robust

[2015-07-28 12:03] FlorianWilhelm commented on #63
Removed setuptools from requirements. User will see the warning of setuptools_scm about setuptools beeing too old. See commit e8cbcebb0fcad8a7dee65739c21ca767e5ad91fa.

[2015-07-28 12:03] #63 closed

[2015-07-28 12:08] FlorianWilhelm commented on #62
Thanks. This is addressed in v2.3rc11.

[2015-07-28 12:08] #62 closed

[2015-08-14 16:06] trent opened #64 "Unable to Include Data Files"
I've added a foo.json file to the root of my scaffold project and updated the `[data_files]` section to include `*.json`.  When I run `python setup.py sdist`, foo.json is not included in my package.  Am I missing some other setting necessary to include arbitrary files?

[2015-08-14 18:49] trent commented on #64
So, I was able to get this to work if I add a MANIFEST.in that includes foo.json, but this goes against what the setup.cfg says about MANIFEST.in not being needed anymore.

[2015-08-14 19:29] trent commented on #64
I figured it out.  You have to have foo.json committed to the repo before creating the distribution.d

[2015-08-14 19:29] #64 closed

[2015-08-17 14:15] FlorianWilhelm commented on #64
@trent Thanks for reporting this anyway, I'll add a few extra lines to the documentation.

[2015-08-25 12:32] FlorianWilhelm opened #65 "Check how the autodoc feature of PBR can be used"
PBR provides features to automatically generate an autoindex. Right now this is done manually inside ``conf.py``. We should check if this can be incorporated into PyScaffold.

[2015-08-25 13:53] #60 closed

[2015-09-01 08:18] #65 closed

[2015-09-08 12:24] FlorianWilhelm opened #66 "Create a cool logo"
PyScaffold should have a nice logo. Something like a snake embracing a scaffold or maybe something less placative.

[2015-09-09 13:21] FlorianWilhelm commented on #48
Looking at the source code of ```pbr/util.py```, it seems exactly this functionality is already implemented. The syntax for ```setup.cfg``` is:

Needs to be tested though and then documented.

[2015-09-10 13:19] HolgerPeters commented on #48
it is not that easy unfortunately. For example we have to obtain `include_dirs` programatically, so we could not just specify our Cython extensions in the setup.cfg.

[2015-09-11 06:59] vincent-legoll opened #67 "Cannot install: missing pbr_json"
Hello I'm trying to install pyscaffold on ubuntu 14.04, but it's failing:

<pre>
# pip install --upgrade pyscaffold
Downloading/unpacking pyscaffold
  Downloading pyscaffold-2.4.1.tar.gz (108kB): 108kB downloaded
  Running setup.py (path:/tmp/pip_build_root/pyscaffold/setup.py) egg_info for package pyscaffold

    Installed /tmp/pip_build_root/pyscaffold/.eggs/pbr-1.7.0-py2.7.egg
    Searching for

[2015-09-11 07:06] vincent-legoll commented on #67
pip install --upgrade pbr

fixed the issue (need more coffee)

[2015-09-11 07:06] #67 closed

[2015-09-11 07:09] vincent-legoll commented on #67
I was about to suggest putting that into requirements, but it's already there...
I'm obviously missing something, sorry for the noise

[2015-09-11 07:09] FlorianWilhelm commented on #67
Hi @vincent-legoll, would be interesting to know your ``setuptools`` and ``pip`` version. Normally pip should figure this out automatically.

[2015-09-11 07:11] FlorianWilhelm commented on #48
@HolgerPeters How do you do that? Is this some kind of ``finde_include_dirs`` function that a library provides or home-brew?

[2015-09-11 07:16] vincent-legoll commented on #67
I was on system's owned versions:
- python-setuptools (3.3-1ubuntu2)
- python-pip (1.5.4-1ubuntu3)

but then did:
<pre>
# pip install --upgrade setuptools
Downloading/unpacking setuptools from https://pypi.python.org/packages/3.4/s/setuptools/setuptools-18.3.1-py2.py3-none-any.whl#md5=a21a4d02d0bab2eac499cca72faeb076
  Downloading setuptools-18.3.1-py2.py3-none-any.whl (462kB): 462kB downloaded
In

[2015-09-11 07:47] FlorianWilhelm commented on #67
That really is quite old but since Ubuntu 14.04 is an LTS release, it's completely understandable. My PC at my working place even runs the old LTS 12.04.
My first command after `virtualenv` always is `pip install -U setuptools pip`.  With a newer pip version you also get the newish `pip list` command which is much more human-readable than `pip freeze`. The packages `setuptools` and `pip` are speci

[2015-09-11 11:33] vincent-legoll commented on #67
Yeah, you're right I really should start to use virtualenv a lot more...

[2015-09-11 14:36] HolgerPeters commented on #48
For example like in `include_dirs = [numpy.get_include()])`

[2015-09-15 07:59] xhochy opened #69 "Be less restrictive on pbr versions"
Currently the pbr version is strictly pinned on the minor version. This prevents me from installing packages that depend on different pyscaffold versions, i.e. I cannot have a package setup with PyScaffold 2.3 and one with PyScaffold 2.4.1 in my virtualenv. To solve this problem, PyScaffold should specify only the minimum required version in its dependencies.

[2015-09-15 08:28] sebastianneubauer opened #70 "Can't get test requirements working"
As I found out, additional requirements for tests (e.g. mock) are installed only when a file exists with the magic name `test-requirements.txt`. Having this with only mock as a single requirement seems to hinder the installation of pytest and pythest-cov which are otherwise without this tests-requirements installed automatically. Adding pytest and pytest-cov to requirements fails because it seems

[2015-09-15 12:49] HolgerPeters opened #71 "Setup and Test Requirements considered harmful"
Currently the setup.py that pyscaffold generates contains these lines:
[code]
usage of `setup_requires` and `tests_require` is unfortunately a little problematic. Setuptools/distutils will install the packages listed there into the `.eggs` directory upon calling `python setup.py develop` and `python setup.py test`. Since the introduction of virtualenvs in the python workflows, one is probably more

[2015-09-15 13:01] sebastianneubauer commented on #71
+1 the whole approach seems to be screwed at the moment and we need to find a way to fix it...

[2015-09-15 13:09] HolgerPeters commented on #71
To be fair, `setup_requires` and `tests_require` are the way that setuptools/distutils are layed out.

[2015-09-15 13:15] FlorianWilhelm commented on #71
Hm... but `setup_requires` is actually needed for the whole concept of tools like PyScaffold, setuptools_scm and pbr. Can you elaborate some more where the problem is? Is it directly connected to #70 ?

[2015-09-15 15:17] HolgerPeters commented on #71
Let's separate two things, for one, what we would like to have, and then what setuptools does and how this differs from what we would like to have in an environment where we use virtualenvs:

What we want: we would like to have a way to specify dependencies that we only need for executing a setup.py and not during runtime.

What setuptools offers: Setup requirements can be specified and are instal

[2015-09-15 15:28] FlorianWilhelm commented on #69
Thanks for pointing this out. Since especially pbr caused already a lot of trouble I wonder if it would be better to include setuptools_scm and pbr directly into Pyscaffold as contrib subpackages. That would resolve it. What's your opinion on that @xhochy.

[2015-09-15 15:36] FlorianWilhelm commented on #71
@holgerpeters, good explanation. So when everything is already in your virtual environment, it should be no problem. It only causes trouble if setuptools installs software into the egg folder that was not available before. The question is if setuptools allows changing from easy_install to pip. Another option would be to raise an error for at least all packages in setup_requires instead of installi

[2015-09-16 08:11] xhochy commented on #69
While I dislike contrib packages as you need to extra careful in updating them, in this case it seems like the correct solution. (I'd love to have some npm-style packaging here where you can have different versions of a packages installed in the same project).

[2015-09-16 11:01] FlorianWilhelm opened #72 "Avoid dependency hell"
One possibility to avoid problems like #69 would be to include those essential parts like pbr and setuptools_scm directly into PyScaffold.

[2015-09-16 11:05] FlorianWilhelm commented on #71
After our discussion, several things will be done to avoid this issue. First of all #72 will limit those possible conflicts to PyScaffold itself. Then avoiding `test_requires` and using an `test-requirements.txt` file like in #70 should at least limit the number of eggs you'll have if you set up your venv beforehand.

[2015-09-16 13:54] FlorianWilhelm opened #73 "Activate update integration test again"
The update integration test is currently deactivated since pydse which is used depends on libgfortran and this is problematic on Travis right now.

[2015-09-16 14:04] #69 closed

[2015-09-16 14:06] FlorianWilhelm commented on #70
After our discussion this is a duplicate of #71 and the suggested fix for #71 solves this too.

[2015-09-16 14:06] #70 closed

[2015-09-17 13:11] HolgerPeters opened #74 "Remove option for --with-numpydoc and permanently add sphinxcontrib napoleon"
Sphinx has now builtin support for Numpy-style docstrings via http://sphinx-doc.org/latest/ext/napoleon.html . So I propose that we drop the `--with-numpydoc` option from pyscaffold altogether and -- by default -- add sphinx.ext.napoleon to the list of extensions in `docs/conf.py`

[2015-09-18 06:21] FlorianWilhelm commented on #74
Sorry, couldn't resist, does commit 15e7a4cdacd081711697c89459ccddd239314acd do what you want?

[2015-09-20 10:48] HolgerPeters commented on #74
It is kind of what I was already preparing...

[2015-09-21 19:46] FlorianWilhelm commented on #74
@HolgerPeters, thanks, then I take that as a yes. Sorry, if that caused double work.

[2015-09-21 19:46] #74 closed

[2015-09-22 08:24] #73 closed

[2015-09-23 12:19] xhochy opened #75 "Release wheels"
In addition to the source tarball, we should also publish universal wheels on pypi.

[2015-09-25 05:55] FlorianWilhelm commented on #75
This is no problem, but what would be the advantages since sdists are still needed for `easy_install` to work?

[2015-09-30 08:13] FlorianWilhelm commented on #72
The suggestion by @xhochy of specifying only minimum version seems to work for now and is used in the current version 2.4.2. Since maintaining a contrib-package is quite some work (re-wiring all the internal imports of every module for each release), this issue is not that pressing and beneficial as first thought.

[2015-09-30 08:13] #72 closed

[2015-09-30 09:15] #71 closed

[2015-09-30 09:15] #75 closed

[2015-10-09 14:56] sebastianneubauer opened #76 "issues with automatic version number"
It seems, if the package setup.py is not in the git repository root directory, the generated version string is different than in the root dir:
root dir:
python setup.py --version
0.0.post0.dev1+11079f0
subfolder:
python setup.py --version
0.0.1.dev1

[2015-10-09 16:15] FlorianWilhelm commented on #76
This is kind of unintended usage. Did everything else work? Can you explain what you exactly did?
Somehow setuptools_scm switches back to the default versioning.

[2015-10-12 14:46] sebastianneubauer commented on #76
Mmmh, I feared an answer like this, but in my experience we cannot come around accepting, that the pressure to use pyscaffold is sometimes smaller than the pressure to not have setup.py in the root of a repository. Often for example there are many packages in one repository, because they should have a common version (same version control)...then it makes sense to have them both in subfolders and b

[2015-10-12 16:43] FlorianWilhelm commented on #76
Ok, it should be no problem to let PyScaffold only create a repo if the current directory is not already a git repo. The problem is the strange versioning... do you want to look into it? My guess is it is setuptools_scm related. With a debugger it should be no problem to find the cause. I am on holidays right now and cant do it.

[2015-10-12 19:56] sebastianneubauer commented on #76
Ok, I can have a look...

[2015-10-12 21:27] sebastianneubauer commented on #76
I analyzed the issue with the versioning and found the reason. Setuptools has a configuration parameter "root" which defaults to ".".
We can quite easily fix this issue by setting the correct root dir. The root folder can be identified with the following:

     repo_dir = subprocess.Popen(['git', 'rev-parse', '--show-toplevel'], stdout=subprocess.PIPE).communicate()[0].rstrip().decode('utf-8')

[2015-10-13 08:26] FlorianWilhelm commented on #76
Thanks, that was fast. Is this a parameter of setuptools or setuptools_scm? The latter I guess. I'll think with a few changes in integration.py we can resolve this issue. I'll look into it after my holidays.

[2015-10-27 11:21] FlorianWilhelm commented on #76
Thanks to @treebee this is fixed in release v2.4.3!

[2015-10-27 11:21] #76 closed

[2015-10-28 11:13] FlorianWilhelm opened #79 "Support non-standard (test-)requirements.txt files"
Right now you have to use the default requirement file `requirements.txt` and `test-requirements.txt` (since v2.5) to define your requirements and test requirements. Some users complained that they want to have an easy way to define other names and locations of these files. PBR supports right now only to change the name `requirements.txt` by using the environment variable `PBR_REQUIREMENTS_FILES`.

[2015-10-28 11:17] FlorianWilhelm commented on #48
I filed a bug report in the PBR launchpad:
https://bugs.launchpad.net/pbr/+bug/1510898

[2015-10-29 10:37] sebastianneubauer opened #80 "2.4.3 broken?"
I get an exception when I try to create a new package with `putpup new_package` since the new version 2.4.3, 2.4.2 works fine:
[code]

My environment:
[code]

[2015-10-29 11:05] FlorianWilhelm commented on #80
Sorry for that, seems to be a corrupt upload to PyPI, at least that explains why all unittests were green. I uploaded a version 2.4.4 but it seems to take a while until it spreads through all caches. Could you check it in about an hour if it works for you?

[2015-10-29 11:33] zondo opened #81 "Add support for other VCSes"
Not everyone uses git.  How about supporting (e.g.) mercurial too?

[2015-10-29 11:44] FlorianWilhelm commented on #81
Every VCS supported by setuptools_scm would be possible and currently it supports git and mercurial. I am no expert in mercurial and have only used git so far but I am open to PRs that let PyScaffold support mercurial.

[2015-10-29 11:58] sebastianneubauer opened #82 "typo in devpi:upload section"
[code]
has a missing s in `format` and should be:
[code]

this is just silently ignored and a tar.gz is build instead of wheel...

[2015-10-29 18:21] #80 closed

[2015-10-29 18:26] FlorianWilhelm commented on #82
Thanks, was an easy fix :-)

[2015-10-29 18:26] #82 closed

[2015-11-21 22:56] kynan opened #86 "Query effective rather than global git configuration"
Recent versions of git support [additional configuration files](https://git-scm.com/docs/git-config#FILES) e.g. `$XDG_CONFIG_HOME/git/config`. When setting `user.name` and `user.email` in this file (as I do), it is not reported by `git config --global`.

I don't really see a reason to explicitly query the *global* git configuration instead of the *effective* git configuration, which is what a plai

[2015-12-05 22:08] FlorianWilhelm commented on #66
Thanks to Eva Schmücker for a cool logo!

[2015-12-05 22:08] #66 closed

[2016-02-23 14:02] willu47 opened #88 "Pyscaffold projects as dependencies via VCS break installs"
At the moment, I can manually install a dependency via `pip install -e git+https://github.com/UCL-ShippingGroup/pyrate.git#egg=pyrate-v0.1`.

However, if I include `-e git+https://github.com/UCL-ShippingGroup/pyrate.git#egg=pyrate-v0.1` in the requirements.txt file in my source tree, pyscaffold raises an error:
[code]

[2016-02-23 15:16] willu47 commented on #88
I also received a separate error relating to [this](https://bugs.launchpad.net/pbr/+bug/1467683) pbr bug.

[2016-02-23 19:14] FlorianWilhelm commented on #88
Hi @willu47, thanks for reporting this bug. I uploaded version ``v2.5.5b1`` to PyPI including the current master branch of PBR. Could you check if this solves your problem and report back?

[2016-02-23 20:30] willu47 commented on #88
Hi @FlorianWilhelm.  Thanks for getting back to me so quickly.  Unfortunately, that didn't solve the exact problem, but it did introduce the flexibility to use either `-e git+https://github.com/UCL-ShippingGroup/pyrate.git#egg=pyrate-v0.1` or `git+https://github.com/UCL-ShippingGroup/pyrate.git#egg=pyrate-v0.1` (dropping the `-e`) in the requirements file.  Before this raised a slightly different

[2016-02-23 23:44] Mohitsharma44 opened #89 "Cannot execute putup script on mac w/ brew"
Running Mac os X yosemite with homebrew.
Installing pyscaffold using pip doesn't allow invoking putup script globally.
Had to add putup as an alias in bash_profile for now.

[2016-02-24 11:24] FlorianWilhelm commented on #89
Thanks for reporting this. Right now I have now Mac at my disposal and therefore cannot reproduce this. Maybe we can still localize the cause of your problem by answering following questions:

1. If you install [django ](https://www.djangoproject.com) the same way with homebrew as you installed PyScaffold, does the command ``django-admin.py`` work? Or do you need to set an alias as well?
1. What i

[2016-02-24 16:19] willu47 commented on #88
This seems to be a problem with MacOSX builds and is not a problem on Linux.

[2016-02-24 16:46] Mohitsharma44 commented on #89
Hi @FlorianWilhelm,
I guess, I do not understand virtualenv as much as I thought I did.

Initially, I installed `pyscaffold` (and other/optional dependencies like six, sphinx etc) **without** `virtualenv` but I couldn't execute the putup script and had to add an alias in the `bash_profile`. Then, I installed `pyscaffold` using `virtualenv` and it worked. Surprisingly `putup` now works without usin

[2016-02-24 17:32] FlorianWilhelm commented on #89
@Mohitsharma44 So it works without activating the virtual environment? Maybe it's your alias that is still set? If that solves your issue, I would close it.

[2016-02-24 17:35] Mohitsharma44 commented on #89
Naah.. don't think so. I `source`d my profile, even restarted the session but I am able to use `putup`. I will try to figure out what the issue is but thanks for your help @Florian .
I am closing this from my end.

[2016-02-24 17:35] #89 closed

[2016-02-24 17:41] FlorianWilhelm commented on #88
@willu47 It seems so. I just tried the following under Linux.

1. Created a project with ``putup my_project``
1. Added ``git+https://github.com/UCL-ShippingGroup/pyrate.git#egg=pyrate-v0.1`` to ``requirements.txt``
1. Run ``python setup.py sdist`` to generate a distribution
1. Installed ``my_project`` with ``pip install dist/my_project-0.0.post0.dev1+84f5fa5.tar.gz``

and it works perfectly. I hav

[2016-02-24 18:09] willu47 commented on #88
Hmm, I have replicated this on OSX and it also works, but that is because the sdist obfuscates the direct link to the git project, and installs pyrate from pip (note that this is a __different__ pyrate library to the one we use.

[2016-02-25 09:33] cpaulik opened #90 "Installation Error on Windows"
When trying to install my [pygeogrids](https://github.com/TUW-GEO/pygeogrids) package on Windows I get the following error:

[code]

This happens when all the dependencies are already installed manually. The same package works without problems in Linux.

[2016-02-25 09:36] cpaulik commented on #90
Oh, can this be because git is not installed on the target system?

[2016-02-25 10:45] FlorianWilhelm commented on #90
Hi @cpaulik, what exactly did you do to install it? Did you use pip? Please be more precise. If you used ``python setup.py sdist`` or  ``python setup.py bdist_wheel`` the resulting package should have no dependency on PyScaffold at all. That's the idea, you only need PyScaffold (and git) during the development but not when someone wants to use your package. This is why I assume you used ``python s

[2016-02-25 10:55] cpaulik commented on #90
I used `pip install pygeogrids` which loaded the source distribution from https://pypi.python.org/pypi/pygeogrids/0.1.9

I'll check the tar file again since I guess there is something wrong on my side.

[2016-02-25 11:52] cpaulik commented on #90
Ok. I've run `python setup.py sdist` on my Ubuntu machine on the latest `master` of [pygeogrids](https://github.com/TUW-GEO/pygeogrids). This gave me `pygeogrids-0.1.9.post0.dev3+g8f0858b.tar.gz`.

Then I ran `pip install "H:\pygeogrids-0.1.9.post0.dev3+g8f0858b.tar.gz"` on my Windows machine which gave the same error as in the original post.

Do you have any ideas why this could be?.

The [setup.

[2016-02-25 11:54] cpaulik commented on #90
This is the conda environment in which I am trying all of this:
[code]

[2016-02-25 16:52] FlorianWilhelm commented on #90
@cpaulik You may have found a serious bug in PyScaffold. I could reproduce it and I think I know where the problem is. Give me some more time, I'll fix it asap.

[2016-02-25 21:46] ahasha opened #91 "Embedding python package within multi-language git repositories"
It's a fairly common usecase to have a project in which codebases in several languages are stored in a single git repo.  I wanted to use pyscaffold to create a python package structure in a subdirectory of the repo, i.e.

[code]

However, having done this I get the following error when trying to install the pyscaffold package with setup.py

[code]

[2016-02-25 22:07] ahasha commented on #91
Never mind -- I realized the problem is caused by something else.  Ignore, please.

[2016-02-25 22:07] #91 closed

[2016-02-26 06:46] FlorianWilhelm commented on #88
Okay, now here is what I did with PyScaffold 2.5.5b1 on Linux:

1. Create and activate a new virtual environment, i.e. ``virtualenv new_venv`` and ``source new_venv/bin/activate``
1. Update pip and setuptools, i.e. ``pip install -U pip setuptools``
1. Installed PyScaffold, i.e. ``pip install -U --pre pyscaffold``
1. Created a project *my_project*, i.e. ``putup my_project``
1. Added ``git+https://g

[2016-02-26 06:51] FlorianWilhelm commented on #88
This is the stacktrace::

running egg_info
writing requirements to my_project.egg-info/requires.txt
writing my_project.egg-info/PKG-INFO
writing top-level names to my_project.egg-info/top_level.txt
writing dependency_links to my_project.egg-info/dependency_links.txt
[pbr] Processing SOURCES.txt
[pbr] In git context, generating filelist from git
warning: no files found matching 'AUTHORS'
warning: n

[2016-02-26 07:34] FlorianWilhelm commented on #90
@cpaulik Could you check if you have the same problem with PyScaffold 2.5.5? Maybe you need to remove manually older version of PyScaffold first.

[2016-02-26 09:24] cpaulik commented on #90
Thanks. I can now install the existing package as well as newly generated ones.

[2016-02-26 09:24] #90 closed

[2016-02-26 10:52] willu47 commented on #88
Great, thanks for detailing the procedure you followed to recreate the error.  I think the next step is to determine whether this is a bug specifically related to something in the pyrate repository, or to all dependencies referred to in a `requirements.txt` file in a PyScaffold project.

[2016-02-26 11:01] willu47 commented on #88
On OSX:
1. Created a project `depend`, i.e. put-up my_project
2. git pushed to `https://github.com/willu47/depend.git`
3. Created a project `my_project`
4. Added `git+https://github.com/willu47/depend.git` to `requirements.txt`
5. Run python setup.py develop and it fails but python setup.py install works without installing pyrate.

Same error.

[code]

[2016-02-26 11:20] willu47 commented on #88
Finally, for completeness, I added pyrate as a dependency of a project which does not use PyScaffold (i.e. just using vanilla setuptools for packaging).  The same error occurred.

[2016-02-26 12:34] FlorianWilhelm commented on #88
Cool, so  ``setuptools`` is the culprit. I just pushed a branch ``recursive_import_workaround``, could you check if it works with that branch? You need to checkout PyScaffold, and run ``python setup.py install`` from that branch inside a clean virtual environment. After that you it's the same as before.

[2016-02-27 13:18] FlorianWilhelm commented on #88
I did some more investigations and got some insights. It seems that pbr creates several distributions (``setuptools.dist.Distribution``). When this dist object is then used to create a command (``setuptools.Command`` which inherits from ``distutils.core.Command``) like ``egg_info`` it is checked if the distribution argument really is an instance of ``Distribution``. Now inside ``distutils.core.Com

[2016-02-28 20:38] FlorianWilhelm commented on #88
@willu47 btw, you have of course always the workaround to run ``pip install -r requirements.txt`` before calling ``python setup.py develop``. In this case it works.

[2016-03-09 19:29] willu47 opened #92 "Cannot build or install project with git submodule"
When `git submodule` is used to create a sub-repository within a repo, `python setup.py install sdist bdist` fail with the error:
    `error: can't copy 'exactVerify/shipquant': doesn't exist or not a regular file`

[2016-03-09 19:47] FlorianWilhelm commented on #92
This is most likely a bug in PBR as pointed out in the [PBR bugtracker](https://bugs.launchpad.net/pbr/+bug/1530867). When it is fixed in PBR I will update the version PyScaffold uses. My recommendation is to use ``git subtree`` anyway. You can check out how I use it in PyScaffold for PBR and setuptools-scm.

[2016-04-28 00:00] jvsteiner opened #95 "support for virtualenv?"
does it exist?  would think automatically adding a virtualenv (and associated entry to .gitignore) would be a helpful addition.  Any plans/desire to add this?

[2016-04-28 11:03] HolgerPeters commented on #95
The tox support gives you a virtual environment for tests already (which is of course not a virtual environment in the classical sense).

In my experience, virtualenvs need to be created and to be disposed of rather frequently. By automatically creating one, the effort is reduced exactly one time. I am not sure if we want to automatize a regular process just by one time.

I would probably rather s

[2016-04-28 21:07] FlorianWilhelm commented on #95
I agree with @HolgerPeters and want to add that the focus of PyScaffold is to provide a template for a Python project, nothing less but also nothing more. You can easily create and provision a virtualenv with the help of the generated ``requirements.txt`` file and ``pip``.
Additionally, I am not 100% convinced that a virtualenv should reside inside the project's directory. For my part, I always us

[2016-04-29 13:30] HolgerPeters commented on #79
What I rather would like to see is a way to separate the dependencies of a project and the environment that a project is run under. I.e. when the dependency is scikit-learn, a build environment would be scikit-learn==0.17.0 and numpy-1.11.0. Basically pinning your environment is the only pratical way of writing software when software is pulled from pypi. I am more or less adapting any project that

[2016-05-01 19:04] #95 closed

[2016-05-01 19:19] FlorianWilhelm commented on #79
I haven't used pip-tools so far. That means you have unpinned versions when building the package for PyPI but keep them pinned in your virtual environment? Sounds reasonable. How do we handle the fact that PBR reads the ``requirements.txt`` file when running ``python setup.py sdist bdist_wheel``. If I get pip-tools right, unpinned versions are kept in ``requirements.in`` and pinned ones in ``requi

[2016-05-02 10:31] HolgerPeters commented on #79
here is how I would implement this: I would use requirements.txt and test-requirements.txt as inputs for pip-compile. The requirements-txt file resulting from pip-compile would then be named something like `build_environment.txt`. This is the file I would use with `pip-sync` to provision my virtual environment. The `build_environment.txt` could be included into the documentation of the project by

[2016-05-04 15:59] FlorianWilhelm commented on #79
@HolgerPeters That sounds like a plan. As long as ``requirements.txt`` contains the unpinned version that should be fine with PBR. This approach would even allow our users to use this functionality optionally. Should we completely get rid of ``test-requirements.txt`` then? We should start a ``v2.6.X`` branch to do all that.

[2016-05-04 16:23] FlorianWilhelm commented on #92
@willu47 The problem still exists in version 2.5.6 since the authors of PBR seem to ignore this issue right now. Another workaround is to use either ``python setup.py develop`` or ``python setup.py sdist``  followed by ``pip install dist/your_package.tar.gz``. It seems only ``python setup.py install`` is choking on the submodule directory.

[2016-05-04 16:29] willu47 commented on #92
Okay, thanks for the update.  We've found a workaround for now.

[2016-10-09 16:19] willu47 opened #96 "Pytest deprecation"
`[pytest]` heading in setup.cfg is deprecated in latest version of pytest, and should be `[tools:pytest]`

[2016-10-09 16:23] FlorianWilhelm commented on #96
Thanks @willu47 for pointing out, I already corrected this in commit 69e6c06a4229308efc3a5ff4aa45eb6db3a26461 in the development branch a while ago. I think it's about time to make a new release soon. I am just waiting for the PR of @girstenbrei .

[2016-10-09 17:44] girstenbrei commented on #96
Thanks @willu47 , I also noticed the deprecation warning. @FlorianWilhelm , right now, I am in the middle of my uni-tests (bad timing, as if they jumped out behind a corner :) ), so I have to do the pull request after finishing them (I think, 2 weeks is doable for me). Just fyi, if you want to release earlier.

[2016-10-09 19:34] FlorianWilhelm commented on #96
I will also work on some small changes that I want in the next release. If I get this done in the next few days I will release a bugfix release and we push your changes @girstenbrei in the next minor release.

[2016-10-11 19:42] #88 closed

[2016-10-11 20:17] FlorianWilhelm commented on #96
I just released version 2.5.7 which should fix the issue. Thanks again @willu47 for filing this issue.

[2016-10-11 20:17] #96 closed

[2016-10-12 06:02] RonnyPfannschmidt commented on #88
@willu47 @FlorianWilhelm pbr is in the traceback, pbr is a total mess from openstack ^^

[2016-10-24 11:46] danielsouzasp commented on #67
Thanks Vicent.

[2016-12-02 04:54] enfeizhan opened #98 "not updating newly added modules and remove removed ones"
I am currently using pyscaffold 2.5.7 and sphinx 1.4.9.  Found two maybe "issues", firstly documentations for removed modules still exist e.g. in html files. It doesn't find the changes also the other way, newly added modules don't show up in htmls.

Wondering is this supposed to be so or I am not doing it correctly? Let me know if you need more info to identify any issue. Thanks!

[2016-12-02 05:00] enfeizhan commented on #98
Or this is actually a sphinx issue?

[2016-12-02 06:21] enfeizhan commented on #98
Also is there any way to ignore some module like the versioneer module?

[2016-12-04 10:59] FlorianWilhelm commented on #98
Hi @enfeizhan, thanks for reporting. I can confirm your two issues. PyScaffold aktuelle uses PBR for this functionality. A workaround is to delete ``docs/api`` before rebuilding the docs. Regarding your exclusion of files question have a look here: http://docs.openstack.org/developer/pbr/#pbr

[2016-12-04 11:23] FlorianWilhelm commented on #98
Could you try activating ``autodoc_index_modules = True`` in your ``setup.cfg`` and see if that helps with new module files? In this case PBR will itself generate the api docs.

[2016-12-04 11:47] FlorianWilhelm commented on #98
I added following bug report in PBR https://bugs.launchpad.net/pbr/+bug/1647140

[2016-12-06 23:51] enfeizhan commented on #98
Hi @FlorianWilhelm,
   Thanks a lot for the detailed reply. I tried your recommendations. It seems only deleting ``docs/api`` works.

  What I just did was, (I have found another workaround by manually adding or removing items in ``docs/api/myproject.rst``) first I turned ``autodoc_index_modules`` on and did ``python setup.py docs`` again. I expected I would see the modules I have manually removed

[2016-12-11 17:09] FlorianWilhelm commented on #98
Hi @enfeizhan, I created a project ``test_proj`` with files `new_module1-3.py` including in ``setup.cfg``:
[code]
and it works for me as expected, i.e. only ``new_module1.py`` is indexed.

[2016-12-11 22:33] enfeizhan commented on #98
Danke @FlorianWilhelm. I'll try it out soon.

[2017-01-22 08:16] des0ps opened #99 "PyScaffold breaks the installation of numpy"
Installing pyscaffold for python3 prevents the installation of numpy with python 3 support (on MacOS).

Repro steps:

[code]

It gives the following result:

[code]

Here is the ticket on homebrew-python: https://github.com/Homebrew/homebrew-python/issues/387

[2017-01-22 10:53] FlorianWilhelm commented on #99
Hi @des0ps, thanks for this report. I actually don't think PyScaffold is the reason for this, it rather seems as if nose got installed in a Python 2 version and this is why `print "%s version %s"` fails with invalid syntax. What happens if you install numpy with pip3?

[2017-01-22 13:19] des0ps commented on #99
When installing numpy through pip, it works great, it's only when installing the brew formula with the   `--with-python3` parameter.

[2017-01-22 15:52] FlorianWilhelm commented on #99
Therefore the problem is related to the brew formula and nose, not in any way to PyScaffold. If you agree you can close this issue as resolved.

[2017-01-22 15:57] FlorianWilhelm commented on #99
@des0ps, could also check why your Python3 environment actually pulls packages from `/private/tmp/numpy--nose-20170122-23249-1w4blaa/nose-1.3.7/nose/`, this is kind of strange. Are you using conda or virtualenv btw? or is brew using `/private`? I think your setup is a bit messy.

[2017-01-25 13:11] HolgerPeters commented on #99
If I may add, it is a bad idea to mix a package manager with pip. I.e. typically you would always use python virtualenvs for installing such packages. If several tools (brew/pip/apt/easy_install) use the same tree in the file system, it is only to be expected that there will be errors.

[2017-01-26 09:04] #99 closed

[2017-03-24 10:50] flip111 opened #100 "run without installing into current environment"
The skeleton.py file does not make clear how to just run the file. Since it starts with a shebang i tried the obvious

[code]

but then i get
[code]
(i called my project `switches`)

this happens with python 3.5.2

I'm totally new to python, so this is really a beginner experience with this tool

[2017-03-24 12:35] FlorianWilhelm commented on #100
Hi @flip111 ,

if you check the docstring of `skeleton.py` it should read:
[code]
 Do these instructions help you?

[2017-03-24 12:38] flip111 commented on #100
No because

[code]

and i don't want to install commands on my system just to run this python script

[2017-03-24 12:43] FlorianWilhelm commented on #100
Are you using virtual environments `virtualenv` or conda environments btw? If you are not familiar with them you should take a look into them since they allow you to set up little isolated environments to test things like this. But take this only as a side node.

There is actually no point in running `skeleton.py` directly and you are right, I should remove the shebang :-) Will do that in the next

[2017-03-24 12:49] FlorianWilhelm commented on #100
Well, sorry, this was a too hasty answer. Since `skeleton.py` includes
[code]
this would allow people to not set a console command (by not uncomment the line in setup.cfg) but still allowing them to try this mechanism AFTER having installed it.
Therefore what you could do, do NOT uncomment the lines
[code]
just leave them as they are und run `python setup.py install`. Then you can call the skeleto

[2017-03-24 13:05] flip111 commented on #100
I don't get the point of this install. Why do i need the extra step? What is being installed? What does it give me? Where are the files installed? Can i also uninstall?

I'm just new to python and as far as i know i can run `python hello_world.py` and it works. The readme doesn't say anything about stuff being installed. I liked the look of pyscaffold so that i get a lot of stuff setup already and

[2017-03-24 14:24] FlorianWilhelm commented on #100
@flip111 I am not 100% sure you are getting the purpose of this package. It helps Python developers of applications and libraries to easily package them in order to further distribute them. That is actually the opposite of having a Python file somewhere and executing it with `python hello_world.py`. You surely know the command `pip install ...`, right? In order to generate a package of your Python

[2017-03-24 14:50] flip111 commented on #100
I was looking for stuff on how to start a new python project. I just want to get going with the right tooling set up. Similar things i found

https://coderwall.com/p/lt2kew/python-creating-your-project-structure
https://learnpythonthehardway.org/book/ex46.html
https://stackoverflow.com/questions/193161/what-is-the-best-project-structure-for-a-python-application
https://jeffknupp.com/blog/2014/02/0

[2017-03-24 15:24] FlorianWilhelm commented on #100
Okay, then you are spot on, PyScaffold is the tool for you. Still you might first dig into some other parts of a Python developer's toolchain like conda environments, requirement files, pip and other things. Installing something into a virtual environment, that can be disposed and rebuilt in less then a minute is gonna be your daily job. Running `python setup.py install` or `python setup.py develo

[2017-03-24 19:33] flip111 commented on #100
Ok i figured out virtualenv now. Could this possibly be added to a python script to do

[code]

or shall i put this in a shell script ?

[2017-03-25 11:35] FlorianWilhelm commented on #100
PyScaffold does only one thing and one thing right. It is not concerned if you are using virtualenv, conda environements or any environments at all, therefore functionality like this won't be included directly. You can put it in a shell script of course but I don't see much advantage of it actually.

Since your issue seems to be resolved, can we close this ticket then?

[2017-03-25 11:58] flip111 commented on #100
Yes, thank you for support

[2017-03-25 11:58] #100 closed

[2017-04-05 15:48] brianthelion opened #102 "Support for cookiecutter is under-documented"
First, pyscaffold is great! Thanks!

Second, cookiecutter support is a great addition. Without it, there's no way to do organization-, project-, or framework-specific boilerplate reduction.

As of right now, though, the `putup --with-cookiecutter` experience is a little bit confusing. The extent of the `putup --help` is:
[code]
The narrative documentation in the [README.md](url) is:
[code]
For the

[2017-04-05 17:40] FlorianWilhelm commented on #102
Thanks for your input @brianthelion. I totally agree. The story of the cookiecutter feature is actually that it was requested by a former colleague, implemented and I don't know if ever really used. It is actually quite simple, PyScaffold calls cookiecutter with all parameters (author name, e-mail, package name etc.) and later does its actual job. I haven't myself used this feature so far in pract

[2017-04-05 20:45] brianthelion commented on #102
@FlorianWilhelm I would like to use the feature, but will need to author new templates to accomplish what I need to as in #B above. That reduces the overall utility of pyscaffold for me, as there are already cookiecutter templates that do what I want and won't require modification. This sets up an "pyscaffold vs cookiecutter" scenario that I am guessing plenty of other folks are dealing with as we

[2017-04-05 21:46] FlorianWilhelm commented on #102
@brianthelion What is your use-case and which cookiecutter template would you use for it? I am just trying to understand. I often get asked why one would use PyScaffold vs. cookiecutter. Cookiecutter is much more flexible and you have a framework to define your own custom template. PyScaffold on the other hand tries to work just out of the box for 95% of all use-cases. Do you know of any cookiecut

[2017-04-05 22:08] brianthelion commented on #102
@FlorianWilhelm No, there are no cookiecutter templates that work as well as pyscaffold *for the basics.* The problem is that as soon as you go beyond the basics you need something that uses customizable templates a-la cookiecutter. The combination of the two would be ideal.

One of the big issues that cookiecutter suffers from is poor support for namespace packages. (This is actually what brought

[2017-04-06 06:36] FlorianWilhelm commented on #102
@brianthelion I think your three points will be hard to accomplish right now since PyScaffold first calls Cookiecutter and let it do its work only then applies its own structure. In case of `requirements.txt` it would overwrite whatever you have done with the help of a Cookiecutter template. So that would need to be changed. I actually know no PyScaffold user that is using the Cookiecutter feature

[2017-06-09 16:44] knicholes opened #104 "Weird Workaround for gh-pages"
Let me first thank you for this incredible project.  I'm using it for all of my new projects.

One issue I'm having is how to publish the built docs to github's gh-pages branch.  I found some [instructions](https://daler.github.io/sphinxdoc-test/includeme.html) that have me create another directory and change my conf.py to build to that dir instead, but I'm suspicious that I'm hacking around somet

[2017-06-14 12:27] FlorianWilhelm commented on #104
Hi @knicholes, thanks, we are always happy to hear that PyScaffold helps people setting up their projects more easily.

Right now there is no supported way to directly push to a `gh-pages` branch with the help of a PyScaffold template. Having browsed your instruction link, besides generating the pdf documentation in a non-default temporary directory it's only `cd $(BUILDDIR)/html; git add . ; git

[2017-08-27 21:27] willu47 opened #107 "Travis install template dirties git repo"
[Travis install script](pyscaffold/pyscaffold/templates/travis_install.template) leaves `miniconda.sh` in repository directory.

This causes issues when trying to deploy a tagged branch using dpl to PyPi on Travis, because the git repo is 'dirty'.

E.g Build [#366](https://travis-ci.org/nismod/smif/builds/268859927) checks out v0.4.4 to deploy to pypi

[running the script](https://travis-ci.org/ni

[2017-09-01 07:18] #107 closed

[2017-09-09 09:59] FlorianWilhelm opened #112 "Add support for GitlabCI"
Support for GitlabCI was added in PR #111 by @smartsammler. Since the inner workings of PyScaffold version 3 which is prepared on branch `v3.x` had undergone some major changes, the support of GitlabCI needs to be converted into an extension in order to make it into version 3.

[2017-09-09 10:48] FlorianWilhelm commented on #102
Thanks to the great work of @abravalheri, this issue is addressed in the current `v3.x` branch that will be released as version 3 when everything is in place.

[2017-09-09 12:33] #81 closed

[2017-09-09 12:49] smartsammler commented on #112
Can it be an `built-in extension` or should it be realized as an external extension?

[2017-09-09 13:21] FlorianWilhelm commented on #107
@willu47 I just released version 2.5.8rc1 that you can easily install with `pip install --pre -U pyscaffold`. Please let me know if everything works for you then I will release a final version 2.5.8.

[2017-09-10 11:45] FlorianWilhelm commented on #112
Since it seems that a lot of people are using GitlabCI I think it can be implemented as an built-in extension directly so that you could make a PR on the branch `v3.x`. What do you think @abravalheri? This would also give another opinion and feedback on @abravalheri new extension system for PyScaffold. You can easily read the documentation on how to write extension on [readthedocs](http://pyscaffo

[2017-09-10 14:10] willu47 commented on #107
Tested and identified another bug in travis file.  See PR #114

[2017-09-11 13:38] FlorianWilhelm opened #115 "Consider using `src` as source folder"
Currently PyScaffold creates a structure `my_project/my_package`. According to more recent versions of [setuptools](http://setuptools.readthedocs.io/en/latest/setuptools.html) a structure like `my_project/src/my_package` seems to be the preferred way.
Since we are preparing a major version 3.0 for PyScaffold we could also opt to change the current structure to the recommended one and consider it a

[2017-09-11 13:42] FlorianWilhelm opened #116 "Consider dropping PBR"
Newer versions of setuptools allow configuration with the help of `setup.cfg` for almost all options. A few years ago this was not possible and therefore PBR was used to achieve this. PBR itself is considered by many people as quite a hack and it is really hard to debug sometimes. For version 3.0 of PyScaffold we could consider dropping PBR and replacing it with the standard functionality of more

[2017-09-13 05:19] HolgerPeters commented on #116
PBR was the reason I stopped actively using pyscaffold.

[2017-09-15 12:32] FlorianWilhelm opened #117 "Check code style etc"
Use flake8 to check code convention and style in Travis

[2017-09-15 12:45] FlorianWilhelm opened #118 "Change docs in version 3 with respect to extensions"
Encourage the usage of the PyScaffold internal extensions instead of Cookiecutter templates in the official documentation.

[2017-09-21 12:37] abravalheri commented on #115
There are a few thoughts about it in the following post blog:

https://blog.ionelmc.ro/2014/05/25/python-packaging/

Although it is a little bit old, the selling points seems quite fair.

There is also a companion template repository in
https://github.com/ionelmc/python-nameless with a few things that can
inspire PyScaffold.

[2017-09-21 13:38] abravalheri commented on #117
The pre-commit hook is configured to already use flake8 in branch v3.x, so
all the new code *should *be fine at least, but more specific style guides
may require a more powerful tool like pylint (that can also be integrated
with pre-commit).

One option to make it available within travis is running the command:

pre-commit run --all-files

The problem with this approach is that maybe old code (pri

[2017-09-22 10:39] abravalheri commented on #116
+1 for sure.
But let me ask you what would be the impact of this change on issue #48?
The idea would be allow the user to directly modify setup.py, or would
PyScaffold stick with the declarative approach using setup.cfg?

Do this change also affects #79?

[2017-09-22 10:51] abravalheri commented on #112
The more feedback, the better.

Right now I am working to address the review on the extension system that
Florian did a few weeks ago, but the current implementation should be
enough (and I should be able to easily migrate the implementation to be
compliant with the last refinements suggested).

So feel free to implement it now, or wait a bit while we work on the
plumbing...
(My implementation may

[2017-09-24 06:13] FlorianWilhelm commented on #116
Yes, this would fix #48 since Cython usage would be done just as it is meant to be according to setuptools by changing `setup.py` directly. Most other more common configuration would still be done via `setup.cfg` in a declarative way (see [here](http://setuptools.readthedocs.io/en/latest/setuptools.html#configuring-setup-using-setup-cfg-files)) because it is just way easier and one of the more imp

[2017-09-25 09:13] abravalheri commented on #116
It is great that so many issues can be addressed after dropping PBR.

May I just drop a few more questions? (Just trying to understand and checking if I can contribute to something...)

Right now `setup.py` is always replaced whenever the user does a `--update` or `--force`. This is possible because all custom configuration is supposed to live inside `setup.cfg`. But with this change I think we ca

[2017-09-25 23:40] abravalheri opened #119 "`test_install.py` not isolated properly"
The test functions in this file install packages directly in the environment they run, therefore "sharing" state among themselves.

This makes this test not thread-safe and prevents the usage of pytest-xdist to speed up the local/manually triggered verification and CI.

(Maybe  [pytest-virtualenv](https://github.com/manahl/pytest-plugins/tree/master/pytest-virtualenv) can be used to create a separ

[2017-09-25 23:49] abravalheri opened #120 "Suggestion for system tests"
Right now system tests are performed in a ad-hoc fashion with a simple bash script.

A common approach to add more organization / test capabilities is to use a bash test framework like [bats](https://github.com/sstephenson/bats).

Another approach would be also using pytest with the help of some plugins such as [pytest-virtualenv](https://github.com/manahl/pytest-plugins/tree/master/pytest-virtual

[2017-09-26 08:06] FlorianWilhelm commented on #116
The updating issue is really a good point to bring up. You are right that in this case we should no longer overwrite ``setup.py`` when calling ``--update`` without ``--force``.  Hopefully our vanilla ``setup.py`` does not change at least for minor and patch level updates. Major updates like moving from 2.x to 3.x are really hard to support and I don't know if it is worth the effort, million things

[2017-09-26 08:50] abravalheri commented on #116
Well, I have changed `sphinx_makefile.template` in order to call `sphinx-apidoc` as a task dependency.
I am not sure if there is a flag for `conf.py` to do that automatically. The only thing I was able to find is a [`autosummary_generate`](http://www.sphinx-doc.org/en/stable/ext/autosummary.html#confval-autosummary_generate) flag, but it uses the [`sphinx.ext.autosummary`](http://www.sphinx-doc.or

[2017-09-26 09:37] FlorianWilhelm commented on #120
Sounds like a good idea, would [tox](http://tox.readthedocs.io/en/latest/index.html) not help regarding the virtualenv problem?

[2017-09-26 15:52] abravalheri commented on #120
tox would definitely help. But from what I read from the documentation the pytest-virtualenv package is even more useful since it enables calling executables from a python function as if they were installed with pip.

[2017-09-26 17:18] FlorianWilhelm commented on #120
Ah, I didn't know that, so far I have only used tox but of course we should opt for the most suitable but also reliable option.

[2017-10-08 17:42] smartsammler commented on #112
Finally I found the time to create the extension, but I have got some questions concerning consistency with the documentation:
* Should I use `structure` like it's called in the documentation or `struct` like it is in the examples (tox and travis), if one wants to also mention it as an example? Now I used `structure`.
* The documentation uses `extend_scaffold` whereas the examples use `extend_proj

[2017-10-10 10:13] abravalheri commented on #112
Hi Julian,

Regarding the name convention, I think that it is not a problem to have something slightly divergent.

I have used `structure` in the docs to make it clear, but `struct` in the code because that is what most of the existing code uses.

Do you think that `extend_project` is better than `extend_scaffold`? I can change the docs. (It is always good to have the documentation as easy to unde

[2017-10-10 16:33] smartsammler commented on #112
Hi Anderson,

For me `extend_project` sounds better, but that's only because I think of changing my final projects being extended and not of the step between.

OK, I'll add it to the docs and create a PR.

[2017-10-10 20:29] smartsammler opened #123 "Link to `requirements depending on your Python` in `features.rst` seems to be outdated"
[requirements depending on your Python](http://docs.openstack.org/developer/pbr/#requirements) in the ``features.rst`` redirects to [/pbr/latest](https://docs.openstack.org/pbr/latest/#requirements).
Is this intended or was the link directing to a more specific site in the past?

[2017-10-12 17:54] FlorianWilhelm commented on #123
Hi @smartsammler, thanks for letting us know. The whole documentation will be reworked and PBR is about to be dropped. Checkout the branch *drop_pbr* if you want.

[2017-10-13 12:42] FlorianWilhelm commented on #79
Since PBR will be dropped with version 3 of PyScaffold, no `requirements.txt` will be read by `setup.py`. Instead requirements will be directly defined in setup.cfg as specified by newer versions of setuptools.

[2017-10-14 12:51] FlorianWilhelm commented on #48
If we drop pbr the default methods of including cython files could be used again directly within `setup.py`. I would prefer a more declarative way with `setup.cfg` but this seems to be as good as it gets right now.

[2017-10-14 21:24] FlorianWilhelm opened #126 "Consider MIT as license instead of New-BSD"
The MIT license is the recommended license by [choosealicense](https://choosealicense.com/) and the contrib packages `setuptools_scm` as well as `six` both use MIT. This way we could unify the number of licenses involved. As a last point, the MIT license seems to be the most prevalent license in the Python ecosystem.

[2017-10-30 20:55] smartsammler commented on #126
choosealicense does not show New-BSD at all, but the differences are quite small so it might be a good choice considering the point of the contrib packages.

[2017-11-07 15:28] sebhahn opened #128 "python setup.py egg_info error"
If I create a new pyscaffold python package and run `python setup.py egg_info` I get the following error message:

[code]

Is it a pyscaffold issue or setuptools?

[2017-11-07 15:43] sebhahn commented on #128
[code]

[code]

If I install pyscaffold before, it works?

[2017-11-07 16:11] sebhahn commented on #128
Nevermind, seems like to be related to my .pydistutils.cfg settings

[2017-11-07 16:11] #128 closed

[2017-11-12 21:24] #126 closed

[2017-11-12 21:29] #48 closed

[2017-11-12 21:29] #79 closed

[2017-11-12 21:30] FlorianWilhelm commented on #92
Since PBR will be dropped with version 3 of PyScaffold, this bug is no longer present in the current master branch.

[2017-11-12 21:30] #92 closed

[2017-11-12 21:31] FlorianWilhelm commented on #98
Since PBR will be dropped with version 3 of PyScaffold, we are now able to control the behaviour manually inside `conf.py`. I did this in a way that solves this issue.

[2017-11-12 21:31] #98 closed

[2017-11-12 21:32] FlorianWilhelm commented on #115
This is now in the current master for testing.

[2017-11-12 21:32] #115 closed

[2017-11-12 21:32] FlorianWilhelm commented on #116
In the current master branch pbr is dropped.

[2017-11-12 21:32] #116 closed

[2017-11-13 21:43] #112 closed

[2017-11-13 22:13] FlorianWilhelm opened #129 "Make PyScaffold less verbose"
The current master of PyScaffold is quite verbose when running `putup`. This should only be the case if `-v` is enabled.

[2017-11-21 09:19] FlorianWilhelm commented on #129
`--debug` or `-d` short gives now more information. Default is being quiet like all good Linux commands.

[2017-11-21 09:19] #129 closed

[2017-11-21 09:21] FlorianWilhelm commented on #104
I think this could be implemented as extension now thanks to @abravalheri's work. Therefore, I close this.

[2017-11-21 09:21] #104 closed

[2017-11-21 17:16] FlorianWilhelm opened #130 "Update current version of pytest runner"
Check if the current version of [py.test runner](https://pypi.python.org/pypi/pytest-runner) can be used instead of the module `pytest_runner.py`

[2017-11-21 17:18] FlorianWilhelm opened #131 "Check PEP440 versioning scheme"
It might be possible to drop the current local_version prefix of `n` and use the git hash directly. Historically, this was necessary since the local_version part needed to start with a letter. According to [PEP440](https://www.python.org/dev/peps/pep-0440/#local-version-identifiers) it is also allowed to have digits.

[2017-11-21 17:20] FlorianWilhelm opened #132 "Improve update mechanism"
Store the PyScaffold settings that were used during the creation of the project in the section `[pyscaffold]` in `setup.cfg`. This will make updating and even changing the current scaffold much easier.

[2017-11-21 17:23] FlorianWilhelm opened #133 "Rework CONTRIBUTING.rst"
Give more details on how to contribute and run PyScaffold as a developer.

[2017-11-24 15:10] FlorianWilhelm commented on #117
I added `flake8 --count` to the `system_test.sh`.

[2017-11-24 15:10] #117 closed

[2017-11-24 15:13] FlorianWilhelm commented on #133
This was done in 30cbb838af4a4e858ebbf4870f270c6bbee63c4c

[2017-11-24 15:13] #133 closed

[2017-11-24 15:35] FlorianWilhelm commented on #131
Removed `n` prefix for PEP440 local_version string and use now the node attribute of setuptools_scm directly. Currently setuptools_scm prepends a ``g`` but I filed this [issue](https://github.com/pypa/setuptools_scm/issues/189).

[2017-11-24 16:24] FlorianWilhelm commented on #130
This was done in f4fa171d7ff485ea34ba5654056faa63b7d1380d.

[2017-11-24 16:24] #130 closed

[2017-11-24 16:29] FlorianWilhelm commented on #131
We keep it the way that setuptools_scm proposes.

[2017-11-24 16:29] #131 closed

[2017-11-27 16:24] FlorianWilhelm commented on #118
Some note added in the Cookiecutter documentation

[2017-11-27 16:24] #118 closed

[2017-11-27 16:25] FlorianWilhelm commented on #123
The docs were reworked in c4151f625ab43dea86c3bcd12a3e26938982d843. Thanks for pointing this out.

[2017-11-27 16:25] #123 closed

[2017-12-05 06:36] FlorianWilhelm opened #134 "Add a --no-skeleton extension"
The `skeleton.py` file is nice but there should be a flag to avoid the creation of this file.

[2017-12-05 06:37] FlorianWilhelm opened #135 "Anaconda support"
Since more and more people use conda packages, a flag `--conda` should create all files necessary to build Anaconda packages.

[2017-12-05 12:55] sebastianneubauer opened #136 "TypeError: must be type, not None"
On debian since newer versions of pyscaffold are available on pypi I get this error if pyscaffold is not installed in the virtualenv (pyscaffold gets installed via easy install as egg (:rolling_eyes:) ) before installing the project in dev mode `pip install -e .`:

[code]

Installing pyscaffold in the virtualenv before `pip install -e. ` solves the problem but is somehow ugly and doesn't really fi

[2017-12-05 17:24] FlorianWilhelm commented on #136
Hi, we had this problem once on a Travis build and solved it by pinning Sphinx to version 1.5.6. We could only find out that it has something to do with Sphinx and most likely PBR which is used by PyScaffold 2.5.* in the way it monkey patches into setuptools.
In the current beta of PyScaffold 3 we got rid of PBR and also of the problem you describe. PBR does a lot of black magic and really is a ni

[2017-12-07 13:25] sebastianneubauer commented on #136
It can be worked around by installing pyscaffold using pip before `pip install -e.`:

[code]
but this is really just a workaround...we should fix this somehow...but I have no clue...

[2017-12-07 15:01] FlorianWilhelm commented on #136
@sebastianneubauer Thanks, this is a workaround but what about the other points from my comment above? Does this also happen if you fix Sphinx to version 1.5.6? Can you reproduce it also directly on your laptop with a minimal example so that I can reproduce it too? I would really like to understand more but so far I could not reproduce it. I agree that a workaround like this should not be necessar

[2017-12-27 10:50] FlorianWilhelm commented on #134
This was done in 53ad4ec8c92a0479d1b5afda9e76da736dc2c2d2

[2017-12-27 10:50] #134 closed

[2017-12-27 10:54] FlorianWilhelm commented on #135
PyScaffold already has an conda package at [conda-forge](https://github.com/conda-forge/pyscaffold-feedstock).

[2017-12-27 16:57] FlorianWilhelm commented on #136
This error could not be reproduced on the current master which will be released as version 3.0 soon. Closing this issue for now.

[2017-12-27 16:57] #136 closed

[2017-12-28 12:37] FlorianWilhelm opened #138 "Allow inplace updates"
In order to update a PyScaffold project it is necessary to `cd` into its parent directory and issue a `putup --update my_project` command. It would be more convenient to allow `putup --update .` from within the project root directory.

[2017-12-28 15:08] FlorianWilhelm opened #139 "Rework the setup.cfg with the help of configparser"
Using `string.template` for more complicated templates like `setup.cfg` is quite cumbersome and would also not allow to update `setup.cfg` in case of new versions. We should use `configparser` instead to create `setup.cfg` as well as to update it later on.

This can be postponed to version 3.1 since an update from pre 3.0 versions will not be possible anyway.

[2017-12-29 12:50] FlorianWilhelm commented on #132
This is accomplished in 8e9a18aac7096aa78bde176bbee206858aec3e53

[2017-12-29 12:50] #132 closed

[2018-01-15 23:17] sbeleidy opened #140 "Pipenv Support"
Are there any plans to support [pipenv](https://docs.pipenv.org)?

[2018-01-16 07:49] FlorianWilhelm commented on #140
Hi, so far I haven't used it. Supporting it would mean to provide a basic `Pipfile`, right? Should be no problem with the new extension system. A `--pipenv` flag would then create a basic `Pipfile` instead of `requirements.txt`.
Do you want to provide a PR?

[2018-01-16 16:23] sbeleidy commented on #140
I think it's a little more than that. Adding a `Pipfile` is a simple thing - the issue I'm not sure how to deal with is loading the dependencies from the `Pipfile` to be used in `setup.py`. When you install the package it should install all its dependencies as well.

Happy to provide a PR if you can direct me to the best way to deal with this.

[2018-01-18 20:03] FlorianWilhelm commented on #140
@sbeleidy, and don't think that setup.py should read the requirements from `Pipefile`. The requirements in the Python package defined by `setup.cfg` are different than the requirements needed to set up and run the project itself. Therefore I think an extension should just write a `Pipfile` with some sane defaults instead of the current `requirements.txt`.

[2018-01-18 20:56] sbeleidy commented on #140
@FlorianWilhelm - I think I'm a little confused. If your package has dependencies, you are setting those in setup.cfg? Do you have an example of that?

I thought it would read the requirements.txt and add those packages.

[2018-01-19 06:26] FlorianWilhelm commented on #140
Sure, this behaviour was changed in version 3.0 of PyScaffold. As you can see in this [configuration example](https://pyscaffold.readthedocs.io/en/latest/configuration.html) there is a key `install_requires` where you would list the unpinned, direct requirements of your package.

The `requirements.txt` itself it meant to help you set up your development or runtime environment pretty fast and there

[2018-01-19 20:18] HolgerPeters commented on #140
I think the best bet at the moment is to do double book keeping for `Pipfile` and `install_requires` in `setup.py`. What I mean is that they are actually two similar, but subtly different lists. Pipfile's purpose is to generate a pinned list of requirements needed to operate / run and develop a package. `install_requires` defines a minimum set of typical requirements, not necessarily listing all o

[2018-01-30 09:31] FlorianWilhelm commented on #140
@sbeleidy Has this helped your understanding? One could still add a default `Pipfile` to PyScaffold and it would be pretty easy I guess.

[2018-01-30 09:36] FlorianWilhelm opened #141 "__version__ is not always working"
In the case that the name of the distribution is different from the name of the actual Python package
[code]
does not work since `__name__` returns the name of the package not the distribution.

[2018-01-31 14:24] Moritz90 opened #142 "setup.py docs does not work"
After creating a new project with pyscaffold, I tried to run `python setup.py docs`. This was the result:

   or: setup.py --help [cmd1 cmd2 ...]
   or: setup.py --help-commands
   or: setup.py cmd --help

I then tried running `python setup.py build_sphinx` directly, but this failed as well (output anonymized):

Running Sphinx v1.7.0b2
usage: usage: setup.py [OPTIONS] -o <OUTPUT_PATH> <MODULE_PATH

[2018-01-31 18:51] FlorianWilhelm commented on #142
Did you install sphinx?

[2018-02-01 13:15] FlorianWilhelm commented on #142
I could reproduce this in case Sphinx is not installed. Currently PyScaffold tries to install Sphinx locally as egg file but I don't like that solution any more and in Version 3.0 it even breaks. Better is to break directly and tell the user to install Sphinx. So the workaround for you is just to install Sphinx but I will add a better error message.

[2018-02-05 15:12] Moritz90 commented on #142
I can confirm that everything works after manually installing sphinx. I was relying on the documentation which claimed this wasn't necessary.

I guess this is mostly a bug in the documentation, then.

[2018-02-07 14:55] FlorianWilhelm commented on #142
@Moritz90, thanks for confirming.

The problem was fixed in commit a4cf5ab8ffaf3195145d069d2b67cf33e86bfbc9, i.e., a more meaningful error message is emitted and the documentation was changed.

[2018-02-07 14:55] #142 closed

[2018-02-07 15:23] FlorianWilhelm commented on #141
This is fixed in bffa45b72f5495bf0d5eb8a6310bc89fdf419e1a.

[2018-02-07 15:23] #141 closed

[2018-02-09 13:27] bernalrs opened #144 "Use pylama instead of flake8, ..."
hi, just came across this pyscaffold would replacing flake8 with pylama which uses flake8 be of interest to users of this tool?

Thanks

[2018-02-11 09:03] ORESoftware opened #145 "coming from Node"
Where does the putup command come from?

it's not clear where that executable comes from or how to install it

[2018-02-11 09:21] MathMagique commented on #145
Here is where `putup` is registered as a command line script: https://github.com/blue-yonder/pyscaffold/blob/9233cd68901732fc8c1ae25f3622d3113187d015/setup.py#L25
`putup` is available after `pip install pyscaffold`.

[2018-02-11 09:31] ORESoftware commented on #145
yeah thanks, is it not recommended to install python v3 to `python3` and pip to `pip3`?

[2018-02-11 09:42] ORESoftware commented on #145
also, any idea why PyCharm cannot resolve the pytest dependency:

<img width="1054" alt="screenshot 2018-02-11 01 41 45" src="https://user-images.githubusercontent.com/11139560/36072002-ca2bf20c-0ecc-11e8-8234-4728ebb5058f.png">

I looked in .eggs and looks like pytest is installed, so dunno

[2018-02-11 09:43] xhochy commented on #145
@ORESoftware no `pip3` and `python3` mostly exist on system that default to Python 2 but want also to have a co-existing Python 3 installation. Normally you work in a virtualenv created with `virtualenv`, `python(3) -m venv` or `conda create -n`; there `python` points to your selected python version (which could be any of 2.7, 2.6, 3.5, 3.6, …)

[2018-02-11 09:43] ORESoftware commented on #145
@xhochy  thanks, yeah pycharm created a virtual env for me apparently

[2018-02-13 14:19] FlorianWilhelm commented on #145
@ORESoftware, are your questions answered and can this issue be thus closed?

[2018-03-13 00:51] atarla opened #147 "Skeleton.template"
Change filename setup.cfg in line#6 to setup.py

pyscaffold/src/pyscaffold/templates/skeleton.template

[2018-03-13 08:19] FlorianWilhelm commented on #147
Hi @atarla, thanks a lot for reporting this. I fixed it.

[2018-03-13 08:19] #147 closed

[2018-03-13 08:21] FlorianWilhelm commented on #145
Since there was not any more activity in the last 30 days and the question seems resolved, I will close this.

[2018-03-13 08:21] #145 closed

[2018-03-19 10:33] cpaulik opened #148 "Pyscaffold breaks with setuptools version 39"
I get an error like

[code]
The reason is that `SetuptoolsVersion` was removed. See https://github.com/pypa/setuptools/blob/master/CHANGES.rst#v3900

[2018-03-19 12:21] FlorianWilhelm commented on #148
Thanks for reporting. That means one would need to increment the setuptools_scm version to [v1.16.0](https://github.com/pypa/setuptools_scm/releases/tag/v1.16.0) and use their fix for PyScaffold too or rather import it. I'll be only able to fix this tomorrow afternoon, but looking forward to a PR if you like to.

[2018-03-19 12:43] cpaulik commented on #148
I really know too little to be able to make a PR quickly and I don't have time today to do the research.

[2018-03-19 13:58] JWDobken commented on #148
The issue is not hard to solve, but you and I do not have the permission apparently.

[2018-03-19 14:04] FlorianWilhelm commented on #148
@JWDobken, you have the permission in the sense that you can create a PR.

[2018-03-19 14:15] JWDobken commented on #148
I have never ever done this before as well :|, soo
Please find my first open source PR #149  ever

[2018-03-19 18:22] scorphus commented on #148
I'll create a PR to the `v2.x` branch. We still use Python 2.

[2018-03-20 07:49] FlorianWilhelm commented on #148
Thanks a lot folks for all your support. I just pushed a version `2.5.9rc1` to PyPI, so please check if that works for you and let me know.
@scorphus, thanks for your PR. I saw it a little late and already had something in progress which is quite similar to your solution. I added you to the list of contributors and are looking forward to more contributions from you :-)

[2018-03-20 08:06] FlorianWilhelm opened #152 "Backport Sphinx 1.6 support to PyScaffold 2.5"
Right now PyScaffold 2.5.x can only handle Sphinx up to version 1.5 since there was an API change. PyScaffold 3 was changed accordingly and this change could be also back-ported to PyScaffold 2.5.x.

[2018-03-20 08:39] cpaulik commented on #148
Thanks.

It seems to work fine.

But it means I will be upgrading and making new releases for all my older packages that are still based on pyscaffold 2.4.x.

I'm a little annoyed by the setuptools team for removing this just for the sake of changing it to another name.

[2018-03-20 09:13] scorphus commented on #148
YAY! 🎉 `v2.5.9rc1` works like a charm. Thanks, @FlorianWilhelm, not only for the better/more elegant solution 👍 and the new RC but also for adding me as a contributor! I look forward to contributing/learning more 🙂

[2018-03-20 17:45] FlorianWilhelm commented on #148
Alright, after a switch to version 1.17.0 of setuptools_scm (released today) everything seems to be green again. To test everything out I released two release candidates, `v2.5.10rc1` for legacy and `v3.0.2rc3` for the current generation of PyScaffold. Please check them out and let me know if you encounter any problems.

[2018-03-20 19:31] smartsammler commented on #148
v3.0.2rc3 works for me. Thank you for this fast release.

[2018-03-21 12:22] scorphus commented on #148
@FlorianWilhelm, `2.5.10rc1` works well too, thanks for reacting to updates on `setuptools_scm` so quickly! 👍

[2018-03-21 21:58] FlorianWilhelm commented on #144
Since there was no further input for more than 30 days, I'll close this issue.

[2018-03-21 21:58] #144 closed

[2018-03-21 22:32] FlorianWilhelm commented on #148
PyScaffold `2.5.10` is released! I incorporated a few more changes into PyScaffold `3.0.2rc4` and give it one more day for testing.

[2018-03-22 07:10] glebourgeois commented on #148
We tested `v3.0.2rc4` it works fine! thanks for the quick reaction, we are eager to see the final release happen :)

[2018-03-22 12:53] FlorianWilhelm commented on #148
@glebourgeois Thanks for the feedback and the funny title of https://github.com/theQRL/QRL/issues/1046 :-)
Version `v3.0.2` was just released. Thanks to everyone in this thread for getting involved and your help!

[2018-03-22 12:53] #148 closed

[2018-03-22 13:46] scorphus commented on #148
![high-five](https://media1.tenor.com/images/5fef75b9284f6d3f0a47b9eee6ce3560/tenor.gif)

[2018-04-04 08:37] cpaulik commented on #152
Is that the reason for an error like:

[code]

?

[2018-04-04 09:43] FlorianWilhelm commented on #152
@cpaulik Yes, exactly. You can double check by downgrading Sphinx to version 1.5.

[2018-04-04 10:26] cpaulik commented on #152
It works with sphinx 1.5. If you can point me to the changes that were necessary for Pyscaffold 3 then I will take a look at Pyscaffold 2.5.x. Maybe I can whip up a PR.

[2018-04-04 13:29] FlorianWilhelm commented on #152
Thanks, it should be in file https://github.com/blue-yonder/pyscaffold/blob/14358522f4ad4c5c38a5290f8885a86bbbeb12c6/src/pyscaffold/templates/sphinx_conf.template#L44-L57 where `sphinx-apidoc` is called.

[2018-04-06 07:33] t184256 commented on #48
FYI, this is how it should've been done with `pbr`:

[code]

[code]

[2018-04-07 08:31] t184256 commented on #48
[code]

`pbr` has it.

My point was that maybe dropping `pbr` wasn't a good idea. It does a lot of things just right.

[2018-04-07 20:38] FlorianWilhelm commented on #48
Got it but setuptools is the standard and will most likely integrate more
and more of pbr's feature. Also, having read a lot of pbr's source code it
looked like a big mess to me...

On Sat, 7 Apr 2018, 10:31 Alexander Sosedkin, <notifications@github.com>
wrote:

[2018-04-09 04:41] apthorpe opened #154 "Please add a --no-scm option to putup"
Please allow users to decouple their projects from git, etc. by adding a `--no-scm` option to `putup` (similar to `--no-skeleton`). The problem is that unless one uses git as their SCM, `pbr` fails to get version information, `setup.py` breaks, and there's no obvious workaround. This makes PyScaffold useless to anyone using an SCM system other than git.

The most straightforward and elegant soluti

[2018-04-09 08:00] FlorianWilhelm commented on #154
Hi Bob, which SCM are you using? If it is HG one could change PyScaffold
accordingly.
Having a scaffold without any SCM would remove quite a lot of PyScaffold's
features. For instance you would have to write a MANIFEST.in to include non
Python modules, no automatic versioning etc.
This would confuse many users I guess.

Cheers,
Florian

On Mon, 9 Apr 2018, 06:41 Bob Apthorpe, <notifications@github

[2018-04-09 09:23] jleni opened #155 "Pyscaffold and Setuptools < 30.3.0"
When installing pyscaffold I get the following:

      File "/tmp/easy_install-c56y92hx/PyScaffold-3.0.2/setup.py", line 76, in bootstrap_cfg
      File "/tmp/easy_install-c56y92hx/PyScaffold-3.0.2/src/pyscaffold/utils.py", line 280, in check_setuptools_version
    pyscaffold.exceptions.OldSetuptools: Your setuptools version is too old (<30.3.0). Use `pip install -U setuptools` to upgrade.

Should

[2018-04-09 14:42] apthorpe commented on #154
I'm using Mercurial; I don't know enough about setuptools_scm to write a Mercurial adapter similar to `init_git`. Even so, I'd rather manually configure `MANIFEST`, version numbering, etc. than have a broken `setup.py` with no way to fix it. PyScaffold works well for what I need - a standardized way of creating a Python project including documentation and testing.

Unfortunately, the dependency on

[2018-04-09 15:06] FlorianWilhelm commented on #154
Nice, since setuptools_scm supports Mercurial support for PyScaffold could
be added quite easily. So far I have never worked with Mercurial but I
guess it's not so difficult.

BTW, PyScaffold 3.0 and above has dropped PBR since it's main functionality
is also provided by recent setuptools versions. Do you see the same
problems also with the current PyScaffold version?

The problem with providing j

[2018-04-09 15:08] FlorianWilhelm commented on #155
Thank you. Not sure if there was a reason I didn't specify this dependency.
Let me check when I am back from vacation. Thanks for your PR!

On Mon, 9 Apr 2018, 11:23 Juan Leni, <notifications@github.com> wrote:

[2018-04-09 15:45] apthorpe commented on #154
I'll look at PyScaffold 3.0 and see if that clears up problems and also look at what's in `init_git` to see if I can make a Mercurial equivalent.

You should go back to enjoying your vacation; you've given me enough to work on for awhile.

Thanks much, :)

[2018-04-12 19:16] FlorianWilhelm commented on #155
Well, it definitely makes sense. It's merged. Thank you!

[2018-04-12 19:16] #155 closed

[2018-04-12 19:41] jleni commented on #155
Is there any chance we could have pyscaffold 3.0.3 released with the fix?

[2018-04-12 19:55] FlorianWilhelm commented on #152
@cpaulik I added some commits to `v2.x` that updated pbr to version 4.0.2. It seems to work now, could you also check if it works for you?

[2018-04-14 13:25] reuvenpo opened #158 "clean up imports in __init__.py"
Currently in the `__init__.py ` file there are two names imported from `setuptools`. These names should probably be `del`ed before the module finishes running to clean up the package's namespace.

For example:

[code]

This is because if anyone runs `from myproj import *`, they're going to get `get_distribution` and `DistributionNotFound` into their module namespace as well.

By the way, looking a

[2018-04-14 13:44] FlorianWilhelm commented on #158
Hi @reuvenpo, I got the point with `finally: del get_distribution, DistributionNotFound`. Thanks. Would you make a small PR for that?

Regarding the usage of `__name__`. This is how it was done before and it doesn't work if your project has a different name compared to the package you are shipping. Common examples are for instance scikit-learn that ships a package sklearn and pytorch that ships a

[2018-04-14 14:16] FlorianWilhelm commented on #152
@cpaulik, `v2.5.11` was just released which fixes this issue.

[2018-04-14 14:16] #152 closed

[2018-04-14 15:03] reuvenpo commented on #158
I'll make a pull request in a bit.

I got your point on the `__name__`. Didn't really consider that use-case.

As for the version name, if setuptools or setuptools_scm had a bug in it, wouldn't that mean we wouldn't get to this line executing, or alternatively we'll just get a malformed version string, which would silently be assigned to `__version__`.

After briefly looking at PEP440 again, it se

[2018-04-16 20:28] FlorianWilhelm commented on #158
Having thought about this I think that having an invalid version string is actually a good thing. `unknown` will not be accepted by PyPI so you will not be able to upload something broken. So for me `unknown` as `__version__` is somewhere between an exception that will kill your application and a version string that is PEP440 conform.

In a nutshell, if you see `unknown` you know something is brok

[2018-04-16 20:38] reuvenpo commented on #158
That's pretty reasonable.
If one sees `'0.0.0+unknown'`, one might think that it was generated by setuptools_scm, so a clean `'unknown'` is better in that regard.

[2018-04-16 20:52] FlorianWilhelm commented on #158
@reuvenpo, alright then. I think this issue can be closed now.

[2018-04-16 20:52] #158 closed

[2018-04-18 18:32] cpaulik commented on #152
Thanks. Works perfectly.

[2018-05-16 15:09] aspiers opened #160 "tox.ini template is needlessly slow at linting with flake8"
IIUC [`src/pyscaffold/templates/tox_ini.template`](https://github.com/blue-yonder/pyscaffold/blob/master/src/pyscaffold/templates/tox_ini.template) causes `tox -e flake8` to do an install even though flake8 is linting the source files directly.  If I'm correct, this should be fixed by adding `skip_install = True` to the `[testenv:flake8]` section.

Also note that this should work even if `[testenv

[2018-05-16 15:11] aspiers opened #161 "tox.ini template is slow at running tests"
IIUC [`src/pyscaffold/templates/tox_ini.template`](https://github.com/blue-yonder/pyscaffold/blob/master/src/pyscaffold/templates/tox_ini.template) causes tox to do an sdist install even though the tests are unlikely to need it.  This can slow testing down a lot.  If I'm correct, this should be fixed by adding `usedevelop = True` to the `[testenv]` section:

http://tox.readthedocs.io/en/latest/exa

[2018-05-16 21:49] aspiers opened #162 "__author__ / __copyright__ / __license__ not widely accepted as modern best practice"
I was a bit surprised by the presence of `__author__`, `__copyright__`, and `__license__` being introduced to my project by PyScaffold, so I did a quick bit of googling to try to find whether there was any generally accepted wisdom about whether they should or shouldn't be used.  Most of the results seemed to reference pretty old style guides, e.g.

- http://web.archive.org/web/20111010053227/http

[2018-05-29 04:22] patrick-motard opened #163 "Support markdown for readme and setup.py"
Warehouse now supports markdown per [this PR](https://github.com/pypa/warehouse/issues/869).

An explanation of how to use the feature can be found [here](https://dustingram.com/articles/2018/03/16/markdown-descriptions-on-pypi).

It would be nice to be able to tell pyscaffold to use markdown instead of .rst.

[2018-05-31 13:30] Toekan commented on #102
Hi,

I'm trying to combine cookiecutters with pyscaffold to create a fixed template to create data science projects. In summary, I want to add some folders and files in the source folder and populate the requirements.txt file. Unfortunately the latter is still overwritten by pyscaffold, even though the documentation says the opposite.

I run

[code]

In the project_template folder I have:

- cooki

[2018-05-31 14:52] abravalheri commented on #102
Hi @Toekan, sorry for the inaccurate docs. The logic behind the update of files  is very complex, so I might had conflicting thoughts at the time I was working in this piece of documentation...

The way PyScaffold currently works with Cookiecutter is basically running cookiecutter and then converting the folder into a PyScaffold project with something similar to `putup --force existing_project`. S

[2018-05-31 15:37] Toekan commented on #102
Hi,

Thanks for the quick response :). Pyscaffold has really profoundly impacted how I use python, so also thanks for all the effort for this package!

I was reading into extension a bit, but I couldn't fully understand where I should put my extension code. Should I clone pyscaffold and put my extension in the extension folder? Or is there a way to use your extension with pyscaffold without having

[2018-05-31 17:34] abravalheri commented on #102
Hi @Toekan, thank you very much!

Your extensions can live in a new and completely separated project/package...

As long as you register the correct setuptools entrypoints and install your new package using pip, everything should be fine.

So let's say you create a package named `pyscaffoldext-mypkg`, using `putput pyscaffoldext-mypkg -p mypkg --namespace pyscaffoldext`. When you are finishing cod

[2018-06-01 08:38] Toekan commented on #102
Great, thanks for that explanation!

I'll discuss with the others if we just use a cookiecutters template with cookiecutters directly or write an extension for pyscaffold. I think our usecase lays somewhere in between. :)

[2018-06-01 10:56] abravalheri commented on #102
@FlorianWilhelm, I have created a proof-of-concept of using `--update` instead of `--force` for cookiecutter templates in the branch [fix-cookiecutter](https://github.com/abravalheri/pyscaffold/tree/fix-cookiecutter) in my fork of PyScaffold... It seems to be working, but I don't know if there are any other philosophical consequences I have not foreseen...

So you might consider having a look, the

[2018-06-01 13:15] Toekan commented on #102
Hi,

Thanks for all the help!

I've installed your forked version, the fix-cookiecutter branch, but it doesn't seem to work, even without any cookiecutter, just putup pkg_name. It gives the following error:

[code]

Also, the installed pyscaffold is 2.5, rather than 3 in the main branch of the unforked version. Maybe that's the reason?

[2018-06-01 14:46] abravalheri commented on #102
Sorry @Toekan, could you please use the `fix-cookiecutter` branch before installing?

Assuming you have directly clone my fork, it should be something more or less like the following:
[code]
Does it work after that?

[2018-06-01 16:35] Toekan commented on #102
Hi,

Initially I tried to install the correct branch with:
[code]
Which managed to install your fork, but apparently the @fix-cookiecutter. Sorry for that!

After correctly installing the fix-cookiecutter branch (thanks for the help!), the error is gone. I ran:

[code]

The package was created, my requirements.txt wasn't overwritten anymore (hurray :) ), but the folder isn't a git repositery. Any

[2018-06-01 17:15] abravalheri commented on #102
Ok, I found it :sweat_smile:

Basically this is the side effect of using the `--update` flag instead of the `--force`...

The current implemented logic don't run `git init` during an update.

I would have to check with @FlorianWilhelm if I could touch this, since I don't know the reasoning behind this decision.

[2018-06-01 18:50] abravalheri commented on #119
By the way, another thing preventing the usage of `pytest-xdist`, is that it doesn't support disabling output capture, according to [this issue](https://github.com/pytest-dev/pytest/issues/1991) (and I am using it to test the `termui`).

[2018-06-03 12:42] FlorianWilhelm commented on #154
@apthorpe Thanks a lot! Vacation was great. Let me know if PyScaffold 3 solves your problems.

[2018-06-03 12:46] FlorianWilhelm commented on #160
Thanks @aspiers for pointing that out. We are always looking into speeding things up.
@abravalheri: Do you also think we should add `skip_install = True` permanently to PyScaffold `[testenv:flake8]` section and the template or could there be negative side effects when we later want to run the tests in parallel?

[2018-06-03 12:52] FlorianWilhelm commented on #161
Thanks @aspiers for your suggestion. Surely in large projects the `usedevelop = True` option could help to speed up things but for smaller projects the overhead is quite minimal anyway. The downside to it is that the actual packaging and installing is no longer tested by tox.

So imagine you have forgotten to add some data file to the repository and thus it won't be in the source distribution. In

[2018-06-03 13:08] FlorianWilhelm commented on #162
Thanks @aspiers for your research into this topic. The goal of PyScaffold is to define a standard for Python package creation by picking up well established community standards, making them easily accessible and drive new conventions like the `src`-layout for example.

I agree to most of your points and I am actually not sure where I picked `__author__`, `__copyright__`, and `__license__` up. It m

[2018-06-03 13:18] FlorianWilhelm commented on #163
Thanks @patrick-motard for this suggestion. I also prefer markdown over rst but it still seems that rst is more prevalent in the Python world. Since the goal of PyScaffold is to drive a standard for package creation I don't think it is a good idea to support markdown and rst with the help of a command-line flag. First of all it makes things much more complicated and defies the idea of a standard.

[2018-06-03 13:46] FlorianWilhelm commented on #102
Hi @Toekan, this looks like an interesting problem and thanks @abravalheri for already having fixed some of issues in our documentation about extensions.

It is exactly like @abravalheri explained, first cookie-cutter is run and afterwards PyScaffold does its magic. The reason for this was to keep things simple. If PyScaffold was to be run first, it would be possible that a cookie-cutter template

[2018-06-03 13:49] FlorianWilhelm commented on #139
This issue seems to be actually way more complicated than initially thought. After some investigation there seems to be no Python package right now that allows to read, manipulate and write a config file without potentially changing the order of the key/value pairs and dropping all comments of the original config file.

I appreciate any hints on this.

[2018-06-03 19:03] FlorianWilhelm opened #167 "Introduce pyproject.toml"
As the new configuration file `pyproject.toml` according to [`PEP 518`](https://www.python.org/dev/peps/pep-0518/) becomes more popular we should also support it. Currently it is not really needed, one could only add to the current default (if the file doesn't exist):
[code]
add also `setuptools_scm` which is defined anyway with `setup_requires`.
@RonnyPfannschmidt has more information.

[2018-06-03 19:31] RonnyPfannschmidt commented on #167
to sort this out, tracking a setuptools backend for pep-517 would allow to use pip for all install actions and ensuring the setup requirements nicely without ending up in a situation where one is in a "double standard situation"

[2018-06-03 22:48] abravalheri commented on #162
That works nicely for me, @FlorianWilhelm... I usually never remember to include those fields anyway...

Just a minor comment: I always thought that the reason behind those 3 variables is that most of the famous open source licenses strongely recommend you to place the license notice as the header on *every file* in the project.

But as you can see, the topic is a little bit polemic:
- https://sof

[2018-06-04 09:12] abravalheri commented on #160
Well I don't see any trouble, but the best would be doing some tests first.

Right now, I have managed to isolate all the tests in `test_install` using `pytest-virtualenv` (abravalheri/pyscaffold@issue-119),  but we still have some problems with "thread-safety" related to the access to the file system in other tests ([`test_create_project_with_cookiecutter`, `test_cli_with_cookiecutter`, `test_pre

[2018-06-04 10:05] abravalheri commented on #139
The order of the key/value pairs seems to be easy to be kept if an OrderedDict is used, however keeping the comments is a little bit trickier...

In order to write comments, PyScaffold would have to use some [hacks](https://stackoverflow.com/questions/6620637/writing-comments-to-files-with-configparser), but storing the comments in a read operation, changing the options and then writing seems pret

[2018-06-04 13:50] abravalheri commented on #140
@HolgerPeters do you mind to clarify me some extra bits?

For example: isn't the difference you have described exactly the point of having the `--dev` flag and the `dev-packages` section?

Theoretically, the library developer could put the minimal requirements in the `packages` section with the most generic versions possible, and in the `dev-requirements` the ones that are used for code paths not

[2018-06-04 13:59] abravalheri commented on #140
The problem that I see with double bookkeeping is that it scales very fast...

Right now for example, I am having some trouble because I have to keep the test requirements in sync in the `setup.cfg` and in `tox.ini` files. So if you add a Pipfile on top of it you end up with at least 3 files to keep in sync...

The advantage of pip-tools, is that it is backwards compatible and therefore supported

[2018-06-04 19:07] FlorianWilhelm commented on #162
Actually the first answer to your second bullet point sounds reasonable. If someone for instance copies only our `shell` module for another use-case our copyright and license information might get lost.
@aspiers: Regarding your quote. Sometimes a file gets changed dramatically by for instance a new indentation style and in this case Git would track a wrong author. Having the original or let's say

[2018-06-05 07:58] abravalheri commented on #102
Sorry, @FlorianWilhelm, have you merged `fix-cookiecutter` directly from my fork? I am starting to get confused with the amount of branches that I am opening...

But basically yes, the behavior remains the same, the order and sequence that things are done, changes a little bit...

[2018-06-05 08:45] FlorianWilhelm commented on #102
@abravalheri: I only merged your PRs, so maybe I confused it. You can make your local branch into a PR and it should be fine as long as it doesn't break something existing. Let me have a look into the PR then a bit later, I am traveling right now.

[2018-06-05 09:09] abravalheri commented on #119
#168 fix this issue, everything now is isolated under a venv :wink:

[2018-06-05 09:09] #119 closed

[2018-06-05 09:17] abravalheri opened #170 "Make tests "thread-safe" again!"
After the last changes from #166 and #168, we are halfway through being able to setup `pytest-xdist` (and I hope this is enough to speed up the test suite at least a little bit).

The tests preventing us to of doing that are:
- `tests/extensions/test_cookiecutter.py : test_cli_with_cookiecutter`
- `tests/extensions/test_cookiecutter.py : test_create_project_with_cookiecutter`
- `tests/testutils.py

[2018-06-05 20:58] FlorianWilhelm opened #172 "Create an example repository for an extension"
Create a repository for a simple PyScaffold extension that can be used as a blueprint by others in the new [PyScaffold organisation](https://github.com/pyscaffold).
A simple extension could be one that solves #167 by adding a default `pyproject.toml`.

[2018-06-06 07:46] abravalheri commented on #170
Turns out that there are 2 important and hidden pieces of shared state between the processes causing this trouble:

1. Cookiecutter uses shared "cache" directories (but it is configurable, so we can workaround).
2. In Python the logger object is global. Despite of being thread-safe (they have a locking mechanism), some tests I have designed check the log in a order-dependent way (still not quite s

[2018-06-06 08:36] abravalheri commented on #102
I will close this issue again now, since the documentation has been updated to reflect what happens in practice.

Unfortunately changing the built-in cookiecutter extension to support this use case is incompatible with PyScaffold force/update logic/mental model.

[2018-06-06 08:36] #102 closed

[2018-06-06 16:39] FlorianWilhelm commented on #172
This was done under [pyscaffoldext-pyproject](https://github.com/pyscaffold/pyscaffoldext-pyproject).
@abravalheri Do you want to take a look?

[2018-06-06 16:41] FlorianWilhelm commented on #167
This is currently solved as an external extension [pyscaffoldext-pyproject](https://github.com/pyscaffold/pyscaffoldext-pyproject). I would like to keep it like that until we see that PEP 517 really gets a high adoption, then we can move it into core PyScaffold.

[2018-06-06 16:45] FlorianWilhelm commented on #102
@Toekan I created a small example extension under [pyscaffoldext-pyproject](https://github.com/pyscaffold/pyscaffoldext-pyproject). Together with the changes of @abravalheri it should be quite easy for you to do what you want to accomplish. Please let us know if that works for you and sorry for misusing you as our guinea pig for the new extension system ;-)

[2018-06-06 20:55] abravalheri commented on #172
:+1: It seems quite nice.

Some minor comments:

- Have you used `--no-skeleton` as written in the readme or just removed the file manually? If this is the case we have to open an issue in PyScaffold (test_skeleton was generated).

- Should we generalize 'get_template' and expose it as a helper function, so it can be reused inside extensions?

[2018-06-07 17:00] #167 closed

[2018-06-07 17:02] FlorianWilhelm commented on #172
@abravalheri Good point, I actually forgot to use ` --no-skeleton` and removed the file afterwards forgetting totally about `test_skeleton.py`. I fixed it. Thank you!

I think we should wait some more how people will use the extension system and if common patterns arise before we provide such a function.

[2018-06-07 17:02] #172 closed

[2018-06-09 09:56] FlorianWilhelm commented on #139
Maybe the alternative is to check if large parts of Python's internal `configparser` could be used. Using an `OrderedDict` at least keeps the order when reading a config file. No we would just need to include comments somehow and make sure that they also are written back.

[2018-06-11 11:11] abravalheri commented on #160
I did an experiment using the following tox.ini on top of #174  and everything seems to be fine.

[code]

[code]

[2018-06-11 17:05] FlorianWilhelm commented on #160
Okay, looks like `skip_install = true` should then be added to PyScaffold and the template. How about the `usedevelop = True` flag? Should we only rather add this as a comment to the template?

[2018-06-11 17:19] abravalheri commented on #170
The issue was addressed in the last few merge requests :)

[2018-06-11 17:19] #170 closed

[2018-06-11 17:28] abravalheri commented on #160
I agree that since PyScaffold primary purpose is to create package distributions, we should try to keep the tests as realistic as possible, and therefore generate and install fresh packages for the test venv as it would be done in production.

The `usedevelop = True` comment, together with a warning about how this can lead to fase-negative  tests is a good compromise as you suggested in #161.

[2018-06-11 20:30] FlorianWilhelm commented on #154
A feature like `--no-scm` is not planned to be added to core PyScaffold since too much would not work anymore. I would rather see a PR that adds Mercurial support.
Since a `--no-scm` flag can be easily added with the help of an extension I will close this issue.

[2018-06-11 20:30] #154 closed

[2018-06-13 07:55] abravalheri commented on #160
Hi @FlorianWilhelm , personally, I believe we should add it just in the template.
For PyScaffold itself, I think running [`pre-commit run -a`](https://pre-commit.com/#pre-commit-run) in the way it is configured now is more powerful, since other checks also take place not only flake8.

[2018-06-13 08:39] abravalheri commented on #48
Hi @FlorianWilhelm, do you think there is any way of adding a layer on top of [setuptools `parse_configuration`](https://github.com/pypa/setuptools/blob/master/setuptools/config.py#L93)?

If that is the case, we could hijack the options after they are parsed, transform them and then apply the arguments back to the `setup` function...

I am just wondering if this is possible/easy. The main point is

[2018-06-13 10:47] abravalheri commented on #140
Well, I did some research about how to achieve "single source of truth" while using tools like Pipenv and tox. The best practices I could find so far are:

1. Rely on `install_requires` (`setup.{py,cfg}`) and make Pipenv read it by adding something like "-e ."  - [ref1](https://github.com/pypa/pipenv/issues/209#issuecomment-337409290), [ref2](https://github.com/pypa/pipenv/issues/1263#issuecomment

[2018-06-13 10:57] abravalheri opened #175 "Extract `cookiecutter` and `django` extensions into separated packages"
Since we don't need extensions to live inside the same code repository anymore, we could extract some of the complex ones into separated repositories.

Those two in particular already depend on extra requirements to work anyway.
So instead of doing `pip install pyscaffold[all]`, the users that want the functionalities would need to do `pip install pyscaffold pyscaffoldext-django` or `pip install p

[2018-06-13 10:58] Toekan commented on #102
As I'm for from an expert on packaging, I just took your example, changed the template, changed some names of functions, but it worked! Pyscaffold seems to do everything it is expected and the cookiecutter template is there and the requirements.txt isn't overwritten. :)

Am I right to think the important part is here:
[code]
The after='define_structure' makes sure the requirements template is adde

[2018-06-13 11:16] FlorianWilhelm opened #176 "Move entry_points and setup_requires to setup.cfg"
Version 3.0 of PyScaffold still has two parameters (`entry_points` and `setup_requires`) in `setup.py` instead of `setup.cfg` due to historical reasons and limitations of `setuptools` at that point. It seems now possible according to this [stackoverflow question](https://stackoverflow.com/questions/48884796/how-to-setup-entry-points-in-setup-cfg). We should thus make use of this possibility in PyS

[2018-06-13 11:27] FlorianWilhelm commented on #48
Hi @abravalheri, I think it would be possible since PBR was doing something like that too. Since this would mean doing monkey-patching and other sorts of black magic, we should refrain from implementing something like that and wait for `setuptools` to come up with support for this in `setup.cfg`. Since really only a small number of Python experts uses Cython at all, I think it's okay to let them d

[2018-06-13 11:30] FlorianWilhelm opened #177 "Drop Python 2 support in PyScaffold v3.1"
PyScaffold is a tool for creating new Python projects and Python 3 surely has been for quite a while the right version to start a new project. Also due the a [bug](https://github.com/pypa/setuptools/issues/1136) in `setuptools` the current version 3.0 of PyScaffold has no Python 2 support right now and there were no complaints about this.
We could officially drop the Python 2 support in PyScaffold

[2018-06-13 11:46] FlorianWilhelm commented on #162
Since there were no more comments by @aspiers for about a month and basically as a user of PyScaffold you see those variables only in the `skeleton.py` which can even be omitted with `--no-skeleton`, I'll close this ticket.

[2018-06-13 11:46] #162 closed

[2018-06-13 11:52] FlorianWilhelm commented on #135
Maybe it's best to support this first with the help of an official PyScaffold extension package. I'll drop this as an requirement for core PyScaffold 3.1. Another reasons is that actually no PyScaffold user ever requested this feature nor commented on this ticket.

[2018-06-13 11:58] FlorianWilhelm commented on #160
@abravalheri, I added it to the template and made a PR. I think we can close this now.

[2018-06-13 11:58] #160 closed

[2018-06-13 11:58] FlorianWilhelm commented on #161
@abravalheri, I added it to the template as a comment as discussed and made a PR. I think we can close this now.

[2018-06-13 11:58] #161 closed

[2018-06-13 12:03] FlorianWilhelm commented on #175
This seems to be great idea since it would reduce the complexity inside PyScaffold. What about potential consequences? For instance how would we do unit testing? I guess it's best to also move those to a Travis job for the plugin. What about the documentation? I think it would be great to have a small explanation of official extensions directly on our main website.

Do you think this is something

[2018-06-13 12:42] abravalheri commented on #175
Thanks for the feedback @FlorianWilhelm :)

In my view, we should move the relevant unit/system testing to the new repositories and create Travis jobs for them as well.

The main (bad) consequence that I can imagine, is having changes in PyScaffold (e.g. from PRs) that break those extensions. Right now, since the test suite is unified, any breaking change would make PyScaffold Travis job to fail,

[2018-06-13 13:09] abravalheri commented on #177
To be sincere, since the test suite is intrinsically broken with 2.7, all the last changes might be incompatible  anyway...

[2018-06-13 13:32] abravalheri commented on #176
`options.entry_points` documentation can be found in [setuptools/docs/setuptools.txt#L2442](https://github.com/pypa/setuptools/blob/master/docs/setuptools.txt#L2442), and if we check the [blame](https://github.com/pypa/setuptools/blame/master/docs/setuptools.txt#L2442) of the file, this option was added to the docs in [Dec 10, 2016](https://github.com/pypa/setuptools/commit/56dea7f0334f60603d4ca6a

[2018-06-13 14:23] FlorianWilhelm commented on #177
Okay, sounds like we have a decision then ;-)

[2018-06-13 14:31] abravalheri commented on #102
Hi @Toekan, glad to see that you managed to have it from the examples! Good work.

Regarding your first question, it is exactly that bit that do the trick. As long your extension is placed between `define_structure` and `create_structure` you are basically overriding the content of the file that will be written to the disk.

If you want to keep a file that is already in the disk (the cookiecutter

[2018-06-13 15:39] FlorianWilhelm commented on #102
@abravalheri, I think what @brianthelion means is how he can pass a repo git repo url to the extension he built on command-line so that the extension grabs the file from there and not from within the extension package itself.

I think passing a parameter like a git url is quite easy, right @abravalheri? But fetching a file from there surely needs a git library. How is cookie-cutter doing this?

[2018-06-13 15:53] abravalheri commented on #102
Uumm if receiving an URL from the command line is the issue, an example about how to do that can be found at the cookiecutter example itself (basically create a custom argparse action, or add extra options).

However if he is using the cookiecutter extension anyway, maybe it might be easier to let cookiecutter do the heavy lift, and make PyScaffold just forget about the `requirements.txt` file, as

[2018-06-14 18:28] aspiers commented on #161
Sorry for the slow reply.  I didn't personally find that for smaller projects the overhead was minimal - in fact it was a small project of mine which prompted submitting this ticket.  However I think the compromise here is good, so thanks a lot!

[2018-06-14 18:29] aspiers commented on #160
Cool, thanks!

[2018-06-14 18:31] aspiers commented on #162
Sorry I was too busy to provide feedback.  I respect your decision even if I *might* not agree with it - anyway I don't have time to spend on such a minor thing ;-)

[2018-06-15 07:58] FlorianWilhelm commented on #176
@abravalheri, thanks for giving this a try!

I think we might not even need `sphinx` in `setup_requires` anymore. I took this approach from the official Sphinx documentation or somewhere else quite a while ago. What we do right now in the module `integration.py` is to register the `docs` command anyway. If Sphinx is not available we register the dummy `NoSphinx` class and if a user calls `python s

[2018-06-15 15:40] abravalheri commented on #176
It seems that `upload_docs` is part of setuptools directly, and it's being [deprecated](https://github.com/pypa/setuptools/blob/995d309317c6895a123c03df28bc8f51f6ead5f5/setuptools/command/upload_docs.py#L72). So I might not touch it.

[2018-06-15 23:16] abravalheri opened #181 "Update `.travis.yml` template"
The template for `.travis.yml` is a little bit outdated and can bring some problems to make the CI work.
The best option is to sync it with PyScaffold own `.travis.yml`.

[2018-06-18 09:36] abravalheri opened #182 "Drop requirements.txt file"
As mentioned in #140 , `requirements.txt` and `test-requirements.txt` are not exactly support anymore. Should we stop generating this files and instruct the user to just `setup.cfg` directly?

[2018-06-18 10:17] FlorianWilhelm commented on #177
Since we have never had Python 2 support in version 3.0 we can drop it in version 3.1 officially without violating semantic version. I wouldn't want to wait for version 4.0 for that.

[2018-06-18 10:21] FlorianWilhelm commented on #176
@abravalheri, thanks. I think we can close this now. We should keep in mind though that we need to remove the `setup_requires` and `entry_points` parameters from `setup(...)` during an update from version 3.0 to 3.1. Let's discuss this in another issue.

[2018-06-18 10:21] #176 closed

[2018-06-18 10:27] FlorianWilhelm commented on #182
Maybe we should in a version 3.1 first add a `--no-req-file` flag and wait for the complete removal until version 4.0 (due to semantic versioning). Also we need to discuss if we rather advocate the usage of pipenv or something else. Definitely I think we should have the separation of unpinned requirements and pinned requirements as discussed in #140. From my experience it's extremely important for

[2018-06-18 10:38] FlorianWilhelm commented on #175
@abravalheri I am totally in favour of semantic versioning. This is why we should wait for version 4.0 to remove those two extensions since it would break the current API.

For the official supported extensions we need to make sure that they depend on compatible versions of PyScaffold. When we do semantic versioning we should be able to say e.g. `pyscaffold>=3.0a0<4.0a0` in an extension's `install

[2018-06-18 10:46] abravalheri commented on #175
Let's do  like that (I am completely aligned)

I will prepare some warning messages about the deprecation in v4.0.

Regarding extension vs plugin, my only reason to prefer "extension" is that `pyscaffoldext` is slightly shorter then `pyscaffoldplug` :)

[2018-06-19 07:52] abravalheri commented on #140
Hi @FlorianWilhelm, please find bellow my current proposal:

## Summary

This proposal is a pragmatic compromise that enables developers to use tools (e.g. `pipenv` or `pip-tools`) for managing concrete requirements, while keeping sanity when using `setuptools` for packing and `tox` or `pytest-runner` for testing.
The primary goal is to have clear separation and good management of **abstract** and

[2018-06-22 16:09] FlorianWilhelm commented on #140
@abravalheri First of all, thanks for this great proposal, I  have never seen something like this in a Github issue discussion before. It's on the same level of quality and detail as a PEP.

Overall I think this is a really good and pragmatic approach that we should follow for a version 4.0 respecting Semantic Versioning. Regarding the drawbacks of not using the `test_requires` standard, I think t

[2018-06-28 13:07] abravalheri commented on #120
Solved in #185

[2018-06-28 13:07] #120 closed

[2018-06-28 15:46] FlorianWilhelm commented on #139
I am trying to implement the needed functionality in an own project named [ConfigUpdate](https://github.com/pyscaffold/configupdater) that can later be included as `contrib` package. It's making good progress but needs some more time.

[2018-07-01 15:34] FlorianWilhelm commented on #140
@abravalheri, you got some very good points. I also like your solution with adding a comment into `requirements.txt` instead of a warning on the command line. Also your points regarding the fragmentation are convincing, so let's directly integrate steps 1-4 into the current master.

Also thumps up for a Pipenv extension that is recommended in PyScaffold's documentation.

I see only one thing we go

[2018-07-06 08:21] abravalheri commented on #140
@FlorianWilhelm, it seems that [RTD](https://docs.readthedocs.io/en/latest/versions.html) already do this job for us... as long as we don't create any tagged release, the documentation for the **stable**  version will be the one pointing to the latest tag. Seems to be pretty straightforward to me.

[2018-07-07 12:00] FlorianWilhelm commented on #139
@abravalheri, I just released a first `0.1` version of [ConfigUpdater](https://github.com/pyscaffold/configupdater). Let me know what you think.

My next step would be now to include it into PyScaffold and use it to allow updating `setup.cfg` from version 3.0 to version 3.1, i.e. moving `setup_requires` and `options.entry_points` over as well as updating the `pyscaffold` section.

[2018-07-11 12:42] abravalheri commented on #140
Is this issue solved by #188? (In theory with that PR, PyScaffold does support if the user wants to use Pipenv, despite not generating the Pipfile itself)

[2018-07-11 12:43] abravalheri commented on #140
Is this issue solved by #188? (In theory with that PR, PyScaffold does support if the user wants to use Pipenv, despite not generating the Pipfile itself)

[2018-07-11 15:58] FlorianWilhelm commented on #177
Since the `six` and all `__future__` imports where removed this ticket can be closed. As we go we should start using more Python 3 features and make things even more pythonic.

[2018-07-11 15:58] #177 closed

[2018-07-11 16:02] FlorianWilhelm commented on #140
With the added docs about [dependency management](https://pyscaffold.org/en/latest/dependencies.html) I think this could be closed. Adding a dummy `Pipfile` really has not much benefits right now and could later be added with the help of an extension.

[2018-07-11 16:04] FlorianWilhelm opened #190 "Check for clean workspace during update"
During an update PyScaffold could check if the current workspace really is clean. A clean workspace allows an easy rollback if an update would fail for some reason. Thus an update should only be performed when the workspace is clean. If the workspace is dirty, `putup` should emit a corresponding message and tell the user to either `commit` all current changes or `stash` the away.

[2018-07-11 16:09] FlorianWilhelm opened #191 "Add an interactive feature to putup"
Using `putup` many people are often not aware of the many options it has. This results in projects that lack features like pre-commit and tox that people would actually choose if they knew about. One way to resolve this is to add an `--interactive` or `-i` feature to `putup` that asks the user about each option with sane defaults. Cookiecutter is doing something similar in its input mode.

[2018-07-11 22:13] abravalheri commented on #140
Sounds fair to me! Before v3.1 I would like just to mark this feature as experimental in the docs (since Pipenv is moving fast and probably breaking things while still trying to figure out an stable API, it is best to not commit so soon).

[2018-07-12 00:03] abravalheri commented on #177
Unfortunately we have to wait 3.7 to be the base line to use f-strings :stuck_out_tongue_closed_eyes:

[2018-07-12 00:07] abravalheri commented on #191
If the user runs on an interactive mode, we could also ask him about file conflicts when updating...

[2018-07-19 11:19] FlorianWilhelm opened #192 "Provide a proper data science template"
Whenever I use PyScaffold in my Data Science projects I feel like I am doing the same things right after calling `putup` like creating a `data` folder and so on. Thus I think the time is ripe for some cool data science project extension just like the [cookiecutter-data-science project](https://github.com/drivendata/cookiecutter-data-science). I have already created an [issue](https://github.com/dr

[2018-07-25 14:31] FlorianWilhelm opened #193 "Add usage of `importlib.resources` into the docs"
For Python 3.7 `import.resources` is a better way than `pkg_resources` to load non-python files from a Python package. This should be mentioned as a modern alternative in the documentation. Since we have actually only `from pkgutil import get_data` in our documentation, it should be checked if `pkgutil` is still the way to do that at all.

[2018-08-07 21:15] FlorianWilhelm commented on #138
Let's postpone this to version 3.2

[2018-08-12 16:31] FlorianWilhelm commented on #139
Done

[2018-08-12 16:31] #139 closed

[2018-08-13 15:10] abravalheri opened #196 "Django extension not migrated to the `src` layout"
When creating a django project using PyScaffold, the created folder structure doesn't follow PyScaffold 3.* `src` layout.

### Steps to reproduce:
- With PyScaffold > 3.0, do:
[code]
- Check the generated file structure:
[code]

[2018-08-13 15:11] abravalheri commented on #196
Is this the expected behavior?
If that is the case, maybe we should add this exception to the documentation...

[2018-08-13 15:19] FlorianWilhelm commented on #196
This looks seems to be rather a bug actually. The files of `django-admin` should reside in `src/myproj`.

[2018-08-13 16:46] abravalheri commented on #196
This is also happening to cookiecutter :(

`putup myproj --cookiecutter cookiecutter-pypackage.git`

[2018-08-13 17:42] abravalheri opened #197 "test_update.py failing"
When I try to run the test suite, but the repository is dirty, or I am some commits ahead of the commit I did `python setup.py egg_info --egg-base .` , I face an assertion error on the line 101 of `test_update.py`
[code]

Usually, the versions diff by a `.dirty` or `.dev<N>... != .dev<N+1>...` suffix .
The way I made it work was by running `python setup.py egg_info --egg-base .` again.
However alw

[2018-08-14 05:40] FlorianWilhelm commented on #197
Thanks for the PR! I'll look into the `test_update` issue with a dirty workspace. I think we can just use the Version object and there is some kind of method that only returns (major, minor, patch). Can I just revert to the original `tox.ini` after that?

[2018-08-14 06:25] FlorianWilhelm commented on #196
I can confirm that at least for Django the problem was already in version 3.0.3. Do you know of any simple way to fix this? Maybe we need to `chdir` into `src` before we run the django command? I think for cookiecutter it's even more problematic. Here we need to change our test cookiecutter repo and also transform it into a src-layout. We will not be able to check if a cookiecutter template follow

[2018-08-14 06:30] FlorianWilhelm commented on #196
I forked the cookiecutter template that we use into our [PyScaffold organization](https://github.com/pyscaffold/cookiecutter-pypackage`) so that we can refer to this one in our unit tests instead of https://github.com/FlorianWilhelm/cookiecutter-pypackage.

[2018-08-14 06:36] FlorianWilhelm commented on #197
BTW, if you pull from master, make sure you delete all egg files especially the one under src before you do `python setup.py egg_info --egg-base .` one time.

[2018-08-14 08:45] abravalheri commented on #197
Thanks @FlorianWilhelm! Should we also discard the dev notes on `CONTRIBUTING.rst`? Or instead keep the notes there and also add your comment about deleting the egg files (it might me useful)?

[2018-08-14 08:59] abravalheri commented on #197
After the last changes, the case when the repository is dirty was solved.
However, if the development version is commits ahead, we will also have problems.

After making a commit (changes in `tox.ini`), and running the test again, I had:

[code]

[2018-08-14 09:16] FlorianWilhelm commented on #197
Why should we delete the dev notes? I think it is better to extend them since it helps new developers to become a contributor.
The  `self.running_version.public == self.pyscaffold_version().public` is expected. One could use `.base_version` which would result in `3.1` but then it has almost no more information. At that point I only wanted to check that the `pytest-virtualenv` plugin does not insta

[2018-08-14 09:49] pauleveritt commented on #193
As a note, there is a backport to 3.6: https://pypi.org/project/importlib_resources/

[2018-08-14 10:10] abravalheri commented on #197
I agree in expanding the notes :)
In the open PR I have created a new troubleshooting section where we can include these kind of information and added the last comments there

If I understood it correctly, `running_version` will be the version of the source code when the developer did `python setup.py egg_info --egg-base .` and `pyscaffold_version()` will be current version of the source code (if

[2018-08-14 10:40] FlorianWilhelm commented on #197
Right! Of course, using `<=` instead of `==` should do the trick! I only want to make sure that pytest-virtualenv is not pulling some officially released version von PyPI in the background and `<=` does that.

[2018-08-14 10:51] abravalheri commented on #197
I have presented a PR for this in #199. In the end I have changed `==` to `<=`, but also included a check to see if PyScaffold installation is editable, trying to capture exactly what you have said.

[2018-08-14 16:54] FlorianWilhelm commented on #197
Thanks a lot! This is even more robust than before. I think we can close this now.

[2018-08-14 16:54] #197 closed

[2018-08-15 17:19] FlorianWilhelm opened #203 "Bug in v3.1b2: setup_requires in setup.cfg is ignored"
If you run a `python setup.py develop` with a project that was setup up using PyScaffold 3.1b2 in a virtual environment where PyScaffold is not installed, the `use_pyscaffold` parameter will be ignored: `...lib/python3.6/distutils/dist.py:261: UserWarning: Unknown distribution option: 'use_pyscaffold'`

In theory, setuptools should download PyScaffold as egg into the `.eggs` directory and run it f

[2018-08-15 17:24] FlorianWilhelm opened #204 "Bug in v3.1b2: setuptools_scm emits warning on first run"
Running `python setup.py develop` on a project setup with PyScaffold 3.1b2 emits `version.py:199: UserWarning: meta invoked without explicit configuration, will use defaults where required.
  "meta invoked without explicit configuration,"` on the first run. Maybe some configuration changed.

[2018-08-15 17:50] FlorianWilhelm commented on #203
It seems having `setuptools>=38.3` installed solves the issue. So bascially we have two options:

1) Go back to have `setup_requires` as parameter in `setup.py`. This will always work but is not nice in a way.
2) Make PyScaffold itself depend on `setuptools>=38.3` and keep `setup_requires` in `setup.cfg`. This will not work if a new virtualenv with an setuptools version lesser than 38 was created

[2018-08-16 14:18] FlorianWilhelm commented on #204
This seems to be a non serious problem within setuptools_scm itself, thus closing.

[2018-08-16 14:18] #204 closed

[2018-08-22 08:03] chobeat opened #206 "How to control updated files in an extension?"
Hello guys.

To simplify my issue, what I need is to be able to update an existing template by updating exclusively the files related to my extension. For instance, I don't want to overwrite the `setup.py` because I have my entry points there. So I would like to just overwrite the files specified by my extension when I update but have a full template together with my extension when I create the pr

[2018-08-22 09:27] abravalheri commented on #206
Hi @chobeat. I am not exactly sure if I understood your problem. Are those entry-points setuptools entrypoints? If that is the case, you could include them in [`setup.cfg`](https://setuptools.readthedocs.io/en/latest/setuptools.html#configuring-setup-using-setup-cfg-files) and the update mechanism @FlorianWilhelm have been working on should be enough to keep them after the update.

Additionally, y

[2018-08-22 10:41] abravalheri commented on #206
@chobeat, please let us know if you have any other doubts!
I hope you have a good time playing around with PyScaffold.

[2018-08-22 11:39] FlorianWilhelm commented on #206
@chobeat, during the update the parameter `opts['update']` will be set to `True` and this `opts` dictionary of options will be passed to your extension. So based on that you can decide what to do.

[2018-08-22 13:30] chobeat commented on #206
@FlorianWilhelm ok, this looks much more like what I need. In the following days I will try to work on this thing. Thank you again.

[2018-08-23 13:59] FlorianWilhelm commented on #163
I started working on an extension https://github.com/pyscaffold/pyscaffoldext-markdown

[2018-08-28 07:02] FlorianWilhelm commented on #206
@chobeat Cool, I will close this for now. Just let us know if you need more help. You can also take a look into https://github.com/pyscaffold where we start to collect external extensions for PyScaffold. Right now most of them are directly inside of PyScaffold but that will change in the future. What functionality would you like to add btw?

[2018-08-28 07:02] #206 closed

[2018-08-28 07:05] FlorianWilhelm opened #207 "Mention upload to Twine and PyPI"
PyScaffold already supports uploading to PyPI and even provides an alias for it with `python setup.py release` for a long time. We should mention this more in the official documentation, give a quick overview of how to use it and also mention [twine](https://pypi.org/project/twine/) as a better alternative to `python setup.py upload`.

[2018-08-28 11:05] chobeat commented on #206
@FlorianWilhelm basically I have a custom template for my company that adds precommit hooks, bitbucket-pipelines and some other things. If I see a flaw or a possible improvement to this standard template, I would like to be able to apply it to the existing projects without having to perform any additional manual work. That's all what I'm trying to achieve. If I apply an update and this update over

[2018-08-28 12:38] chobeat commented on #206
Ok, I think it's working. My function right now looks like this:

`
    def keep_on_update(self, struct, opts):
        # this function prevents undesired overwriting of files when updating existing teraki projects

        if opts["update"] is False:
            return struct, opts

        del struct[opts["project"]]["setup.py"]
        del struct[opts["project"]][".pre-commit-hooks.yaml"]

[2018-08-29 05:38] chobeat opened #208 "Proposal: a Template for custom extensions"
Hello guys,

yesterday I was thinking about the custom extension I wrote for my company and how to frame my use case. I thought back about your documentation on how to create a custom extension and while it's not so difficult, I realized that all that knowledge could be easily transfered into a pyscaffold extension. So basically a template to create a project that is ready to be filled with some l

[2018-08-29 06:45] FlorianWilhelm commented on #208
Cool idea! Have you had a look at the [pyscaffoldext-pyproject](https://github.com/pyscaffold/pyscaffoldext-pyproject) extension? Since this is is so simple it serves me right now as template for other extensions. If you want I can give you access to the PyScaffold Github organisation and you can create a repo for a PyScaffold extension template.

[2018-08-29 07:57] chobeat commented on #208
Ah ok, no, I guess that covers most of my ideas. I think I've seen it but I didn't use it as a template for my project. I just took inspiration from it and copy-pasted some pieces. Also that's the way it's presented in the documentation but maybe presenting it in the docs in a different way might suffice to give the right value to that extension. These are just my 2 cents, coming from a fresh expe

[2018-08-29 18:48] FlorianWilhelm commented on #208
@chobeat We are always looking for exactly the kind of feedback you are providing. How would you present it in the documentation such that it is easier for beginners to PyScaffold? You can also provide a PR if you want to. We are looking forward to your valuable input! Thanks in advance.

[2018-08-29 19:38] chobeat commented on #208
Ok, nevermind, I missread the documentation for that extension. I thought the command there (that I didn't read) was to create the entire structure, not just to bootstrap the project. In fact I was a bit surprised at first that I didn't use it in the first place. (never review this stuff from the office).

That said, I go back to my initial point: this stuff can be packaged in a dedicated command

[2018-08-30 06:11] FlorianWilhelm commented on #208
@chobeat Okay, cool, you should have an invitation.

[2018-08-30 08:18] abravalheri commented on #206
Hi @chobeat, nice work!

Just a minor comment that you might find useful:

If you are defining custom `setup.py` and `.pre-commit-hooks.yaml` templates (for example in `add_all_static`), you might consider something like the following approach:

[code]

This way, you don't need an extra action to delete the files in the structure.

By the way, @FlorianWilhelm, since now the updates are mostly hand

[2018-08-30 08:26] chobeat commented on #206
Unfortunately I'm not defining a custom setup.py: I'm fine with the default one for now. But still, the option might be useful in the future.

[2018-08-30 08:33] abravalheri commented on #206
Well, in that case, this might work (if you are willing to avoid an extra action):

[code]

Let's see what Florian thinks, maybe soon this line might be the default behaviour :)

[2018-08-30 11:03] FlorianWilhelm commented on #163
A first release of the [markdown extension](https://github.com/pyscaffold/pyscaffoldext-markdown) was just published on [PyPI](https://pypi.org/project/pyscaffoldext-markdown/).
@patrick-motard please check it out and let us know what you think.

I'll close this ticket for now. Please report further issues in the issue tracker of the extension.

[2018-08-30 11:03] #163 closed

[2018-08-30 12:33] abravalheri commented on #140
Sorry for the delay. I think with #209 we can finally close this issue, without fear of breaking changes in the future.

[2018-08-30 13:48] abravalheri commented on #206
@FlorianWilhelm, do you think the use of  `helpers.{ensure, merge}` doesn't help? If I remember it correct, both functions will handle content/flags accordingly. So for example, if you pass just the content, but the old entry has flags, the old flags are kept. If you pass just the flags (`None` for content), the old content is preserved...

Well, we could for sure make everything tuples by default

[2018-08-30 14:08] FlorianWilhelm commented on #206
@abravalheri, if you want to you could take a look at the pyscaffoldext-markdown extension. My use case there was that I wanted to add a few lines to `conf.py` and also run ConfigUpdater on `setup.cfg`. When traversing the struct I had to make always sure if I am dealing with a tuple or the actual content when I wanted to change something.

[2018-08-30 15:41] FlorianWilhelm commented on #206
If we had a function like this I think that would be better. Then no one would have to deal with the structure itself. Cool! Should we then postpone the release until we have it in there?

[2018-08-31 11:08] abravalheri opened #211 "Change helpers to use pathlib.Path"
In the past when introducing the extensions API, one point that was controversial was the usage of either lists of file path parts or strings using the forward slash as separator for `helpers.ensure` and `helpers.reject`.

It was suggested that we could use `pathlib.Path` to simplify the code.

Now that we run on Python 3 and `pathlib` is part of the standard library we can discuss more about that

[2018-08-31 12:43] chobeat opened #213 "Coverage fails in new projects"
Hello guys,

when running `python setup.py test` the following error is raised in projects using the default template

`Coverage.py warning: Module my_module was never imported. (module-not-imported)
Coverage.py warning: No data was collected. (no-data-collected)

ERROR: Failed to generate report: No data to report.`

It's clearly related to coverage run through pytest but I'm not sure how to fix.

[2018-08-31 14:48] FlorianWilhelm commented on #213
@chobeat Are you using the current master, version 3.1rc1 or 3.0.3?

[2018-08-31 15:09] chobeat commented on #213
3.0.3

[2018-08-31 15:43] abravalheri opened #214 "API documentation is not being compiled for latest on RTD"
For some reason the module documentation (autodoc) is not being generated for `latest`:
https://pyscaffold.org/en/latest/api/pyscaffold.api.html

`stable` is fine though:
https://pyscaffold.org/en/stable/api/pyscaffold.api.html

[2018-08-31 15:46] abravalheri commented on #211
If we decide to adopt the new behaviour:

v3.2 - Deprecation Notice
v4.0 - Actual change

[2018-08-31 21:44] FlorianWilhelm commented on #211
@abravalheri Sounds like a great idea. Since it was included in Python 3.4 we should do it as you said. Thanks!

[2018-08-31 21:46] FlorianWilhelm commented on #214
Hm... strange.. does RTD show any hints? Does it work locally? Maybe a regression since 3.0.3

[2018-08-31 21:48] FlorianWilhelm commented on #213
@chobeat, could you test with the current master branch? @abravalheri fixed some things and maybe that was one of the problems.

[2018-09-01 09:26] FlorianWilhelm commented on #214
I tried to reproduce the problem locally but failed. If you check RTD you see that in the installation step we have:
[code]
Somehow during the installation Sphinx cannot determine the name of the package from `setup.cfg` although it should. This then causes it to not find the appropriate modules for the API reference. It also seems to forget about the `src`-layout. I tried a few things on to `dev`

[2018-09-01 10:11] FlorianWilhelm commented on #214
Okay, solved it after many tries. RTD seems to be extremely stateful and whenever something doesn't work it's best to first wipe the whole setup by clicken Versions -> Edit -> Wipe. That solved it in the end.

[2018-09-01 10:11] #214 closed

[2018-09-01 15:47] FlorianWilhelm commented on #213
@chobeat You can also tried the latest release candidate with `pip install --pre --upgrade pyscaffold`.

[2018-09-02 16:55] chobeat commented on #213
The error is still thereu with 3.1rc2. Tell me if you can reproduce it. It happens in Docker, local environment and bitbucket environment, so I guess it's not due to my setup.

[2018-09-03 06:36] chobeat commented on #213
Ok, I'm sorry. It happens only with the `--no-skeleton` option. It makes sense: it has no tests and so it fails. Then probably there must be some issue in the import of the projects where I see these errors that was introduced by me. Thank you.

[2018-09-03 06:40] #213 closed

[2018-09-03 08:11] abravalheri commented on #214
Thank you very much @FlorianWilhelm!

[2018-09-03 08:13] abravalheri commented on #213
BTW @FlorianWilhelm, I think I need to update the `.coveragerc` template again to match PyScaffold's own, I did updated it in the open PR, but I don't think it is getting merged right?

[2018-09-03 16:04] chobeat commented on #208
ok guys, I created the first draft of the extension. You can find it on master. From now on I will work with incremental changes through PRs and I would like some suggestions on how to write the code more pyscaffoldingly and  have requests for things you believe should be there.

So far it's all quite simple but working on two different layers of content generation makes me stupid so I would like

[2018-09-03 16:30] FlorianWilhelm commented on #213
@abravalheri, ah right! Thanks, could you update it?

[2018-09-04 08:49] FlorianWilhelm commented on #208
@chobeat, thanks for your contribution. I got several questions:
1) You have not yet added any documentation. Also in `templates/__init__.py` you seem to define more templates then exist?
2) Have you read our coding style standards? We use flake8 https://pyscaffold.org/en/latest/contributing.html#code-contributions
3) Why do you replace `setup.py`?

I have to test it some more.

[2018-09-04 09:02] chobeat commented on #208
1) Yes, I will clean it up, you're right
2) Ok, I will work on it
3) Because in the old version, there was a conflict with the definition of the entry points. I see that it has been fixed so yeah, probably I don't need the setup.py thing anymore.

[2018-09-04 09:41] chobeat commented on #208
Ok, I've implemented the changes in a branch. Let me know if you can think of more improvements.

One that I was thinking about was to add a template folder with one template, one function doing the substitutions and an action adding the file to the structure, basically replicating the structure of `custom-extension` itself but with a "dummy" template instead.

[2018-09-04 17:51] abravalheri commented on #213
Done, @FlorianWilhelm.

Something that I have not done is including the `coverage combine` in the template for `.travis.yml`, because I understand we are not encouraging the workaround for the generated projects, but instead waiting for pytest-cov to fix this in the next release, right?

[2018-09-04 18:13] abravalheri commented on #208
@chobeat thank you very much!

What do you think of including `pre-commit` and `travis` in the repository itself (as if it was generated by running `putup --tavis --pre-commit ...`)? I think it can help to solve @FlorianWilhelm 2nd point.

It would also be nice in the future to include a very basic skeleton for the tests (is always a good practice to incentivize people to write automatic tests). I

[2018-09-05 05:27] chobeat commented on #208
ok, I will add travis and precommit. For the testability I would like to receive some pointes: what should I test beyond actual structure manipulation? Is there a reliable way to test that the extension will be picked up by `putup`? Right now I'm working with a Dockerfile but for sure it's not the best way.

[2018-09-05 08:45] abravalheri commented on #208
@chobeat, right now we are just testing the structure change and if all the files are being created... I think [`text_tox`](https://github.com/blue-yonder/pyscaffold/blob/master/tests/extensions/test_tox.py) is a good example (actually most of the extensions right now are being tested that way). I can provide you also a PR with a template for tests being generated by the extension itself.

Regardi

[2018-09-05 16:12] abravalheri commented on #211
Implemented in #215 with deprecation notices.
TODO note added explaining how to drop support for lists/tuples in v4.

[2018-09-05 16:12] #211 closed

[2018-09-07 10:39] chobeat commented on #208
I've added travis but I think it needs to be activated by the organization admin.

[2018-09-07 12:57] FlorianWilhelm opened #216 "Introduce new config options in setup.cfg for PyScaffold and templates"
We should set the following (copied over from setuptools github):
* long_description_content_type='text/x-rst; charset=UTF-8',
*    ``` project_urls={
        "Documentation": "https://setuptools.readthedocs.io/",
    },```
and set the url to github and the documentation to our homepage. This way we should also see the nice Github statistics on PyPI as with [setuptools](https://pypi.org/project/se

[2018-09-08 11:15] FlorianWilhelm commented on #208
Since I just started to work on another PyScaffold extension for data science projects, I must say that I was repeating a lot of things that I did in the markdown extension. Therefore, I think @chobeat proposal is really great and would say that we should have this extension done for the release of PyScaffold 3.2. One point is that we should clarify maybe in text form before what the extension sho

[2018-09-08 11:36] FlorianWilhelm commented on #216
I just activated these settings for `configupdater` and it works great. Check it out on [PyPI](https://pypi.org/project/configupdater/0.3.2/). One important thing though, one must use twine to upload to PyPI for this to work!

[2018-09-08 12:05] FlorianWilhelm commented on #216
Done in 499fcd1b41f7c2043f9026fb3d2251c2ceb4e16c. I guess these settings are not important enough to define them in the update procedure.

[2018-09-08 12:05] #216 closed

[2018-09-09 07:33] Ublimjo opened #217 "Support both python2.7 and python3.6"
## How can I write code that supports both python2.7 and python3.6 ?
Since pyscaffold v3.1 python2.7 supports is dropped

I want to use pyscaffold 2.5 and pyscaffold 3.2 inside setup.py

[code]

[2018-09-09 08:26] chobeat commented on #208
3) one comment: right now I see you never call `super().activate` in any action and this hinders composability. It works for one extension (I do it with NoSkeleton) but  I guess it doesn't work with multiple. I'm not an OO fanatic but I think this would be nice for the user in general to compose extensions this way. Or is there some kind of helper for this?

[2018-09-09 08:39] chobeat commented on #208
2) the namespace is just a matter of consistency or there might be problems not setting it? How can I test if it breaks? Is the key in opts `namespace`?

[2018-09-09 10:45] FlorianWilhelm commented on #217
Following information is important for the answer. Do you want to
1. develop code with Python 3 only but the code will be released with PY2/3 support using six maybe,
2. develop code with Python 2 and Python 3?

In case of 1. you could just use PyScaffold 3.1 and do your thing in Python 3. If you distribute your package as `bdist_wheel` there will be no dependency whatsoever to PyScaffold and thus

[2018-09-09 11:52] FlorianWilhelm commented on #208
@chobeat, I guess we should fix that with `super().activate` (if @abravalheri agrees and shares your concerns) but in general I am not a big fan of multiple inheritance and all the trouble you can have with the MRO. Also what you describe is no composition but inheritance and I don't understand why you actually need it. If you want to activate the `NoSkeleton` extension then why don't you just set

[2018-09-09 11:56] FlorianWilhelm commented on #208
BTW, inside the current `pyscaffoldext` namespace you now have a `pyscaffoldext_custom_extension` package and a `custom_extension` package. You should actually have only the latter one.

[2018-09-09 12:24] FlorianWilhelm opened #218 "Rework namespace extension"
Right now we historically use [pkg-resource-style namespace packages](https://packaging.python.org/guides/packaging-namespace-packages/#pkg-resources-style-namespace-packages). According to the official [packaging guide](https://packaging.python.org/guides/packaging-namespace-packages/#pkg-resources-style-namespace-packages) this seems to be still valid but an outdated option. With version 4.0 we

[2018-09-09 12:35] FlorianWilhelm commented on #207
Done in 4f02aba70fbe7b2c8609b9740b49e18f26b8b06e.

[2018-09-09 12:35] #207 closed

[2018-09-09 13:03] FlorianWilhelm commented on #193
Done in 459813ad6f6f266bd33b7ed27ce9f73b81551939.

[2018-09-09 13:03] #193 closed

[2018-09-09 13:18] FlorianWilhelm commented on #217
I have added you question to the [FAQ](https://pyscaffold.org/en/latest/faq.html).

[2018-09-12 15:10] Ublimjo commented on #217
Ok, it's clear

[2018-09-12 15:10] #217 closed

[2018-09-13 12:07] FlorianWilhelm opened #219 "Inconsistent project name when updating"
First of all, this is only an edge case problem. During an update right now we make the basic assumption that the name of the directory holding the project is still the project name. In most cases this will be true but not every time. The problem is that we treat the positional argument during an update as project name but in reality it is only the directory holding the project. The actual project

[2018-09-13 12:09] FlorianWilhelm commented on #219
@abravalheri What do you think about that? If you agree I would also postpone #138 to version 4.0 since with the current internals it cannot be implemented without nasty hacks.

[2018-09-13 13:10] abravalheri commented on #219
@FlorianWilhelm, let me just try to understand something first.
Given the scenario you have just described, `project` for us will be the name of the thing we install with `pip`, right?

For example, right now if we do:
[code]
`pyscaffoldext-myextension` is both `project` and directory name. Therefore we install it using
[code]

The proposal is that, we could do:
[code]
Is that right?

[2018-09-13 13:19] abravalheri commented on #219
It is ok for me, and indeed it brings more clarity when thinking about paths and specially `putup -u .`.
However, since we are talking about naming concepts, I feel a little bit weird using `project` as the main name of the thing that you upload to the Python Package Index (one can argue that you should you should submit `packages` to PyPI).

Since we don't have used `-n` or `-i` yet, we could thi

[2018-09-13 13:53] FlorianWilhelm commented on #219
@abravalheri Yes, exactly like you described it. I agree that `--name` is even better since this is also the attribute name in `setup.cfg` which is then more consistent. I think most people will have path = project name = package name anyway. Scikit-learn is a famous example where you `pip install scikit-learn` but import `sklearn`, thus project-name != package name. Maybe we have to check our cur

[2018-09-13 13:54] FlorianWilhelm commented on #138
Postponed to version 4.0 due to necessary API changes for this feature to be implemented cleanly. Check out #219 for more details on this.

[2018-09-13 15:01] abravalheri commented on #219
I agree Florian.

Something to consider is that, if we are accepting any path, for example:
[code]
it makes more sense to start the scaffold dictionary directly under the project folder, instead of the parent folder as we do today.

Therefore, instead of:
[code]
it would be more meaningful (and simplify things a bit), if we had
[code]

[2018-09-14 08:03] FlorianWilhelm commented on #219
Yes, I would like to see that. It becomes simpler, more consistent and thus more beautiful. I think we have a plan now :-)

[2018-09-28 10:14] chobeat commented on #208
I would to work on the 5. but I'm not sure which functions I should use.

[2018-09-28 13:54] FlorianWilhelm commented on #208
@chobeat Use `configupdater` for setting the values and for the first one you could use `pyscaffold.update.get_setup_requires_version` I guess.  Look around `pyscaffold.update` and you might find things you can use for the task.

[2018-09-29 10:53] chobeat commented on #208
@FlorianWilhelm the point 5.1 looks already covered by the standard pyscaffold versioning. How does it differ from the standard behavior?

[2018-09-29 13:47] FlorianWilhelm commented on #208
@chobeat, yes, my bad, this is already covered.

[2018-09-29 13:50] chobeat commented on #208
and what's the point of having 5.2 then? I thought one implied the other (but I'm not sure)

[2018-09-29 14:50] abravalheri commented on #208
Sorry for the delay guys. I think you are already over this by I agree with @FlorianWilhelm about `super().activate`. It is more an interface that must be implemented for the "abstract class" to work, not exactly a inheritance chain, and I believe that if we call it, we will get back a `NotImplementedError`.

@chobeat, the point 5.2 is important because we are going to need PyScaffold installed at

[2018-09-29 15:15] chobeat commented on #208
No, it's clear. I think I've always used it correctly but for some reason it didn't make sense in this context but now it's clear.

[2018-10-06 08:09] FlorianWilhelm commented on #208
Hi @chobeat, I will take a look at the extension in the next few days. After that I will restructure the extensions section of PyScaffold a bit to provide a comprehensible list of available extensions including yours of course.

[2018-10-06 09:37] FlorianWilhelm commented on #208
@chobeat, I just uploaded a first version of the extension to [PyPI](https://pypi.org/project/pyscaffoldext-custom-extension/). Thanks for your work!
Still I think there are a few more things to do to make it even more useful. I will add some PRs and issue directly in the repo of the extension.

Also one note regarding the git history. Often it makes sense to use `git rebase` to have a linear line

[2018-10-06 13:16] chobeat commented on #208
I'm not a fan of `rebase` but `rebase` vs `merge` is the new `tab` vs `spaces` so I don't want to discuss it. If you prefer a rebase or squashed history, I will do it from now on.

[2018-10-06 20:59] chobeat commented on #208
I don't have strong opinions on any of the options. I use merge because I'm more used to it and because when you have many people contributing, it's easier to reconstruct what happened when something goes wrong, but if I'm alone, yeah, I have no argument against rebase.

[2018-10-17 06:36] chobeat commented on #208
Ok, are we done or am I missing something?

[2018-10-17 06:52] FlorianWilhelm commented on #208
@chobeat, yes, I guess we have a first version now and I'll push the current state as v0.2 today. Still there is a lot more polishing to do and I'll add the corresponding issues in the repo of the plugin. For instance, we do follow the Google docstring style for PyScaffold and thus also the official plugin should lead by example.

[2018-10-17 06:52] #208 closed

[2018-11-18 11:51] quazzuk commented on #192
+1

[2018-11-29 14:13] #190 closed

[2018-12-14 00:16] thorrr opened #221 "Can't create an extension as documented"
## putup with documented arguments to bootstrap an extension doesn't work

**Please provide a minimal, self-contained, and reproducible example.**

[code]
## Versions and main components

* PyScaffold Version:  master, 3.1.4, 3.1.0
* Python Version: 3.6.7
* Operating system: Ubuntu 18
* How did you install PyScaffold: (conda/pip)  pip from git repo

[2018-12-14 00:19] thorrr commented on #221
Looks like tag v3.0.2 works without errors.  v3.1.0 and v3.1.4 breaks for me.

[2018-12-14 17:17] thorrr commented on #221
You're right - closing this.  It's contaminated by some old pyscaffold versions I had pip installed.  Apologies for the confusion!

[2018-12-14 17:17] #221 closed

[2018-12-25 22:57] govza opened #222 "Package-data not included"
## Unable to include package-data

```putup sample_project```
then putting saveme.txt to src/sample_project/ and src/ (just trying to figure out there to put it)
not changing anything at setup.cfg as it's already

saving and commiting changes

[code]

No saveme.txt file in package folder

C:\ProgramData\Anaconda3\Lib\site-packages\sample_project-0.0.post0.dev4+g9fb7ef5-py3.6.egg\sample_project

##

[2018-12-27 08:44] FlorianWilhelm commented on #222
@govza Have you added and committed the package-data file with git? Could you also check that after you run `python setup.py bdist_wheel` and open the created wheel file in `dist` with any ZIP-Archiver if it contains your data file?

This functionality is actually provided by `setuptools-scm` and I am pretty sure that @RonnyPfannschmidt has this covered.

[2019-01-01 20:49] govza commented on #222
Thank you for response @FlorianWilhelm.
Yes it was commited and no file created in wheel archive.

However, I updated to latest anaconda, and environment with python 3.7, pyscaffold 3.1 everything works very well.

[2019-01-01 20:49] #222 closed

[2019-01-01 22:03] Laurentiu-Andronache opened #223 "How do you configure PyCharm for this?"
"python setup.py test" works, but how do I configure PyCharm for this?

Because just running pytest ends in an error where it can't import.

[2019-01-02 08:13] FlorianWilhelm commented on #223
If you set up a proper virtual environment, run `python setup.py develop` after you activated it and configure that same environment in PyCharm it will run just fine.

[2019-01-02 14:02] Laurentiu-Andronache commented on #223
So nice when pros help the peons! That solved it for me, thank you!

I had only created the venv, then added the pre-commit hooks thingy without running "python setup.py develop". I was slightly depressed because of this issue, you have no idea.

So basically this is the workflow in order to develop:
$ cd to project directory
$ python -m venv venv
$ source .venv/bin/activate (or just venv\bin\acti

[2019-01-02 16:53] Laurentiu-Andronache commented on #223
Thanks!

[2019-01-02 16:53] #223 closed

[2019-01-05 20:57] Laurentiu-Andronache commented on #223
This was the solution for the Coverage issue in PyCharm.

https://stackoverflow.com/a/54056183/4257312

[2019-01-29 22:04] hershelm commented on #192
+1

[2019-02-06 19:45] jbusecke commented on #192
Hi I just discovered pyscaffold, and would like to use it to set up project repositories for my day to day analysis of scientific data (ocean circulation models, satellite data and observations).
This differs slightly from the cookiecutter template mentioned, but that is mostly in the folder structure for now.
I would love to contribute an extension but would probably need some pointers.

I prefer

[2019-02-08 00:58] FlorianWilhelm commented on #192
@jbusecke Welcome! If you want to develop your own extension it's best to start reading the [extension docs](https://pyscaffold.org/en/latest/extensions.html). Then take a look into the [PyScaffold organisation](https://github.com/pyscaffold) where you will find several example extensions like [markdown](https://github.com/pyscaffold/pyscaffoldext-markdown) and [custom-extension](https://github.co

[2019-02-08 01:19] FlorianWilhelm opened #226 "Remove support for Python 3.4"
## Describe your use-case
Python 3.4 reaches end of lifetime march 2019. After that the support for it can be safely removed.

[2019-02-08 05:07] shimbalama opened #227 "More docs on versions"
Hi,

I've tried to add a project to pip and got 'HTTPError: 400 Client Error: '0.0.post0.dev5+gc5da6ad' is an invalid value for Version. Error: Can't use PEP 440 local versions'.

Can you please flesh out your docs on how to be PEP 440 compliant? Or point me to somewhere where it's explained in the context of pyscaffold?

Thanks in advance,
Liam

[2019-02-08 06:00] FlorianWilhelm commented on #227
Hi @shimbalama, it's actually explained [here](https://pyscaffold.org/en/latest/features.html#complete-git-integration) with a link to the definition of PEP440. By `adding your project to pip` you mean uploading to PyPI I guess. I will add a sentence that PyPI does not allow local versions which is the `+gc5da6ad` part in your case. That means you can only upload tagged versions for practical reas

[2019-02-08 06:23] FlorianWilhelm commented on #227
I added in commit #0c11c0254f83e90b8e9342c16cd751a19fb784e9 more details which are directly available in the online docs. Let me know if that helps.

[2019-02-08 06:23] #227 closed

[2019-02-08 16:23] jbusecke commented on #192
Yes thanks a lot for the reponse. Ill look into these.

[2019-02-10 03:17] shimbalama commented on #227
Hi All,

I appreciated your prompt response here. Your improved docs have helped,
however, I'l still unable to upload to PyPI.

I'm sure that they make perfect sense to real devs like you, unfortunately
for me I don't have the background to be able to follow. I am a
bioinformatician (geneticist who writes basic python). I'm trying to be
more professional by setting up my projects with pyscaffold s

[2019-02-10 12:30] FlorianWilhelm commented on #227
Hi @shimbalama,

`git describe` gives you a specific version identifier for the current commit and this is also what `setuptools-scm` uses which is used by PyScaffold. So in your case you have tagged the previous commit with version `v0.1.0` but then you created another commit. This is why `git describe` tells you that you are **1** commit after `v0.1.0`, as shown in v0.1.0-**1**-g15e21ae.

What y

[2019-02-10 13:27] shimbalama commented on #227
Thanks. Very helpful!

On Sun, 10 Feb. 2019, 10:30 pm Florian Wilhelm <notifications@github.com
wrote:

[2019-02-21 17:57] tszumowski opened #228 "extras field doesn't seem to be honored in "setup.py test""
## Description of your problem

This may be a misunderstanding of the `setup.cfg` parameters. If I build the demo example with `putup my_little_project` and add an entry in `setup.cfg`'s `extras_require` section, that "extra" **always** gets pulled in when I run `python setup.py test`

I tried setting `extras = False` in `setup.cfg`, for example:
[code]
(Note: the above starts off as `extras = Tru

[2019-02-22 15:27] FlorianWilhelm commented on #228
@tszumowski Thanks for letting me know. What happens if you run it directly with `py.test`? Do the extra.requires get pulled in? And what do you mean without `pyscaffold`? So you set the folders all up by yourself?

[2019-02-22 15:50] FlorianWilhelm commented on #228
@tszumowski Okay, I think I solved it. You have to uncomment `extras = False`. Setting it to false doesn't work because pytest runner reads it as string `'False'` which evaluates to `True`. That's not a bug in PyScaffold but in [pytest-runner](https://github.com/pytest-dev/pytest-runner). I would appreciate if you inform the author about this. When it is fixed I will also update it within PyScaffo

[2019-02-22 16:39] tszumowski commented on #228
@FlorianWilhelm Thank you for looking into. If I comment with `#extras = False` in the `setup.cfg.pyscaffold.txt` file above, it seems to error immediately stating "no module named pytest". This is the output:

[code]

[2019-02-22 16:57] FlorianWilhelm commented on #228
Have you installed pytest? If you don't let it install it automatically, you must install pytest beforehand manually.

[2019-02-22 18:23] tszumowski commented on #228
@FlorianWilhelm that fixed it. Whoops!
But that brings up a question. Until this bug is fixed, if one doesn't want to install all the extras, they have to install pytest before running a `setup.py` command, which seems counterintuitive. The alternative is to uncomment the `test_requires` section, but that's mentioned as discouraged in the docs. Guess until the bug is addressed in `pytest-runner`,

[2019-02-22 18:30] tszumowski commented on #228
Also, opened this ticket:
https://github.com/pytest-dev/pytest-runner/issues/45

[2019-02-23 17:16] FlorianWilhelm commented on #228
@tszumowski Thanks for posting the bug. I think definitely one bug in `pytest-runner` is that it starts to install everything in the extra section.  Regarding the `#extras = False`. Might it be that you would have to write `#extras = false` (lower-case f)? That should also work instead of just commenting it.

[2019-02-23 17:27] FlorianWilhelm commented on #228
Lower-case and even 0 doesn't work either... I wonder though that this is not implemented within ` setuptools.command.test.Test` itself. So it seems `pytest-runner` would need to convert the proper strings to booleans itself.

Nevertheless your problem will stay the same. Either you make sure that you have everything installed yourself before you run the test or pytest-runner will install all extr

[2019-02-23 17:29] FlorianWilhelm commented on #228
Since this bug is not in PyScaffold I will close the issue. Feel free to reopen if you think otherwise.

[2019-02-23 17:29] #228 closed

[2019-03-07 17:28] KiemNguyen commented on #192
@FlorianWilhelm This is exactly what I'm trying to do for our Data Science team. I have been "hacking" the extension and I would love to contribute.

[2019-03-08 08:36] FlorianWilhelm commented on #192
@KiemNguyen cool to here from you. I am always happy about new contributors? Have you looked already into https://github.com/pyscaffold/pyscaffoldext-custom-extension ? I started some work on Master but wasn't able to completely finish it before my vacation. Still it's a good starting point for how a custom extension should look like. Let me know if you need more info.

We could start by discussin

[2019-03-10 15:07] sea212 opened #229 "setup.cfg long-description-content-type prevents release on pypi"
I setup a project using pyscaffold 3.1. Setup.cfg contained the following line:
``long-description-content-type = text/reStructuredText``
I could not push my project on pypi because it expected:
``long-description-content-type = text/x-rst``

[2019-03-10 19:15] FlorianWilhelm commented on #229
Thanks, might it be that you rather use the current master instead of a released version? Can you provide a PR?

[2019-03-10 20:02] sea212 commented on #229
In version 3.1 there was no "long-description-content-type" key specified in the setup.cfg.template:
https://github.com/pyscaffold/pyscaffold/blob/v3.1/src/pyscaffold/templates/setup_cfg.template

In the current master branch though, the line is specified correctly:
https://github.com/pyscaffold/pyscaffold/blob/master/src/pyscaffold/templates/setup_cfg.template#L12

Therefore I assume that this bu

[2019-03-10 20:09] FlorianWilhelm commented on #229
Ok, cool, thanks. That means we can use this.

[2019-03-10 20:09] #229 closed

[2019-03-10 20:30] sea212 commented on #229
Note that the key "long_description_content_type" is written with underscores in the official setuptools package: https://github.com/pypa/setuptools/blob/master/setup.py#L99

When I pushed my package on pypi today, it accepted the variant with the "-" instead of "_".

[2019-03-10 21:14] FlorianWilhelm commented on #229
Thanks for letting me know. I think dashes and underscores can be used interchangeable almost everywhere in setuptools.

[2019-04-19 21:13] TTimo opened #230 "How to setup a platform dependency in pyscaffold?"
Hello,

I need to add pywin32 as a dependency for Windows platforms to my pyscaffold based python project. I have found some information on how to do it for setup.py projects, but not something that uses setup.cfg, seems like the semicolon separator would prevent a syntax such as `pywin32>=223;platform_system==Windows`

Help?

[2019-04-20 14:09] FlorianWilhelm commented on #230
Hi,

you could try out using line breaks to separate dependencies. In this case you got the semicolon left to specify the platform. Check out [this example](https://github.com/psychopy/psychopy/blob/master/setup.cfg).

Cheers,
Florian

[2019-04-22 19:23] TTimo commented on #230
Thanks! That worked great .. I didn't expect the one module per line would do it ..

[2019-04-22 19:23] #230 closed

[2019-05-07 11:02] TyberiusPrime opened #232 "Disable setuptools_scm"
## Describe your use-case
For reasons (which start with setuptools-rust and end with poetry-might-do-what-pip-doesn't),
I need to disable the scm derived version numbers for a project and define my version without executing code (ie. in setup.cfg).

## Describe the solution you would like to see for your use-case
setuptools_scm doc says there's a use_scm_version argument for setup(), but that does

[2019-05-07 11:55] TyberiusPrime commented on #232
Ok, I have an ugly, ugly, ugly work around for the current relased pyscaffold
using monkey patching:

a) add pyscaffold to pyproject.toml build-system, so we can import pyscaffold in setup.py
b) setup.py
[code]

[2019-05-07 15:37] FlorianWilhelm commented on #232
Have you tried `setup(use_pyscaffold=False)` in `setup.py`? You will, of course, lose some other features as well but it might do what you want.

[2019-05-08 07:48] TyberiusPrime commented on #232
Am I correct in my reading of the code that all that I'm going to lose is the doc/doctest/sphinx/test commands for setup.py?

[2019-05-08 07:51] FlorianWilhelm commented on #232
Exactly

[2019-05-08 10:25] TyberiusPrime commented on #232
I belive I can live with that :).

[2019-05-08 10:25] #232 closed

[2019-05-09 15:42] alextremblay commented on #191
I would also very much like to see an interactive mode added :)

[2019-05-31 20:18] n-batalha opened #233 "[setuptools_scm] Error setting up the development environment"
## Error setting up the development environment

Following the instructions [here](https://pyscaffold.org/en/latest/dependencies.html#development-environment) for pipenv but adding `--pyproject`.
[code]

I get [this traceback](https://github.com/pyscaffold/pyscaffold/files/3242727/stack-trace-1.log).

---

### Optional info:

* If either omitting `--pyproject` or removing `setuptools_scm` that's o

[2019-06-15 16:20] FlorianWilhelm commented on #233
Thanks for posting this issue. The `pyproject` plugin is a bit outdated and I definitely need to update it soon.

[2019-06-27 11:23] FlorianWilhelm commented on #233
In version 0.2 of the pyproject extension, I removed setuptools_scm from `pyproject.toml`. Thanks for reporting this issue.

[2019-06-27 11:23] #233 closed

[2019-07-03 05:58] FlorianWilhelm commented on #192
@KiemNguyen, @jbusecke, @hershelm, and @quazzuk: I created a very first version of a data science extensions under [pyscaffoldext-dsproject](https://github.com/pyscaffold/pyscaffoldext-dsproject) which can already be installed via pypi. It's rather an alpha version but I am looking for feedback. Please post your thoughts in the issue tracker of the extension itself. Thanks!

[2019-07-03 05:58] #192 closed

[2019-07-03 15:04] jbusecke commented on #192
FWIW I actually decided to stick with cookiecutter and create a [preset](https://github.com/jbusecke/cookiecutter-science-project) that is a bit more focused on data analysis of existing output (motivated by my earth science work).

[2019-07-04 07:58] FlorianWilhelm commented on #192
@jbusecke Thanks for letting me know. Still, if you have any feedback on [pyscaffoldext-dsproject](https://github.com/pyscaffold/pyscaffoldext-dsproject), I would value your feedback.

[2019-07-09 19:21] abravalheri commented on #175
Just to report some progress:

Since we have moved version (I think), we can start working on deprecations and changes of API!
Therefore I have created 2 new repositories: pyscaffold/pyscaffoldext-cookiecutter and pyscaffold/pyscaffoldext-django
I still have to work a bit in the documentation (by porting stuff from PyScaffold itself and wire the doc pages properly), create the readthedocs, upload

[2019-07-10 10:28] FlorianWilhelm commented on #175
Thanks for your work @abravalheri! I created a branch `v4.0.x` where all changes to PyScaffold itself can go during this transition. I would keep the master for the time being to track bugfix changes for the current version 3.2. Later on we just merge `v4.0.x` before a release.

[2019-07-10 22:58] abravalheri commented on #175
Hi @FlorianWilhelm , I added the commits directly to the new branch, since they are more or less straightforward. Please let me know if you prefer PR's instead (I can revert the commits).

If I have the time to work in the other open issues for v4, I think I will use the same methodology, and submit PR's when the topic is more controversial or if we have not discussed the implementation details be

[2019-07-10 22:58] #175 closed

[2019-07-11 11:56] FlorianWilhelm commented on #175
Hi @abravalheri, thank you, that's perfectly fine, just commit to the new branch and a PR on controversial things.

Let me know if I should release some alpha version of the `v4.0` branch to test the actual extracted extensions. With the help of the versioning we can make sure that those extensions will only work with 4.x releases.

[2019-07-14 13:00] FlorianWilhelm opened #235 "On the road to PyScaffold 4.0"
## General discussion

This issue is a stub for everything that needs to be done and general discussion for the preparation of a PyScaffold 4.0 release which will include breaking changes.

[2019-07-14 13:05] FlorianWilhelm commented on #235
@abravalheri , let's discuss here what needs to be done to get the `v4.0.x` branch building again as well as the new extensions for django and cookiecutter. I think it makes sense to have `setup_requires` in a way that extensions either work with PyScaffold 3.2 or 4.0 to avoid version conflicts when we include breaking changes. Do you agree?

To fix the unit tests I already released an alpha versi

[2019-07-14 13:12] FlorianWilhelm commented on #182
Removed in f8803392fab2e6b40d360cebe68616f868ae253a

[2019-07-14 13:12] #182 closed

[2019-07-14 13:15] FlorianWilhelm commented on #226
Done in 7a8dc16288f83bafa05a496bfb2ca6ce3ed1d11c

[2019-07-14 13:15] #226 closed

[2019-07-15 11:06] abravalheri commented on #235
Hi @FlorianWilhelm, great thinking!

Do you mean putting a cap on setup_requires (like you are doing nowadays for 3.2)? Something like: `setup_requires = pyscaffold>=4.0a0,<4.1a0`. I think this should be fine... Should we do `<4.1a0` or `<5.0a0`? Since are following semantic versioning, all the extensions that work on 4.1 will automatically work until 5.0. If we start with the cap in 5.0, when we

[2019-07-15 12:51] abravalheri commented on #191
In order to be able to implement something like that, I believe we need to split 2 concepts that are currently bundled together in the implementation of the cli:

**(a)** The specification of PyScaffold parameters
**(b)** The specification of `putup` parameters

Currently, we can already use PyScaffold without `putup` , since [`create_project`](https://pyscaffold.org/en/latest/python-api.html) alr

[2019-07-15 13:18] abravalheri commented on #191
In addition to my previous comment, we should also discuss how we would like to implement this feature:

1. *Ad-hoc* manner: we can simply inspect `ARGV` for the presence of `--interactive` or `-i` and instead of calling the regular `putup`'s `cli`, call the interactive front-end.
2. *Built-in* into `argparse`: when `--interactive` is passed we replace `run_scaffold` by a different function into t

[2019-07-15 13:26] abravalheri commented on #191
My opinion is that the proxy to `argparse` (3rd option [first comment](https://github.com/pyscaffold/pyscaffold/issues/191#issuecomment-511389044)) + using the `command` parameter (2nd option [second comment](https://github.com/pyscaffold/pyscaffold/issues/191#issuecomment-511398276)), can be just good enough, so we don't make things too complex and we don't break much stuff, paying the price of h

[2019-07-15 13:39] abravalheri commented on #138
Just a brainstorm for the `--update` flag.

For the far future, it should be a built-in extension :P to allow something like:
[code]
- `strategy:git-merge`: PyScaffold could create a branch when updating, replace all the files and then attempt a merge. If the merge fails the user have to solve a merge conflict. Very straight forward
- `strategy:keep`: PyScaffold can create a `<filename>.alt~` file

[2019-07-15 14:12] abravalheri opened #236 "Introduce global config"
Since PyScaffold users probably use `putup` to create new packages in a recurring basis, it would be nice to allow them to "save" their favourite options somewhere.

### Proposal
The `create_project` function could deep merge the arguments coming from the current sources:
1. Global configuration file (or file specified by an `--config PATH` flag)
2. Local `setup.cfg` (or maybe `pyproject.toml` lik

[2019-07-15 14:25] abravalheri commented on #236
Example of possible config file:

[code]

Please notice that if `author` and `author_email` are present in the global config, we don't have to use `git config --get`.

Currently, extension classes have an `args` property that are being serialized as a string. I believe that, if this option is a dictionary, we can create a new subsection. This would allow us to do something like:

[code]

(Related

[2019-07-15 14:27] abravalheri commented on #235
As a new improvement, #236 would be excellent to have (however, since it is non-breaking improvement, it can be shipped in a minor version bump) 😄

[2019-07-15 15:32] abravalheri opened #237 "Lazy contents for `define_structure` / `create_structure`"
Right now, PyScaffold keeps an in-memory representation of the entire project structure, and all the associated files, which is not very efficient. Moreover, if we check the [`structure.py`](https://github.com/pyscaffold/pyscaffold/blob/master/src/pyscaffold/structure.py), we can see that calling a function with `opts` as an argument is the de-facto standard.

### Proposal
We can accept a function